<footer class="footer" id="j_foot_nav">
    <div class="foot_u">
        <ul class="n_c">
            <li data-url="http://m.paopaoche.net/rrank.html">安卓软件</li>
            <li data-url="http://m.paopaoche.net/wpai.html">手机网游</li>
            <li data-url="http://m.paopaoche.net/w/Catalogid/70/0/">手游攻略</li>
            <li data-url="http://m.paopaoche.net/k.html">游戏专区</li>
        </ul>
    </div>
    <menu class="d-menu" style="display:none;"></menu>
    <div class="ft-copy">
        <p><a data-url="http://libao.paopaoche.net">电脑版</a>|<em>触屏版</em></p>
        <div class="btn-top" style="display:none;"><a id="j_back_top" data-pvtag="foot.back" data-nogo="1"></a></div>
    </div>
</footer>
<script src="__PUBLIC__/Package/ppcmobile/js/base.js" type="text/javascript"></script>
<script src="__PUBLIC__/Package/ppcmobile/js/package.js" type="text/javascript"></script>
<script>
    seajs.use('common.js', function(init){
        init();
    });
</script> 
<script src="__STATIC__/jquery-2.0.3.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/Package/ppcmobile/js/common.js" type="text/javascript"></script>
<block name="script"></block>
<script type="text/javascript">
    tabShow=function(m,c,n,t){;
        //m为导航统一名称，c为对应内容统一名称，n为对应序号,t为数量（比如这个切换效果有三块内容则为3）
        for(i=1;i<=t;i++){
            document.getElementById(m+i).className = "";
            document.getElementById(c+i).style.display = "none";
        }
        document.getElementById(m+n).className = "cur";
        document.getElementById(c+n).style.display = "";
    };
</script>
</body>

</html>