<header class='header'>
    <div class="top-bar">
        <div class="con-tit"><a href="{:C('MOBILE_STATIC_URL')}" class="logo fl">跑跑车礼包网</a></div>
        <div class="fr"><span class="mod-tit1" data-url="javascript:void(0)"><i class="sign" id="nav_forum"></i></span></div>
    </div>
<div id="popNav" style="display: none;">
        <ul class="popNav-ul">
            <li><a href="http://m.libao.paopaoche.net"><span></span>礼包首页</a></li>
            <li><a href="http://m.libao.paopaoche.net/libao/"><span></span>礼包大全</a></li>
            <li><a href="http://m.libao.paopaoche.net/xinshou/"><span></span>新手卡</a></li>
            <li><a href="http://m.paopaoche.net/"><span></span>手游下载</a></li>
            <li><a href="http://m.paopaoche.net/syku.html"><span></span>手游库</a></li>
            <li><a href="http://m.paopaoche.net/w/Catalogid/70/0/"><span></span>攻略大全</a></li>
        </ul>
 </div>
<div id="topfhw" style="overflow:hidden;width:100%;height:auto;margin:0 auto;"><a target="_blank" href="http://www.paopaoche.net/android/80251.html"><img src="http://pic.9ht.com/up/2015-4/14298427894773084.jpg" border="0" style="width:100%;height:auto;display:block; "></a></div>
    <div class="nav-top" id="nav-top" style="height:30px; padding:6px 0;border-bottom:1px solid #e6e6e6;">
        <ul class="n_c">
            <li data-url="{:C('MOBILE_STATIC_URL')}">首页</li>
            <li data-url="{:C('MOBILE_STATIC_URL')}/libao/">礼包大全</li>
            <li data-url="{:getWidgetPath('39')}">新手卡</li>
        </ul>
    </div>
</header>
