<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <include file="Document@jf96u/Public/wdsjhead" />
</head>
<body>
    <!---body--->
    <include file="Document@jf96u/Public/wdsjbody" />
    <!---bodyEND--->

    <!---脚部--->
	 <include file="Document@jf96u/Public/wdsjfoot" />
   
    <!---脚部END--->

    <!---JS--->
    <block name="script"></block>
    <!---JS--->
</body>
</html>