<extend name="Home@7230/Base/common"/>

<block name="style"><link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/7230/css/index.css"/></block>
<block name="body">
    <!-----头部tab---->
    <div id="index-tab">
        <p class="left"><b class="cur yx">游戏</b><b class="zt">专题</b><b class="hj">合集</b><b class="cs">厂商</b></p>
        <p class="right current">
        <span class="right-t">
            <a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a>
            <a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a>
            <a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a>
            <a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a>
            <a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a>
            <a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a>
        </span>
        <span class="right-b yxhj">
            <i class="cur"><a href="" target="_blank" class="pic"><img src="__IMG__/pic3.jpg"></a><a href="" target="_blank" class="tit">这是游戏的标题</a><b><a href="" target="_blank"><img src="__IMG__/pic1.jpg"><u>这是游戏的标题</u></a><s></s></b></i>
            <i><a href="" target="_blank" class="pic"><img src="__IMG__/pic3.jpg"></a><a href="" target="_blank" class="tit">这是游戏的标题</a><b><a href="" target="_blank"><img src="__IMG__/pic1.jpg"><u>这是游戏的标题</u></a><s></s></b></i>
            <i><a href="" target="_blank" class="pic"><img src="__IMG__/pic3.jpg"></a><a href="" target="_blank" class="tit">这是游戏的标题</a><b><a href="" target="_blank"><img src="__IMG__/pic1.jpg"><u>这是游戏的标题</u></a><s></s></b></i>
            <i><a href="" target="_blank" class="pic"><img src="__IMG__/pic3.jpg"></a><a href="" target="_blank" class="tit">这是游戏的标题</a><b><a href="" target="_blank"><img src="__IMG__/pic1.jpg"><u>这是游戏的标题</u></a><s></s></b></i>
            <i><a href="" target="_blank" class="pic"><img src="__IMG__/pic3.jpg"></a><a href="" target="_blank" class="tit">这是游戏的标题</a><b><a href="" target="_blank"><img src="__IMG__/pic1.jpg"><u>这是游戏的标题</u></a><s></s></b></i>
            <i><a href="" target="_blank" class="pic"><img src="__IMG__/pic3.jpg"></a><a href="" target="_blank" class="tit">这是游戏的标题</a><b><a href="" target="_blank"><img src="__IMG__/pic1.jpg"><u>这是游戏的标题</u></a><s></s></b></i>
            <i><a href="" target="_blank" class="pic"><img src="__IMG__/pic3.jpg"></a><a href="" target="_blank" class="tit">这是游戏的标题</a><b><a href="" target="_blank"><img src="__IMG__/pic1.jpg"><u>这是游戏的标题</u></a><s></s></b></i>
            <i><a href="" target="_blank" class="pic"><img src="__IMG__/pic3.jpg"></a><a href="" target="_blank" class="tit">这是游戏的标题</a><b><a href="" target="_blank"><img src="__IMG__/pic1.jpg"><u>这是游戏的标题</u></a><s></s></b></i>
            <i><a href="" target="_blank" class="pic"><img src="__IMG__/pic3.jpg"></a><a href="" target="_blank" class="tit">这是游戏的标题</a><b><a href="" target="_blank"><img src="__IMG__/pic1.jpg"><u>这是游戏的标题</u></a><s></s></b></i>
            <i><a href="" target="_blank" class="pic"><img src="__IMG__/pic3.jpg"></a><a href="" target="_blank" class="tit">这是游戏的标题</a><b><a href="" target="_blank"><img src="__IMG__/pic1.jpg"><u>这是游戏的标题</u></a><s></s></b></i>
        </span>
        </p>
        <p class="right">
        <span class="right-t">
            <a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a>
            <a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a>
            <a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a>
            <a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a>
            <a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a>
            <a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a>
        </span>
        <span class="right-b">
            <i class="cur"><a href="" target="_blank"><img src="__IMG__/pic1.jpg"><u>这是游戏的标题</u></a><s></s></i><i class="cur"><a href="" target="_blank"><img src="__IMG__/pic1.jpg"><u>这是游戏的标题</u></a><s></s></i>
            <i class="cur"><a href="" target="_blank"><img src="__IMG__/pic1.jpg"><u>这是游戏的标题</u></a><s></s></i><i class="cur"><a href="" target="_blank"><img src="__IMG__/pic1.jpg"><u>这是游戏的标题</u></a><s></s></i>
            <i class="cur"><a href="" target="_blank"><img src="__IMG__/pic1.jpg"><u>这是游戏的标题</u></a><s></s></i><i class="cur"><a href="" target="_blank"><img src="__IMG__/pic1.jpg"><u>这是游戏的标题</u></a><s></s></i>
        </span>
        </p>
        <p class="right">
        <span class="right-t">
            <a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a>
            <a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a>
            <a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a>
            <a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a>
        </span>
        <span class="right-b">
            <i class="cur"><a href="" target="_blank"><img src="__IMG__/pic1.jpg"><u>这是游戏的标题</u></a><s></s></i><i class="cur"><a href="" target="_blank"><img src="__IMG__/pic1.jpg"><u>这是游戏的标题</u></a><s></s></i>
            <i class="cur"><a href="" target="_blank"><img src="__IMG__/pic1.jpg"><u>这是游戏的标题</u></a><s></s></i><i class="cur"><a href="" target="_blank"><img src="__IMG__/pic1.jpg"><u>这是游戏的标题</u></a><s></s></i>
            <i class="cur"><a href="" target="_blank"><img src="__IMG__/pic1.jpg"><u>这是游戏的标题</u></a><s></s></i><i class="cur"><a href="" target="_blank"><img src="__IMG__/pic1.jpg"><u>这是游戏的标题</u></a><s></s></i>
        </span>
        </p>
        <p class="right">
        <span class="right-t">
            <a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a>
            <a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a>
            <a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a>
            <a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a><a href="" target="_blank">愤怒的小鸟</a>
        </span>
        <span class="right-b">
            <i class="cur"><a href="" target="_blank"><img src="__IMG__/pic1.jpg"><u>这是游戏的标题</u></a><s></s></i><i class="cur"><a href="" target="_blank"><img src="__IMG__/pic1.jpg"><u>这是游戏的标题</u></a><s></s></i>
            <i class="cur"><a href="" target="_blank"><img src="__IMG__/pic1.jpg"><u>这是游戏的标题</u></a><s></s></i><i class="cur"><a href="" target="_blank"><img src="__IMG__/pic1.jpg"><u>这是游戏的标题</u></a><s></s></i>
            <i class="cur"><a href="" target="_blank"><img src="__IMG__/pic1.jpg"><u>这是游戏的标题</u></a><s></s></i><i class="cur"><a href="" target="_blank"><img src="__IMG__/pic1.jpg"><u>这是游戏的标题</u></a><s></s></i>
        </span>
        </p>
    </div>
    <!-----banner部分------>
    <div id="index-banner">
        <p><a href="" target="_blank"><img src="__IMG__/mtxs.jpg"><i>爸爸去哪儿：这是游戏的呗哦体<b>这是游戏推荐词事实上撒上次</b><b class="star3">推荐指数：</b><s></s></i></a></p>
        <p class="middle">
            <a href="" target="_blank" class="top"><img src="__IMG__/pic4.jpg"><i>爸爸去哪儿：这是游戏的呗哦体<b>这是游戏推荐词事实上撒上次</b><b class="star3">推荐指数：</b><s></s></i></a>
            <a href="" target="_blank"><img src="__IMG__/pic1.jpg"><i>爸爸去哪儿：这是游戏的呗哦体<b>这是游戏推荐词事实上撒上次</b><b class="star3">推荐指数：</b><s></s></i></a>
        </p>
        <p class="middle">
            <a href="" target="_blank" class="top"><img src="__IMG__/pic4.jpg"><i>爸爸去哪儿：这是游戏的呗哦体<b>这是游戏推荐词事实上撒上次</b><b class="star3">推荐指数：</b><s></s></i></a>
            <a href="" target="_blank"><img src="__IMG__/pic1.jpg"><i>爸爸去哪儿：这是游戏的呗哦体<b>这是游戏推荐词事实上撒上次</b><b class="star3">推荐指数：</b><s></s></i></a>
        </p>
        <p><a href="" target="_blank"><img src="__IMG__/mtxs.jpg"><i>爸爸去哪儿：这是游戏的呗哦体<b>这是游戏推荐词事实上撒上次</b><b class="star3">推荐指数：</b><s></s></i></a></p>
    </div>
    <div id="index-main">
        <!-----焦点关注------>
        <div id="jdgz" class="tycl">
            <p class="title one">焦点关注<i><a href="" target="_blank">更多+</a></i></p>
            <div class="jdgz-left">
                <p>
                    <a href="" target="_blank" class="pic"><i>这是游戏的标题</i><s></s><img src="__IMG__/pic1.jpg"></a>
                    <span>
                        <i><a href="" target="_blank" class="tit">【游戏资讯】</a><a href="" target="_blank">愤怒的小鸟：全民都喜欢的游戏</a></i><i class="info">这还是快点看看健康数据库就撒点看看健康数据库就撒点看看健康数据库就撒娇山东科技大的撒娇时刻记得看大家的健康...</i>
                        <a href="" target="_blank" class="xw">这是技术方法快速离开看技术开发</a><a href="" target="_blank" class="xw">这是技术方法快速离开技术方法快速离开技术方法快速离开看技术开发</a>
                        <a href="" target="_blank" class="xw">这是技术方法快速离开看技术开发</a><a href="" target="_blank" class="xw">这是技术方法快速离开看技术开发</a>
                    </span>
                </p>
                <p>
                    <a href="" target="_blank" class="pic"><i>这是游戏的标题</i><s></s><img src="__IMG__/pic1.jpg"></a>
                    <span>
                        <i><a href="" target="_blank" class="tit">【游戏资讯】</a><a href="" target="_blank">愤怒的小鸟：全民都喜欢的游戏</a></i><i class="info">这还是快点看看健康数据库就撒点看看健康数据库就撒点看看健康数据库就撒娇山东科技大的撒娇时刻记得看大家的健康...</i>
                        <a href="" target="_blank" class="xw">这是技术方法快速离开看技术开发</a><a href="" target="_blank" class="xw">这是技术方法快速离开技术方法快速离开技术方法快速离开看技术开发</a>
                        <a href="" target="_blank" class="xw">这是技术方法快速离开看技术开发</a><a href="" target="_blank" class="xw">这是技术方法快速离开看技术开发</a>
                    </span>
                </p>
                <p>
                    <a href="" target="_blank" class="pic"><i>这是游戏的标题</i><s></s><img src="__IMG__/pic1.jpg"></a>
                    <span>
                        <i><a href="" target="_blank" class="tit">【游戏资讯】</a><a href="" target="_blank">愤怒的小鸟：全民都喜欢的游戏</a></i><i class="info">这还是快点看看健康数据库就撒点看看健康数据库就撒点看看健康数据库就撒娇山东科技大的撒娇时刻记得看大家的健康...</i>
                        <a href="" target="_blank" class="xw">这是技术方法快速离开看技术开发</a><a href="" target="_blank" class="xw">这是技术方法快速离开技术方法快速离开技术方法快速离开看技术开发</a>
                        <a href="" target="_blank" class="xw">这是技术方法快速离开看技术开发</a><a href="" target="_blank" class="xw">这是技术方法快速离开看技术开发</a>
                    </span>
                </p>
            </div>
            <div class="jdgz-right">
                <div class="recom" id="recomtab">
                    <p class="title">今日推荐<a href="" target="_blank" class="more"></a></p>
                <span>
                    <p class="recom-top">
                        <a href="" target="_blank" class="pic3"><img src="__IMG__/pic3.jpg"></a>
                        <b>
                            <a href="" target="_blank" class="title">放开那三国</a>
                            <i><s>评分：8.3分</s><s>卡牌游戏</s></i>
                            <i class="info">开拍游戏的时代怎能少了时代怎能少了代怎能少了时代怎...</i>
                        </b>
                    </p>
                    <p class="down"><a href="" class="mfxz">免费下载</a><a href="" class="glzq">攻略专区</a></p>
                </span>
                </div>
                <div class="recom rmlb" id="recomtab">
                    <p class="title">热门礼包<a href="" target="_blank" class="more"></a></p>
                <span>
                    <p class="recom-top">
                        <a href="" target="_blank" class="pic3"><img src="__IMG__/pic3.jpg"></a>
                        <b>
                            <a href="" target="_blank" class="title">放开那三国</a>
                            <i><s>礼包类型</s><s>封测礼包</s></i>
                            <i><s>礼包余量/总量</s><s>200/4500</s></i>
                            <a href="" class="down">礼包领取</a>
                        </b>
                    </p>
                    <a href="" target="_blank" class="lblq">愤怒的小鸟礼包</a>
                    <a href="" target="_blank" class="lblq">愤怒的小鸟礼包</a>
                    <a href="" target="_blank" class="lblq">愤怒的小鸟礼包</a>
                </span>
                </div>
            </div>
        </div>
        <!-----b报告玩家----->
        <div id="jdgz" class="tycl">
            <p class="title bgwj two">报告玩家<i><a href="" target="_blank">每周一2</a>|<a href="" target="_blank">周游世界</a>|<a href="" target="_blank">0角度试玩</a>|<a href="" target="_blank">更多+</a></i></p>
            <div class="jdgz-left">
                <p>
                    <a href="" target="_blank" class="pic"><i>这是游戏的标题</i><s></s><img src="__IMG__/pic1.jpg"></a>
                    <span>
                        <i><a href="" target="_blank" class="tit">【游戏资讯】</a><a href="" target="_blank">愤怒的小鸟：全民都喜欢的游戏</a></i><i class="info">这还是快点看看健康数据库就撒点看看健康数据库就撒点看看健康数据库就撒娇山东科技大的撒娇时刻记得看大家的健康...</i>
                        <a href="" target="_blank" class="xw">这是技术方法快速离开看技术开发</a><a href="" target="_blank" class="xw">这是技术方法快速离开技术方法快速离开技术方法快速离开看技术开发</a>
                        <a href="" target="_blank" class="xw">这是技术方法快速离开看技术开发</a><a href="" target="_blank" class="xw">这是技术方法快速离开看技术开发</a>
                    </span>
                </p>
                <p>
                    <a href="" target="_blank" class="pic"><i>这是游戏的标题</i><s></s><img src="__IMG__/pic1.jpg"></a>
                    <span>
                        <i><a href="" target="_blank" class="tit">【游戏资讯】</a><a href="" target="_blank">愤怒的小鸟：全民都喜欢的游戏</a></i><i class="info">这还是快点看看健康数据库就撒点看看健康数据库就撒点看看健康数据库就撒娇山东科技大的撒娇时刻记得看大家的健康...</i>
                        <a href="" target="_blank" class="xw">这是技术方法快速离开看技术开发</a><a href="" target="_blank" class="xw">这是技术方法快速离开技术方法快速离开技术方法快速离开看技术开发</a>
                        <a href="" target="_blank" class="xw">这是技术方法快速离开看技术开发</a><a href="" target="_blank" class="xw">这是技术方法快速离开看技术开发</a>
                    </span>
                </p>
                <p>
                    <a href="" target="_blank" class="pic"><i>这是游戏的标题</i><s></s><img src="__IMG__/pic1.jpg"></a>
                    <span>
                        <i><a href="" target="_blank" class="tit">【游戏资讯】</a><a href="" target="_blank">愤怒的小鸟：全民都喜欢的游戏</a></i><i class="info">这还是快点看看健康数据库就撒点看看健康数据库就撒点看看健康数据库就撒娇山东科技大的撒娇时刻记得看大家的健康...</i>
                        <a href="" target="_blank" class="xw">这是技术方法快速离开看技术开发</a><a href="" target="_blank" class="xw">这是技术方法快速离开技术方法快速离开技术方法快速离开看技术开发</a>
                        <a href="" target="_blank" class="xw">这是技术方法快速离开看技术开发</a><a href="" target="_blank" class="xw">这是技术方法快速离开看技术开发</a>
                    </span>
                </p>
            </div>
            <div class="paih">
                <p class="title"><i class="cur">排行榜</i><i>最新</i></p>
                <b class="nav"><i>时间</i><i>游戏名称</i><i>测试类型</i></b>
                <ul class="cur">
                    <li><i>2014-10-01</i><a href="" target="_blank">这是游戏的标题</a><i>不删档内侧</i></li>
                    <li><i>2014-10-01</i><a href="" target="_blank">这是游戏的标题</a><i>不删档内侧</i></li>
                    <li><i>2014-10-01</i><a href="" target="_blank">这是游戏的标题</a><i>不删档内侧</i></li>
                    <li><i>2014-10-01</i><a href="" target="_blank">这是游戏的标题</a><i>不删档内侧</i></li>
                    <li><i>2014-10-01</i><a href="" target="_blank">这是游戏的标题</a><i>不删档内侧</i></li>
                    <li><i>2014-10-01</i><a href="" target="_blank">这是游戏的标题</a><i>不删档内侧</i></li>
                    <li><i>2014-10-01</i><a href="" target="_blank">这是游戏的标题</a><i>不删档内侧</i></li>
                    <li><i>2014-10-01</i><a href="" target="_blank">这是游戏的标题</a><i>不删档内侧</i></li>
                    <li><i>2014-10-01</i><a href="" target="_blank">这是游戏的标题</a><i>不删档内侧</i></li>
                    <li><i>2014-10-01</i><a href="" target="_blank">这是游戏的标题</a><i>不删档内侧</i></li>
                    <li><i>2014-10-01</i><a href="" target="_blank">这是游戏的标题</a><i>不删档内侧</i></li>
                </ul>
                <ul>
                    <li><i>2014-10-01</i><a href="" target="_blank">这是游戏的标题</a><i>不删档内侧</i></li>
                    <li><i>2014-10-01</i><a href="" target="_blank">这是游戏的标题</a><i>不删档内侧</i></li>
                    <li><i>2014-10-01</i><a href="" target="_blank">这是游戏的标题</a><i>不删档内侧</i></li>
                    <li><i>2014-10-01</i><a href="" target="_blank">这是游戏的标题</a><i>不删档内侧</i></li>
                    <li><i>2014-10-01</i><a href="" target="_blank">这是游戏的标题</a><i>不删档内侧</i></li>
               </ul>
            </div>
        </div>
        <!-----游戏评测---->
        <div id="yxpc">
            <p class="title three">游戏评测<i><a href="" target="_blank">每周一2</a>|<a href="" target="_blank">周游世界</a>|<a href="" target="_blank">0角度试玩</a>|<a href="" target="_blank">更多+</a></i></p>
            <span><a href="" target="_blank"><s class="circle05"></s><img src="__IMG__/pic1.jpg"></a><a href="" target="_blank" class="tit">这是游戏的标题</a></span>
            <span><a href="" target="_blank"><s class="circle95"></s><img src="__IMG__/pic1.jpg"></a><a href="" target="_blank" class="tit">这是游戏的标题</a></span>
            <span><a href="" target="_blank"><s class="circle95"></s><img src="__IMG__/pic1.jpg"></a><a href="" target="_blank" class="tit">这是是游戏的标是游戏的标的标题</a></span>
            <span><a href="" target="_blank"><s class="circle100"></s><img src="__IMG__/pic1.jpg"></a><a href="" target="_blank" class="tit">这是游戏的标题</a></span>
            <span><a href="" target="_blank"><s class="circle20"></s><img src="__IMG__/pic1.jpg"></a><a href="" target="_blank" class="tit">这是是游戏的标是游戏的标是游戏的标的标题</a></span>
            <span><a href="" target="_blank"><s class="circle85"></s><img src="__IMG__/pic1.jpg"></a><a href="" target="_blank" class="tit">这是游是游戏的标戏的标题</a></span>
            <span><a href="" target="_blank"><s class="circle15"></s><img src="__IMG__/pic1.jpg"></a><a href="" target="_blank" class="tit">这是是游戏的标是游戏的标游戏的标题</a></span>
            <span><a href="" target="_blank"><s class="circle70"></s><img src="__IMG__/pic1.jpg"></a><a href="" target="_blank" class="tit">这是是游戏的标是游戏的标游戏的标题</a></span>
        </div>
        <!-----游戏库---->
        <div id="jdgz" class="yxk">
            <p class="title yxbk four">游戏库<i><a href="" target="_blank">更多+</a></i></p>
            <div class="jdgz-left">
                <p class="rmbq"><a class="fm">热门标签</a><a href="" target="_blank">关键字</a><a href="" target="_blank">关键字</a><a href="" target="_blank">关键字</a><a href="" target="_blank">关键字</a><a href="" target="_blank">关键字</a></p>
                <dl>
                    <dt><a href="" target="_blank"><s></s><img src="__IMG__/pic3.jpg"></a></dt>
                    <dd><a href="" target="_blank">这的标题</a></dd>
                </dl>
                <dl>
                    <dt><a href="" target="_blank"><s></s><img src="__IMG__/pic3.jpg"></a></dt>
                    <dd><a href="" target="_blank">这的标题</a></dd>
                </dl>
                <dl>
                    <dt><a href="" target="_blank"><s></s><img src="__IMG__/pic3.jpg"></a></dt>
                    <dd><a href="" target="_blank">这的标题</a></dd>
                </dl>
                <dl>
                    <dt><a href="" target="_blank"><s></s><img src="__IMG__/pic3.jpg"></a></dt>
                    <dd><a href="" target="_blank">这的标题</a></dd>
                </dl>
                <dl>
                    <dt><a href="" target="_blank"><s></s><img src="__IMG__/pic3.jpg"></a></dt>
                    <dd><a href="" target="_blank">这的标题</a></dd>
                </dl>
                <dl>
                    <dt><a href="" target="_blank"><s></s><img src="__IMG__/pic3.jpg"></a></dt>
                    <dd><a href="" target="_blank">这的标题</a></dd>
                </dl>
                <dl>
                    <dt><a href="" target="_blank"><s></s><img src="__IMG__/pic3.jpg"></a></dt>
                    <dd><a href="" target="_blank">这的标题</a></dd>
                </dl>
                <dl>
                    <dt><a href="" target="_blank"><s></s><img src="__IMG__/pic3.jpg"></a></dt>
                    <dd><a href="" target="_blank">这的标题</a></dd>
                </dl>
                <dl>
                    <dt><a href="" target="_blank"><s></s><img src="__IMG__/pic3.jpg"></a></dt>
                    <dd><a href="" target="_blank">这的标题</a></dd>
                </dl>
                <dl>
                    <dt><a href="" target="_blank"><s></s><img src="__IMG__/pic3.jpg"></a></dt>
                    <dd><a href="" target="_blank">这的标的标的标题</a></dd>
                </dl>
                <dl>
                    <dt><a href="" target="_blank"><s></s><img src="__IMG__/pic3.jpg"></a></dt>
                    <dd><a href="" target="_blank">这的标题</a></dd>
                </dl>
                <dl>
                    <dt><a href="" target="_blank"><s></s><img src="__IMG__/pic3.jpg"></a></dt>
                    <dd><a href="" target="_blank">这的标题</a></dd>
                </dl>
                <dl>
                    <dt><a href="" target="_blank"><s></s><img src="__IMG__/pic3.jpg"></a></dt>
                    <dd><a href="" target="_blank">这的标的标的标题</a></dd>
                </dl>
                <dl>
                    <dt><a href="" target="_blank"><s></s><img src="__IMG__/pic3.jpg"></a></dt>
                    <dd><a href="" target="_blank">这的标题</a></dd>
                </dl>
                <dl>
                    <dt><a href="" target="_blank"><s></s><img src="__IMG__/pic3.jpg"></a></dt>
                    <dd><a href="" target="_blank">这的标题</a></dd>
                </dl>
                <dl>
                    <dt><a href="" target="_blank"><s></s><img src="__IMG__/pic3.jpg"></a></dt>
                    <dd><a href="" target="_blank">这的标题</a></dd>
                </dl>
                <span class="tjyx">
                    <a href="" target="_blank" class="pic"><i>这是游戏的标是游戏的标题</i><s></s><img src="__IMG__/pic1.jpg"></a>
                    <a href="" target="_blank" class="pic"><i>这是游戏的标题</i><s></s><img src="__IMG__/pic1.jpg"></a>
                    <a href="" target="_blank" class="pic"><i>这是游戏的标题</i><s></s><img src="__IMG__/pic1.jpg"></a>
                    <a href="" target="_blank" class="pic"><i>这是游是游戏的标是游戏的标标题</i><s></s><img src="__IMG__/pic1.jpg"></a>
                    <a href="" target="_blank" class="pic"><i>这是游是游戏的标是游戏的标标题</i><s></s><img src="__IMG__/pic1.jpg"></a>
                    <a href="" target="_blank" class="pic"><i>这是是游戏的标是游戏的标题</i><s></s><img src="__IMG__/pic1.jpg"></a>
                </span>
            </div>
            <div class="jdgz-right">
                <div class="recom">
                    <p class="title">游戏合集<a href="" target="_blank" class="more"></a></p>
                    <span>
                        <b class="nav"><i class="cur"></i><i></i><i></i></b>
                        <div class="zhez">
                            <ul>
                                <li><a href="" target="_blank"><i>这是游戏的标题</i><s></s><img src="__IMG__/pic1.jpg"></a><a href="" target="_blank"><i>这是游戏的标题</i><s></s><img src="__IMG__/pic1.jpg"></a><a href="" target="_blank"><i>这是游戏的标题</i><s></s><img src="__IMG__/pic1.jpg"></a></li>
                                <li><a href="" target="_blank"><i>这是游戏的标题</i><s></s><img src="__IMG__/pic1.jpg"></a><a href="" target="_blank"><i>这是游戏的标题</i><s></s><img src="__IMG__/pic1.jpg"></a><a href="" target="_blank"><i>这是游戏的标题</i><s></s><img src="__IMG__/pic1.jpg"></a></li>
                                <li><a href="" target="_blank"><i>这是游戏的标题</i><s></s><img src="__IMG__/pic1.jpg"></a><a href="" target="_blank"><i>这是游戏的标题</i><s></s><img src="__IMG__/pic1.jpg"></a><a href="" target="_blank"><i>这是游戏的标题</i><s></s><img src="__IMG__/pic1.jpg"></a></li>
                            </ul>
                        </div>
                    </span>
                </div>
            </div>
            <!------游戏排行------->
            <p class="syfgx"></p>
            <div class="yxflph">
                <b class="phul-nav">网游排行</b>
                <b class="nav"><i class="pm">排名</i><i class="yx">游戏</i><i class="df">得分</i><i class="hz">获赞</i></b>
                <ul class="phul">
                    <li><i>1</i><span><a href="" target="_blank" class="pic4"><s></s><img src="__IMG__/pic3.jpg"></a><a href="" target="_blank" class="title">《叫我MT》这是游戏的标题一</a><b>RPG,动作</b><u class="xcircle80"></u><s>2000人赞</s></span></li>
                    <li><i>2</i><span><a href="" target="_blank" class="pic4"><s></s><img src="__IMG__/pic3.jpg"></a><a href="" target="_blank" class="title">《叫我MT》这是游戏的标题一</a><b>RPG,动作</b><u class="xcircle80"></u><s>20人赞</s></span></li>
                    <li><i>3</i><span><a href="" target="_blank" class="pic4"><s></s><img src="__IMG__/pic3.jpg"></a><a href="" target="_blank" class="title">《叫我MT》这是游戏的标题一</a><b>RPG,动作</b><u class="xcircle80"></u><s>2000人赞</s></span></li>
                    <li><i>4</i><span><a href="" target="_blank" class="pic4"><s></s><img src="__IMG__/pic3.jpg"></a><a href="" target="_blank" class="title">《叫我MT》这是游戏的标题一</a><b>RPG,动作</b><u class="xcircle80"></u><s>2000人赞</s></span></li>
                    <li><i>5</i><span><a href="" target="_blank" class="pic4"><s></s><img src="__IMG__/pic3.jpg"></a><a href="" target="_blank" class="title">《叫我MT》这是游戏的标题一</a><b>RPG,动作</b><u class="xcircle80"></u><s>200人赞</s></span></li>
                    <li><i>6</i><span><a href="" target="_blank" class="pic4"><s></s><img src="__IMG__/pic3.jpg"></a><a href="" target="_blank" class="title">《叫我MT》这是游戏的标题一</a><b>RPG,动作</b><u class="xcircle80"></u><s>200人赞</s></span></li>
                    <li><i>7</i><span><a href="" target="_blank" class="pic4"><s></s><img src="__IMG__/pic3.jpg"></a><a href="" target="_blank" class="title">《叫我MT》这是游戏的标题一</a><b>RPG,动作</b><u class="xcircle80"></u><s>200人赞</s></span></li>
                    <li><i>8</i><span><a href="" target="_blank" class="pic4"><s></s><img src="__IMG__/pic3.jpg"></a><a href="" target="_blank" class="title">《叫我MT》这是游戏的标题一</a><b>RPG,动作</b><u class="xcircle80"></u><s>2000人赞</s></span></li>
                    <li><i>9</i><span><a href="" target="_blank" class="pic4"><s></s><img src="__IMG__/pic3.jpg"></a><a href="" target="_blank" class="title">《叫我MT》这是游戏的标题一</a><b>RPG,动作</b><u class="xcircle80"></u><s>2000人赞</s></span></li>
                    <li><i>10</i><span><a href="" target="_blank" class="pic4"><s></s><img src="__IMG__/pic3.jpg"></a><a href="" target="_blank" class="title">《叫我MT》这是游戏的标题一</a><b>RPG,动作</b><u class="xcircle80"></u><s>2000人赞</s></span></li>
                </ul>
            </div>
            <div class="yxflph">
                <b class="phul-nav">单机排行</b>
                <b class="nav"><i class="pm">排名</i><i class="yx">游戏</i><i class="df">得分</i><i class="hz">获赞</i></b>
                <ul class="phul">
                    <li><i>1</i><span><a href="" target="_blank" class="pic4"><s></s><img src="__IMG__/pic3.jpg"></a><a href="" target="_blank" class="title">《叫我MT》这是游戏的标题一</a><b>RPG,动作</b><u class="xcircle80"></u><s>2000人赞</s></span></li>
                    <li><i>2</i><span><a href="" target="_blank" class="pic4"><s></s><img src="__IMG__/pic3.jpg"></a><a href="" target="_blank" class="title">《叫我MT》这是游戏的标题一</a><b>RPG,动作</b><u class="xcircle80"></u><s>20人赞</s></span></li>
                    <li><i>3</i><span><a href="" target="_blank" class="pic4"><s></s><img src="__IMG__/pic3.jpg"></a><a href="" target="_blank" class="title">《叫我MT》这是游戏的标题一</a><b>RPG,动作</b><u class="xcircle80"></u><s>2000人赞</s></span></li>
                    <li><i>4</i><span><a href="" target="_blank" class="pic4"><s></s><img src="__IMG__/pic3.jpg"></a><a href="" target="_blank" class="title">《叫我MT》这是游戏的标题一</a><b>RPG,动作</b><u class="xcircle80"></u><s>2000人赞</s></span></li>
                    <li><i>5</i><span><a href="" target="_blank" class="pic4"><s></s><img src="__IMG__/pic3.jpg"></a><a href="" target="_blank" class="title">《叫我MT》这是游戏的标题一</a><b>RPG,动作</b><u class="xcircle80"></u><s>200人赞</s></span></li>
                    <li><i>6</i><span><a href="" target="_blank" class="pic4"><s></s><img src="__IMG__/pic3.jpg"></a><a href="" target="_blank" class="title">《叫我MT》这是游戏的标题一</a><b>RPG,动作</b><u class="xcircle80"></u><s>200人赞</s></span></li>
                    <li><i>7</i><span><a href="" target="_blank" class="pic4"><s></s><img src="__IMG__/pic3.jpg"></a><a href="" target="_blank" class="title">《叫我MT》这是游戏的标题一</a><b>RPG,动作</b><u class="xcircle80"></u><s>200人赞</s></span></li>
                    <li><i>8</i><span><a href="" target="_blank" class="pic4"><s></s><img src="__IMG__/pic3.jpg"></a><a href="" target="_blank" class="title">《叫我MT》这是游戏的标题一</a><b>RPG,动作</b><u class="xcircle80"></u><s>2000人赞</s></span></li>
                    <li><i>9</i><span><a href="" target="_blank" class="pic4"><s></s><img src="__IMG__/pic3.jpg"></a><a href="" target="_blank" class="title">《叫我MT》这是游戏的标题一</a><b>RPG,动作</b><u class="xcircle80"></u><s>2000人赞</s></span></li>
                    <li><i>10</i><span><a href="" target="_blank" class="pic4"><s></s><img src="__IMG__/pic3.jpg"></a><a href="" target="_blank" class="title">《叫我MT》这是游戏的标题一</a><b>RPG,动作</b><u class="xcircle80"></u><s>2000人赞</s></span></li>
                </ul>
            </div>
            <div class="yxflph" id="yxph-right">
                <b class="phul-nav">评分排行</b>
                <b class="nav"><i class="pm">排名</i><i class="yx">游戏</i><i class="df">得分</i><i class="hz">获赞</i></b>
                <ul class="phul">
                    <li><i>1</i><span><a href="" target="_blank" class="pic4"><s></s><img src="__IMG__/pic3.jpg"></a><a href="" target="_blank" class="title">《叫我MT》这是游戏的标题一</a><b>RPG,动作</b><u class="xcircle80"></u><s>2000人赞</s></span></li>
                    <li><i>2</i><span><a href="" target="_blank" class="pic4"><s></s><img src="__IMG__/pic3.jpg"></a><a href="" target="_blank" class="title">《叫我MT》这是游戏的标题一</a><b>RPG,动作</b><u class="xcircle80"></u><s>20人赞</s></span></li>
                    <li><i>3</i><span><a href="" target="_blank" class="pic4"><s></s><img src="__IMG__/pic3.jpg"></a><a href="" target="_blank" class="title">《叫我MT》这是游戏的标题一</a><b>RPG,动作</b><u class="xcircle80"></u><s>2000人赞</s></span></li>
                    <li><i>4</i><span><a href="" target="_blank" class="pic4"><s></s><img src="__IMG__/pic3.jpg"></a><a href="" target="_blank" class="title">《叫我MT》这是游戏的标题一</a><b>RPG,动作</b><u class="xcircle80"></u><s>2000人赞</s></span></li>
                    <li><i>5</i><span><a href="" target="_blank" class="pic4"><s></s><img src="__IMG__/pic3.jpg"></a><a href="" target="_blank" class="title">《叫我MT》这是游戏的标题一</a><b>RPG,动作</b><u class="xcircle80"></u><s>200人赞</s></span></li>
                    <li><i>6</i><span><a href="" target="_blank" class="pic4"><s></s><img src="__IMG__/pic3.jpg"></a><a href="" target="_blank" class="title">《叫我MT》这是游戏的标题一</a><b>RPG,动作</b><u class="xcircle80"></u><s>200人赞</s></span></li>
                    <li><i>7</i><span><a href="" target="_blank" class="pic4"><s></s><img src="__IMG__/pic3.jpg"></a><a href="" target="_blank" class="title">《叫我MT》这是游戏的标题一</a><b>RPG,动作</b><u class="xcircle80"></u><s>200人赞</s></span></li>
                    <li><i>8</i><span><a href="" target="_blank" class="pic4"><s></s><img src="__IMG__/pic3.jpg"></a><a href="" target="_blank" class="title">《叫我MT》这是游戏的标题一</a><b>RPG,动作</b><u class="xcircle80"></u><s>2000人赞</s></span></li>
                    <li><i>9</i><span><a href="" target="_blank" class="pic4"><s></s><img src="__IMG__/pic3.jpg"></a><a href="" target="_blank" class="title">《叫我MT》这是游戏的标题一</a><b>RPG,动作</b><u class="xcircle80"></u><s>2000人赞</s></span></li>
                    <li><i>10</i><span><a href="" target="_blank" class="pic4"><s></s><img src="__IMG__/pic3.jpg"></a><a href="" target="_blank" class="title">《叫我MT》这是游戏的标题一</a><b>RPG,动作</b><u class="xcircle80"></u><s>2000人赞</s></span></li>
                </ul>
            </div>
        </div>
        <!-----媒体库------>
        <div id="mtk">
            <p class="title five">媒体库<i><a href="" target="_blank">每周一2</a>|<a href="" target="_blank">周游世界</a>|<a href="" target="_blank">0角度试玩</a>|<a href="" target="_blank">更多+</a></i></p>
            <ul>
                <li><a href="" target="_blank"><s></s><img src="__IMG__/pic1.jpg"></a><a href="" target="_blank" class="tit">这是游戏的标题功夫</a></li>
                <li><a href="" target="_blank"><s></s><img src="__IMG__/pic1.jpg"></a><a href="" target="_blank" class="tit">这是游戏的标题功夫</a></li>
                <li><a href="" target="_blank"><s></s><img src="__IMG__/pic1.jpg"></a><a href="" target="_blank" class="tit">这是游戏的标题功夫</a></li>
                <li><a href="" target="_blank"><s></s><img src="__IMG__/pic1.jpg"></a><a href="" target="_blank" class="tit">这是游戏的标题功夫</a></li>
            </ul>
        </div>
        <!-----图片库------>
        <div class="mntp">
            <p class="title tpk">图片库<i><a href="" target="_blank">每周一2</a>|<a href="" target="_blank">周游世界</a>|<a href="" target="_blank">0角度试玩</a>|<a href="" target="_blank">更多+</a></i></p>
            <p class="tpbz01"><a href="" target="_blank" class="pic"><img src="__IMG__/mtxs.jpg"></a><a href="" target="_blank" class="tit">《金莲哪里逃？》试玩，玩转指尖上的水<s></s></a><p>
            <p class="tpbz01"><a href="" target="_blank" class="pic"><img src="__IMG__/pic1.jpg"></a><a href="" target="_blank" class="tit">《金莲哪里逃？》试玩，玩转指尖上的水<s></s></a><p>
            <p class="tpbz01"><a href="" target="_blank" class="pic"><img src="__IMG__/pic1.jpg"></a><a href="" target="_blank" class="tit">《金莲哪里逃？》试玩，玩转指尖上的水<s></s></a><p>
            <p class="tpbz01"><a href="" target="_blank" class="pic"><img src="__IMG__/mtxs.jpg"></a><a href="" target="_blank" class="tit">《金莲哪里逃？》试玩，玩转指尖上的水<s></s></a><p>
            <p class="tpbz01"><a href="" target="_blank" class="pic"><img src="__IMG__/mtxs.jpg"></a><a href="" target="_blank" class="tit">《金莲哪里逃？》试玩，玩转指尖上的水<s></s></a><p>
        </div>
    </div>
    <!---侧边导航---->
    <div id="right-nav">
        <i id="ojdgz" class="one">焦点关注</i>
        <i id="obgwj" class="two cur">报告玩家</i>
        <i id="oyxpc" class="three">游戏评测</i>
        <i id="oyxk" class="four">游戏库</i>
        <i id="omtk" class="five">媒体库</i>
        <i id="ofhdb"></i>
    </div>
    <!---侧边导航---->
</block>