<extend name="Home@qbaobei/Base/commonPC2" />
<block name="style"><link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/qbaobei2/css/channel.css" /></block>
<block name="body">
<!--head部分-->
{:W('Qbaobei/header',array($cid,false))}
<!--频道主体部分 start-->
<div class="channel-main">
    <div class="wrap list-wraper">
    <div class="cont-goback"><span>您的位置：</span><a href="{:C('STATIC_URL')}">首页</a>>{:W('Qbaobei/currentPosition',array($cid))}</div>
    <div class="list-area">           
        <div class="list-leftBox">
            <div class="list-nav">
            	<a href="{:staticUrl('lists',$cid,'Document',null,false,false)}" class="active">最新</a>
            	<a href="{:staticUrl('lists',$cid,'Document',null,false,true)}">最热</a>
            </div>
            <div class="list-conBox">
                <ul class="list-conBox-ul">
                	<volist name="lists" id="d">
                    <li>
					<php>
	            		$oldDefaultImg = '/Public/Home/qbaobei/images/default1.png';
	            		$img = getContentFirstImg($d['smallimg'],$d['content']);
	            		if($img == $oldDefaultImg){
	            			$img = '/Public/Home/qbaobei/images/default.png';
	            		}
            		</php>
                    	<a href="{:staticUrl('detail',$d['id'],'Document')}" target="_blank">
                    		<img src="{:$img}" alt="{:$d['title']}">
                    	</a>
                    	<div class="right">
	                    	<a href="{:staticUrl('detail',$d['id'],'Document')}" target="_blank" class="title">{:$d['title']}</a>
	                    	<php>
	                    		$content = preg_replace('/\[page\](.*?)\[\/page\]/', '', $d['content']);
	                    		$content = preg_replace('/\[NextPage]/', '', $content);
	                    	</php>
	                    	<p class="info">{:msubstr(strip_tags($content),0,400,'utf-8',false)}</p>
	                    	<div class="tips">{:W('Qbaobei/tags',array($d['id'],'tagsList'))}</div>
                    	</div>
                    </li>
                    </volist>
                </ul>
                <!--分页 start-->
                <div class="page">{$page}</div>
                <!--分页 end-->
            </div>
        </div>
        <div class="list-rightBox">
            <!--广告-->
            <div class="adv259_193">
           <!-- 广告位：列表页广告1 -->
                    <script type="text/javascript">BAIDU_CLB_fillSlot("1136219");</script>
            </div>
            {:W('Qbaobei/hotVideo',array($cid,6,'listVideo'))}
            <!-- 妈妈交流 -->
            {:W('Qbaobei/mamaTalk')}
            <!-- 专题 -->
            {:W('Qbaobei/hotPlans')}
        </div>
    </div>
    <!--广告-->
    <div class="wrap adv1200_103">
            <!-- 广告位：列表页广告2 -->
          <center>  <script type="text/javascript">BAIDU_CLB_fillSlot("1136220");</script></center>
    </div>
	<!--hotwords-->
	{:W('Qbaobei/hotWord',array($cid,$categoryName.'热词',12))}
 </div>
</div>
<!--频道主体部分 end-->
</block>