<extend name="Home@qili/Base/common" />
<block name="style">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/qili/css/detail.css"/>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/qili/css/about.css"/>
</block>

<block name="header">
	<include file="Home@qili/Public/header" />
</block>

<block name="body">
<div class="about-us">
    <div class="nofind-pic"><img src="__PUBLIC__/Home/qili/images/nofind.jpg"></div>
    <p class="nofind-btn"><a href="/">返回首页</a><a href="javascript:history.go(-1)">返回上一页</a></p>
</div>
</block>