<extend name="Home@qili/Base/common" />
<block name="style">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/qili/css/detail.css"/>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/qili/css/about.css"/>
</block>

<block name="header">
	<include file="Home@qili/Public/header" />
</block>

<block name="body">
<div class="about-banner"><img src="__PUBLIC__/Home/qili/images/about.jpg"></div>
<div class="about-us">
    <div class="about-l">
        <div class="left-nav"><P>ABOUT US</P><P>关于我们</P></div>

        <ul class="about-nav">
            <li class="active"><a href="/about.html"><em>关于七丽</em></a></li>
            <li><a href="/culture.html"><em>七丽文化</em></a></li>
            <li><a href="/join.html"><em>加入我们</em></a></li>
        </ul>
    </div>
    <div class="about-r">
        <div class="about-title"><a href="/">首页</a><em>&nbsp;>&nbsp;</em> <a href="/about.html">关于我们</a><em>&nbsp;>&nbsp;</em>关于七丽</div>
        <div class="about-main">
            <p><b>七丽女性网(www.7y7.com)</b>是目前中国最优质的女性时尚资讯网站之一，自2003年创立以来，七丽网力致为所有爱美、爱生活、爱自已的女性提供一个全方位女性生活互动平台。七丽女性网收集不同女性需求，专门设有护肤、彩妆、美发、瘦身、服饰等多个潮流频道，是集实用性、互动性为一体的专业女性网站，让千万中国时尚女性享受最时尚专业的内容与最个性优质的互动服务，打造中国女性自信、时尚、健康的新形象。</p>
            
            <div class="title">七丽女性网优势</div>
            <p>1、内容的实用度</p>
            <p>网站内容紧跟潮流，让你足不出户也可以了解到女性相关的各方面最新资讯，打造属于自己的Stlye。</p>
            <p>2、内容的原创度和全面性</p>
            <p>七丽网在女性网站行业中有着一流高素质的编辑团队，致力为所有女性提供原创度最高的专业实用性内容，全面更新时下最新潮流资讯。</p>
            <p>3、互动服务</p>
            <p>多方平台的互动服务也是七丽的优势之一，除了七丽密友论坛、七丽求购之外，还设有新浪、腾讯、网易微博与微信互动平台，都可以让用户与我们直接交流，拉近彼此之间的距离。</p>
        </div>
    </div>
</div>
</block>