<extend name="Home@qili/Base/common" />
<block name="style">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/qili/css/detail.css"/>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/qili/css/about.css"/>
</block>

<block name="header">
	<include file="Home@qili/Public/header" />
</block>

<block name="body">
<div class="about-banner"><img src="__PUBLIC__/Home/qili/images/about.jpg"></div>
<div class="about-us">
    <div class="about-l">
        <div class="left-nav"><P>ABOUT US</P><P>关于我们</P></div>

        <ul class="about-nav">
            <li><a href="/about.html"><em>关于七丽</em></a></li>
            <li class="active"><a href="/culture.html"><em>七丽文化</em></a></li>
            <li><a href="/join.html"><em>加入我们</em></a></li>
        </ul>
    </div>
    <div class="about-r">
        <div class="about-title"><a href="/">首页</a><em>&nbsp;>&nbsp;</em> <a href="/about.html">关于我们</a><em>&nbsp;>&nbsp;</em>七丽文化</div>
        <div class="about-main">
            <img src="__PUBLIC__/Home/qili/images/qiliwh.jpg">
        </div>
    </div>
</div>
</block>