<extend name="Home@qili/Base/common" />
<block name="style"><link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/qili/css/channel.css"/></block>
<block name="header">
    <include file="Home@qili/Public/header" />
</block>

<block name="body">
<classify model="2" typeid="303" index="constell"></classify>
<classify model="2" typeid="918" index="health"></classify>
<classify model="2" typeid="5" index="lose"></classify>
<classify model="2" typeid="277" index="digital"></classify>
<classify model="2" typeid="951" index="emotion"></classify>
<classify model="2" typeid="281" index="house"></classify>
<classify model="2" typeid="917" index="offspring"></classify>
<php>$lifeid = $constell.','.$health.','.$lose.','.$digital.','.$emotion.','.$house.','.$offspring;</php>

<div class="qnx1200 banner">
    <div class="focus6">
        <ul class="focus6-ul">
            <document  model="2" typeid="$lifeid" limit="5" flag="live_recom,1" order="update_time DESC,level DESC">
                <li><a href="{$document.url}" title="{$document.title}"><img src="{:get_thumb($document[atlas_b], $document[atlas], '790x470')}" alt="{$document.title|msubstr=0,18}"/></a></li>
            </document>
        </ul>
        <div class="focus-info"><a href="javascript:;" target="_blank"></a><div class="circle"></div><div class="bg"></div></div>
    </div>

    <div class="right tab-nub">
        <p class="tab-tit"><span>TOP LINE<em></em></span><span class="active">今日头条<em></em></span></p>
        <ul class="right-ul current">
            <document model="2" typeid="$lifeid" limit="12" flag="live_recom,2" order="edit">
                <li><a href="{$document.url}" title="{$document.title}">{$document.title}</a></li>
            </document>
        </ul>
        <div class="fresh"><span><i></i>换一组</span></div>
	</div>
</div>

<div class="qnx1200 star-box">
<div class="title star-nav">
	<h3><a href="/xingzuo/" target="_blank">星座</a></h3>
	<div class="rec-links">
		<classify model="2" id="305,898,1092,909,890,910,1131,1094,914">
			<a href="{$classify.url}" target="_blank">{$classify.title}</a>
			<if condition="$key lt 9 ">
				<em>|</em>
			</if>
		</classify>
	</div>
</div>
<div class="star-tab">
<ul class="tabcur">
    <li id="byz" class="active"><em class="bg"></em>白羊座</li>
    <li id="jnz"><em class="bg"></em>金牛座</li>
    <li id="szz"><em class="bg"></em>双子座</li>
    <li id="jxz"><em class="bg"></em>巨蟹座</li>
    <li id="sss"><em class="bg"></em>狮子座</li>
    <li id="cnz"><em class="bg"></em>处女座</li>
    <li id="tcz"><em class="bg"></em>天秤座</li>
    <li id="txz"><em class="bg"></em>天蝎座</li>
    <li id="ssz"><em class="bg"></em>射手座</li>
    <li id="mjz"><em class="bg"></em>摩羯座</li>
    <li id="spz"><em class="bg"></em>水瓶座</li>
    <li id="syz"><em class="bg"></em>双鱼座</li>
</ul>
<div class="tabmain">
	<php>$constell = array('', 'baiy', 'jinn', 'shuangz', 'juxie', 'shizi', 'chunv', 'tianc', 'tianx', 'sheshou', 'mojie', 'shuip', 'shuangy');</php>

	<classify model="2" id="900,901,902,903,904,905,893,894,895,896,897,911">
	<div class="tabbox current">
		<div class="info">
			<document limit="1" flag="live_recom,32" order="edit">
				<div class="info-t">
					<div class="name {$constell[$key]}"></div>
					<div class="time">
						<a href="{$document.url}" target="_blank">{$document.title|msubstr=0,11,'utf-8', false}></a>
						<p class="star star{$document.star}">整体运：</p>
					</div>
				</div>

				<div class="info-b">
					<em class="arr arr-top"></em>
					<p>{$document.description}</p>
					<em class="arr arr-bot"></em>
				</div>
			</document>
		</div>

		<div class="pic">
			<img src="<pic name="$classify.icon" />">
		</div>

		<div class="news">
			<ul class="news-ul">
				<document limit="1,8" flag="live_recom,4" order="edit">
					<li>· <a href="{$document.url}" target="_blank" title="{$document.title}">{$document.title}</a></li>
				</document>
			</ul>
		</div>

		<div class="xiaq">
			<document limit="1" flag="live_recom,4" order="edit">
				<a class="pic" href="{$document.url}" target="_blank" title="{$document.title}"><img src="{:get_thumb($document[atlas_a], $document[atlas], '280x277')}" alt="{$document.title}"></a>
				<p class="all-tit"><em class="left-arr"></em><a href="{$document.url}" class="text">{$document.title}</a><em class="right-arr"></em><b class="bg"></b></p>
			</document>
		</div>
	</div>
	</classify>
</div>
</div>

<div class="star-news">
    <div class="news-list">
		<document model="2" rootid="303" limit="5" flag="live_recom,16" order="edit">
			<a href="{$document.url}" target="_blank" title="{$document.title}">{$document.title}</a>
		</document>
	</div>

    <div class="news-list">
		<document model="2" rootid="303" limit="5,4" flag="live_recom,16" order="edit">
			<a href="{$document.url}" target="_blank" title="{$document.title}">{$document.title}</a>
		</document>
	</div>
</div>

</div>
<div class="qnx1200 channel hufu">
    <div class="title star-nav">
        <h3><a href="/jiankang/" target="_blank">{$life.jiankang.name}</a></h3>
        <div class="rec-links">
            <classify model="2" id="931,997,928,930,1295,1226,1263">
                <a href="{$classify.url}" target="_blank">{$classify.title}</a>
				<if condition="$key lt 7 ">
					<em>|</em>
				</if>
            </classify>
        </div>
    </div>

    <div class="channel-l">
        <div class="left-one">
            <document model="2" rootid="918" limit="1" flag="live_recom,8" order="edit">
                <a class="pic" href="{$document.url}" title="{$document.title}"><img src="{:get_thumb($document[atlas_d], $document[atlas], '437x372')}" alt="{$document.title}"><span class="tit">{$document.title}</span></a>
            </document>

            <ul class="about-list">
                <document model="2" rootid="918" limit="1,4" flag="live_recom,8" order="edit">
                    <li><a href="{$document.url}" title="{$document.title}">{$document.title}</a></li>
                </document>
            </ul>
        </div>

        <div class="left-two">
            <document model="2" rootid="918" limit="2" flag="live_recom,4" order="edit">
                <div class="hjzb"><a href="{$document.url}" title="{$document.title}"><img src="{:get_thumb($document[atlas_e], $document[atlas], '335x250')}" alt="{$document.title}"><span class="all-tit"><em class="left-arr"></em><i class="text">{$document.title}</i><em class="right-arr"></em><b class="bg"></b></span></a></div>
            </document>
        </div>
    </div>

    <div class="channel-r">
        <ul class="channel-tab">
            <document model="2" rootid="918" limit="4" flag="live_recom,16" order="edit">
                <li <if condition="$key eq 1"> conclass="active" </if>><a href="{$document.url}" target="_blank" title="{$document.title}"><span class="tit">{$document.title}</span><img src="{:get_thumb($document[atlas_e], $document[atlas], '360x280')}" alt="{$document.title}"></a></li>
            </document>
        </ul>
    </div>
</div>

<div class="qnx1200 channel hufu meiti">
    <div class="channel-l">
        <div class="title title2 star-nav">
            <h3><a href="/jianfei/" target="_blank">减肥</a></h3>
            <div class="rec-links">
                <classify model="2" id="999,561,1130,998,578,568,567">
                    <a href="{$classify.url}" target="_blank">{$classify.title}</a>
                    <if condition="$key lt 7 ">
                        <em>|</em>
                    </if>
                </classify>
            </div>
        </div>
        <div class="left-one meiti-xqxj">
            <div class="xqxj-text">
				<classify model="2" id="571,940,53,569,52,576,579">
					<a href="{$classify.url}" target="_blank" class="xq{$key}">{$classify.title}</a>
				</classify>
            </div>

            <ul class="meiti-info-ul">
				<document model="2" rootid="5" limit="3" flag="live_recom,8" order="edit">
					<li><a href="{$document.url}" target="_blank" title="{$document.title}">{$document.title}</a></li>
                </document>
            </ul>
        </div>

        <div class="left-two">
            <document model="2" rootid="5" limit="2" flag="live_recom,4" order="edit">
                <div class="hjzb">
					<a href="{$document.url}" title="{$document.title}">
						<img src="{:get_thumb($document[atlas_e], $document[atlas], '394x280')}" alt="{$document.title}"><span class="all-tit"><em class="left-arr"></em><i class="text">{$document.title}</i><em class="right-arr"></em><b class="bg"></b></span>
					</a>
				</div>
            </document>
        </div>
    </div>
    <div class="channel-r">
        <div class="title title2 star-nav"><h3><a href="/shuma/" target="_blank">数码</a></h3></div>

        <document  model="2" rootid="277" limit="1" flag="live_recom,8" order="edit">
            <a href="{$document.url}" target="_blank" class="mtpic" title="{$document.title}"><img src="{:get_thumb($document[atlas_d], $document[atlas], '390x240')}" alt="{$document.title}"><span class="all-tit"><em class="left-arr"></em><i class="text">{$document.title}</i><em class="right-arr"></em><b class="bg"></b></span></a>
        </document>

         <ul class="listnews">
             <document model="2" rootid="277" limit="1,4" flag="live_recom,8" order="edit">
                 <li><a href="{$document.url}" title="{$document.title}">{$document.title}</a></li>
             </document>
        </ul>

        <ul class="picnews">
            <document model="2" rootid="277" limit="4" flag="live_recom,16" order="edit">
                <li><a href="{$document.url}" title="{$document.url}"><img src="{:get_thumb($document[atlas_b], $document[atlas], '180x120')}" alt="{$document.title}"><span class="tit">{$document.title}</span><b class="bg"></b></a></li>
            </document>
        </ul>
    </div>
</div>

<div class="qnx1200 channel hufu">
    <div class="title star-nav">
        <h3><a href="/qinggan/" target="_blank">情感</a></h3>
        <div class="rec-links">
            <classify model="2" id="960,1039,1119,954,955,1040,1122,1123,1055">
                <a href="{$classify.url}" target="_blank">{$classify.title}</a>
                <if condition="$key lt 9 ">
                    <em>|</em>
                </if>
            </classify>
        </div>

		<div class="channel-l">
			<div class="left-one">
				<document  model="2" rootid="951" limit="1" flag="live_recom,8" order="edit">
					 <a class="pic" href="{$document.url}" title="{$document.title}"><img src="{:get_thumb($document[atlas_d], $document[atlas], '437x372')}" alt="{$document.title}"><span class="tit">{$document.title}</span></a>
				</document>

				<ul class="about-list">
					<document model="2" rootid="951" limit="1,4" flag="live_recom,8" order="edit">
						<li><a href="{$document.url}" title="{$document.title}">{$document.title}</a></li>
					</document>
				</ul>
			</div>

			<div class="left-two">
				<document model="2" rootid="951" limit="2" flag="live_recom,4" order="edit">
					<div class="hjzb">
						<a href="{$document.url}" title="{$document.title}"><img src="{:get_thumb($document[atlas_e], $document[atlas], '335x250')}" alt="{$document.title}">
							<span class="all-tit"><em class="left-arr"></em><i class="text">{$document.title}</i><em class="right-arr"></em><b class="bg"></b></span>
						</a>
					</div>
				</document>
			</div>
		</div>

		<div class="channel-r">
			<ul class="channel-tab">
				<document model="2" rootid="951" limit="4" flag="live_recom,16" order="edit">
					<li <eq name="key" value="1">class="active"</eq>><a href="{$document.url}" title="{$document.title}"><span class="tit">{$document.title}</span><img src="{:get_thumb($document[atlas_e], $document[atlas], '360x280')}" alt="{$document.title}"></a></li>
				</document>
			</ul>
		</div>
	</div>
</div>

<div class="qnx1200 channel hufu meiti">
    <div class="channel-l">
        <div class="title title2 star-nav">
            <h3><a href="/jiaju/" target="_blank">家居</a></h3>
        </div>

        <div class="left-one">
            <document model="2" rootid="281" limit="1" flag="live_recom,8" order="edit">
                <a class="pic" href="{$document.url}" target="_blank" title="{$document.title}"><img src="{:get_thumb($document[atlas_d], $document[atlas], '482x430')}" alt="{$document.title}"><span class="tit">{$document.title}</span></a>
			</document>

			<ul class="info-ul">
				<document model="2" rootid="281" limit="1,4" flag="live_recom,8" order="edit">
					<li><a href="{$document.url}" title="{$document.title}">{$document.title}</a></li>
				</document>
			</ul>
        </div>

        <div class="left-two">
            <document model="2" rootid="281" limit="2" flag="live_recom,4" order="edit">
                <div class="hjzb"><a href="{$document.url}" target="_blank" title="{$document.title}"><img src="{:get_thumb($document[atlas_e], $document[atlas], '394x280')}" alt="{$document.title}"><span class="all-tit"><em class="left-arr"></em><i class="text">{$document.title}</i><em class="right-arr"></em><b class="bg"></b></span></a></div>
            </document>
		</div>
    </div>

    <div class="channel-r">
        <div class="title title2 star-nav">
			<h3><a href="/qinzi/" target="_blank">亲子</a></h3>
		</div>

        <document  model="2" rootid="917" limit="1" flag="live_recom,4" order="edit">
            <a href="{$document.url}" class="mtpic" title="{$document.title}">
				<img src="{:get_thumb($document[atlas_b], $document[atlas], '390x240')}" alt="{$document.title}"><span class="all-tit"><em class="left-arr"></em><i class="text">{$document.title}</i><em class="right-arr"></em><b class="bg"></b></span>
			</a>
        </document>

        <ul class="listnews jjlist">
            <document model="2" rootid="917" limit="1,4" flag="live_recom,4" order="edit">
                <li><a href="{$document.url}" title="{$document.title}">{$document.title}</a></li>
            </document>
        </ul>

        <ul class="picnews jjpic">
            <document model="2" rootid="917" limit="2" flag="live_recom,16" order="edit">
                <li><a href="{$document.url}" title="{$document.url}"><img src="{:get_thumb($document[atlas_a], $document[atlas], '188x196')}" alt="{$document.title}"><span class="tit">{$document.title}</span><b class="bg"></b></a></li>
            </document>
        </ul>
    </div>
 </div>
</block>