<extend name="Home@qbaobeimobile/Base/common2"/>
<block name="style">
    <style>
        .cata-title {display: inline-block;height: 28px;line-height: 28px;font-size: 1.7rem;color: #fff;margin-left: 8px;}
        .calendar{padding:15px 0 20px 0; background:#ef3240 url('__PUBLIC__/Home/qbaobeimobile2/images/yunq1.png') center top no-repeat; background-size:cover}
        .calendar .info{ text-align:center; color:#fff; font-size:1.3rem;}
        .calendar .info a{ text-decoration:underline; color:#fff}
        .calendar h1{ font-size:1.8rem; padding:0 0 10px 0}
        .calewrap{ overflow:hidden;}
        .calewrap .title{ text-align:center; color:#fff; font-size:1.3rem; margin:20px 0 5px 0;}
        .calewrap-info{ width:260px; margin:0 auto; overflow:hidden; text-align:center}
        .calewrap-info a{ display:inline-block; width:45px; height:45px; text-align:center; line-height:45px; background-color:#fcdadd; margin:10px 10px 0 10px; color:#ef3240; font-size:2rem; float:left}
    </style>
</block>
<block name="breadcrumbnav"><a href="{$Think.config.MOBILE_STATIC_URL}">首页</a> > 孕期日历_亲亲宝贝网</block>
<block name="body">
    <div class="calendar">
        <div class="info">
            <h1>亲爱的妈妈，请选择怀孕的周数</h1>
            <p>还不知道怀孕多久？点击<a href="http://m.qbaobei.com/tools/huaiyun/">怀孕日历表</a>查询！</p>
        </div>
        <div class="calewrap">
            <div class="title">孕早期</div>
            <div class="calewrap-info">
                <a href="http://m.qbaobei.com/a/223264.html">1</a><a href="http://m.qbaobei.com/a/223265.html">2</a><a href="http://m.qbaobei.com/a/223266.html">3</a><a href="http://m.qbaobei.com/a/223267.html">4</a><a href="http://m.qbaobei.com/a/223268.html">5</a><a href="http://m.qbaobei.com/a/223269.html">6</a><a href="http://m.qbaobei.com/a/223270.html">7</a><a href="http://m.qbaobei.com/a/223271.html">8</a>
                <a href="http://m.qbaobei.com/a/223272.html">9</a><a href="http://m.qbaobei.com/a/223273.html">10</a><a href="http://m.qbaobei.com/a/222142.html">11</a><a href="http://m.qbaobei.com/a/222421.html">12</a><a href="http://m.qbaobei.com/a/224487.html">13</a><a href="http://m.qbaobei.com/a/224489.html">14</a><a href="http://m.qbaobei.com/a/224490.html">15</a><a href="http://m.qbaobei.com/a/224491.html">16</a>
            </div>
            <div class="title">孕中期</div>
            <div class="calewrap-info">
                <a href="http://m.qbaobei.com/a/224492.html">17</a><a href="http://m.qbaobei.com/a/224494.html">18</a><a href="http://m.qbaobei.com/a/224496.html">19</a><a href="http://m.qbaobei.com/a/224498.html">20</a><a href="http://m.qbaobei.com/a/224614.html">21</a><a href="http://m.qbaobei.com/a/224616.html">22</a><a href="http://m.qbaobei.com/a/224618.html">23</a>
                <a href="http://m.qbaobei.com/a/224630.html">24</a><a href="http://m.qbaobei.com/a/224634.html">25</a><a href="http://m.qbaobei.com/a/224638.html">26</a><a href="http://m.qbaobei.com/a/224640.html">27</a><a href="http://m.qbaobei.com/a/224641.html">28</a>
            </div>
            <div class="title">孕晚期</div>
            <div class="calewrap-info">
                <a href="http://m.qbaobei.com/a/224646.html">29</a><a href="http://m.qbaobei.com/a/224650.html">30</a><a href="http://m.qbaobei.com/a/222355.html">31</a><a href="http://m.qbaobei.com/a/224368.html">32</a><a href="http://m.qbaobei.com/a/224719.html">33</a><a href="http://m.qbaobei.com/a/224957.html">34</a><a href="http://m.qbaobei.com/a/224964.html">35</a>
                <a href="http://m.qbaobei.com/a/225192.html">36</a><a href="http://m.qbaobei.com/a/225194.html">37</a><a href="http://m.qbaobei.com/a/225377.html">38</a><a href="http://m.qbaobei.com/a/225380.html">39</a><a href="http://m.qbaobei.com/a/225533.html">40</a>
            </div>
        </div>
    </div>
</block>