<!--导航-->
<nav class="home-nav">
    <div class="swiper-container2">
        <div class="swiper-wrapper">
            <a class="swiper-slide active" href="">首页</a>
            <a class="swiper-slide" href="">备孕</a>
            <a class="swiper-slide" href="">孕期</a>
            <a class="swiper-slide" href="">分娩</a>
            <a class="swiper-slide" href="">产后</a>
            <a class="swiper-slide" href="">新生儿</a>
            <a class="swiper-slide" href="">111</a>
            <a class="swiper-slide" href="">2222</a>
            <a class="swiper-slide" href="">33333</a>
            <a class="swiper-slide" href="">4444</a>
            <a class="swiper-slide" href="">5555</a>
            <a class="swiper-slide" href="">6666</a>

        </div>
    </div>
</nav>