<extend name="Home@qbaobeimobile/Base/common2"/>
<block name="style">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/qbaobeimobile2/css/channel.css">
</block>
<block name="breadcrumbnav"><a href="{$Think.config.MOBILE_STATIC_URL}">首页</a> > 工具</block>
<block name="body">
<!--百科列表-->
    <section class="baike-list dis-bot">
        <ul class="baike-list-ul">
            <li><a href="{:C('MOBILE_STATIC_URL')}{:getWidgetPath(73)}" title="排卵期和安全期计算器"><img src="__PUBLIC__/Home/qbaobeimobile2/images/tool1.png" alt="排卵期和安全期计算器"><div class="text"><p class="title">排卵期和安全期计算器</p><p class="info">排卵期安全期计算器可准确算出您的排卵期、安全期。</p></div></a></li>
            <li><a href="{:C('MOBILE_STATIC_URL')}{:getWidgetPath(74)}" title="预产期计算器"><img src="__PUBLIC__/Home/qbaobeimobile2/images/tool2.png" alt="预产期计算器"><div class="text"><p class="title">预产期计算器</p><p class="info">根据您的末次月经时间和月经周期长短，算出预产期。</p></div></a></li>
            <li><a href="{:C('MOBILE_STATIC_URL')}{:getWidgetPath(75)}" title="怀孕日历表"><img src="__PUBLIC__/Home/qbaobeimobile2/images/tool3.png" alt="怀孕日历表"><div class="text"><p class="title">怀孕日历表</p><p class="info">可自动预算和跟踪预产期，显示你今后每次的产检日期。</p></div></a></li>
            <li><a href="{:C('MOBILE_STATIC_URL')}{:getWidgetPath(77)}" title="胎儿发育过程图"><img src="__PUBLIC__/Home/qbaobeimobile2/images/tool4.png" alt="胎儿发育过程图"><div class="text"><p class="title">胎儿发育过程图</p><p class="info">孕期胎儿发育过程图解让你轻松了解胎宝宝发育情况。</p></div></a></li>
            <li><a href="{:C('MOBILE_STATIC_URL')}{:getWidgetPath(78)}" title="入院待产包清单"><img src="__PUBLIC__/Home/qbaobeimobile2/images/tool5.png" alt="入院待产包清单"><div class="text"><p class="title">入院待产包清单</p><p class="info">轻松备产，安心临产，入院待产包清单帮到您。</p></div></a></li>
            <li><a href="{:C('MOBILE_STATIC_URL')}{:getWidgetPath(79)}" title="生辰八字五行查询"><img src="__PUBLIC__/Home/qbaobeimobile2/images/tool6.png" alt="生辰八字五行查询"><div class="text"><p class="title">生辰八字五行查询</p><p class="info">根据您的出生年、月、日、时可以计算出您的生辰八字。</p></div></a></li>
            <li><a href="{:C('MOBILE_STATIC_URL')}{:getWidgetPath(80)}" title="儿童身高预测"><img src="__PUBLIC__/Home/qbaobeimobile2/images/tool7.png" alt="儿童身高预测"><div class="text"><p class="title">儿童身高预测</p><p class="info">根据父母身高，一定程度上预测出宝宝未来的身高范围。</p></div></a></li>
            <li><a href="{:C('MOBILE_STATIC_URL')}{:getWidgetPath(81)}" title="宝宝发育指标"><img src="__PUBLIC__/Home/qbaobeimobile2/images/tool8.png" alt="宝宝发育指标"><div class="text"><p class="title">宝宝发育指标</p><p class="info">对宝宝的发育提供参考数据，让您更了解宝宝生长发育。</p></div></a></li>
            <li><a href="{:C('MOBILE_STATIC_URL')}{:getWidgetPath(82)}" title="宝宝免费起名软件"><img src="__PUBLIC__/Home/qbaobeimobile2/images/tool9.png" alt="宝宝免费起名软件"><div class="text"><p class="title">宝宝免费起名软件</p><p class="info">宝宝免费起名软件，免费为您的宝宝在线起个好名。</p></div></a></li>
            <li><a href="{:C('MOBILE_STATIC_URL')}{:getWidgetPath(83)}" title="疫苗接种时间表"><img src="__PUBLIC__/Home/qbaobeimobile2/images/tool10.png" alt="疫苗接种时间表"><div class="text"><p class="title">疫苗接种时间表</p><p class="info">免疫接种工具可根据宝宝出生日期计算疫苗接种时间。</p></div></a></li>
        </ul>
</section>
</block>
