<include file="Home@7230/Public/zqHeader"/>
<script language="javascript"> window.DYNAMIC_SERVER_URL = '{:C('DYNAMIC_SERVER_URL')}';</script>
<!---------------------------------------------------------------------------->
<div class="nav_zq">
    <div>
        <div class="dragable" widget="menus">
            <span class="left">
                <a href="{:'/'.C(FEATURE_ZQ_DIR)}/{$home['url_token']}" target="_blank" class="cur">首页</a>|
                <volist name="menus" id="v">
                    <a href="{:'/'.C(FEATURE_ZQ_DIR)}{$v.url_token}" target="_blank">{$v['title']}</a>|
                </volist>
            </span>
        </div>
        <form  action="{:C('STATIC_URL')}/search.html" method="get" id="Search_form" name="Search_form" target="_blank" class="">
            <input type="text" name="keyword" id="searchBox" autocomplete="off" class="" value="输入你想搜索的游戏..." >
            <button type="submit" id="searchBtn" class="btn-submit"></button>
        </form>

        <div class="share">分享
            <!-- JiaThis Button BEGIN -->
            <div class="jiathis_style_24x24">
                <a class="jiathis_button_qzone"></a>
                <a class="jiathis_button_tsina"></a>
                <a class="jiathis_button_tqq"></a>
                <a class="jiathis_button_weixin"></a>
                <a class="jiathis_button_renren"></a>
                <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                <a class="jiathis_counter_style"></a>
            </div>
            <!-- JiaThis Button END -->
        </div>

    </div>
</div>

<div id="zqmain">
    <!----------------------------------------left------------------------------------>
    <div class="zqmain-left" id="lunbo">

        <!---图文推荐部分----->
        <div class="bigpic">
            <div class="left">
                <div class="dragable" widget="indexPosition">
                    <volist name="indexPosition" id="val">
                        <a href="{:staticUrl('detail',$val['id'],'Document')}" target="_blank" class="pic"><img src="{:get_cover($val['cover_id'],'path')}"><s>{$val.title}</s><i></i></a>
                    </volist>
                </div>
                <p><b class="blue">新手指南</b><div class="dragable" widget="novice"><volist name="novice" id="val"><a href="{:staticUrl('detail',$val['id'],'Document')}" target="_blank">{$val.sub_title}</a></volist></div></p>
                <p><b class="green">高手进阶</b><div class="dragable" widget="master"><volist name="master" id="val"><a href="{:staticUrl('detail',$val['id'],'Document')}" target="_blank">{$val.sub_title}</a></volist></div></p>
            </div>
            <div class="right">
                <div class="dragable" widget="indexNews">
                    <p>
                        <volist name="indexNews" id="val" offset="0" length="1">
                            <a href="{:staticUrl('detail',$val['id'],'Document')}" target="_blank" class="headtit">{$val['title']}</a>
                        </volist>

                    <span>
                        <volist name="indexNews" id="val" offset="1" length="2">
                            <a href="{:staticUrl('detail',$val['id'],'Document')}" target="_blank">{$val['title']}</a>
                        </volist>
                    </span>

                        <volist name="indexNews" id="val" offset="3" length="1">
                            <a href="{:staticUrl('detail',$val['id'],'Document')}" target="_blank" class="headtit">{$val['title']}</a>
                        </volist>
                    <span>
                        <volist name="indexNews" id="val" offset="4" length="2">
                            <a href="{:staticUrl('detail',$val['id'],'Document')}" target="_blank">{$val['title']}</a>
                        </volist>
                    </span>
                    </p>

                    <p class="news">
                        <volist name="indexNews" id="val" offset="6" length="8">
                            <a href="{:staticUrl('detail',$val['id'],document)}" target="_blank"><b>[{$val['source']}] </b>{$val.title}</a>
                        </volist>
                    </p>
                </div>

            </div>
        </div>

        <!---游戏攻略部分----->
        <div class="dragable" widget="indexGuide">
            <div class="yxgl">
                <p class="title"><i></i>游戏攻略<a href="{:'/'.C(FEATURE_ZQ_DIR)}/{$more['guide']}" target="_blank" class="more"></a></p>
                <p class="tptj">
                    <volist name="indexGuide" id="val" offset="0" length="3">
                        <span><a href="{:staticUrl('detail',$val['id'],'Document')}" target="_blank"><img src="{:get_cover($val['cover_id'],'path')}"></a><a href="{:staticUrl('detail',$val['id'],'Document')}" target="_blank" class="tit">{$val.title}</a></span>
                    </volist>
                </p>
                <ul>
                    <volist name="indexGuide" id="val" offset="3" length="10" empty="$empty">
                        <li><i>{:date('m-d',$val['create_time'])}</i><a href="{:staticUrl('detail',$val['id'],'document')}" target="_blank"><b>[{$val['source']}] </b>{$val.title}</a></li>
                    </volist>
                </ul>
            </div>
        </div>

        <!------游戏评测------->
        <php> if(!empty($indexTest)){ </php>
        <div class="dragable" widget="indexTest">
            <div class="yxpc">
                <p class="title"><i></i>游戏评测</p>

                <volist  name="indexTest" id="val" empty="$empty">
                    <a href="{:staticUrl('detail',$val['id'],'Document')}" target="_blank" class="pic"><img src="{:get_cover($val['cover_id'],'path')}"><s>{$val.title}</s><i></i></a>
                    <span><a href="{:staticUrl('detail',$val['id'],'document')}" target="_blank">{$val.title}</a><i class="info">{$val.description}</i></span>
                </volist>
            </div>
        </div>
        <php>}</php>

        <!----游戏问答---->
        <php> if(!empty($indexAsk)){ </php>
        <div class="dragable" widget="indexAsk">
            <div class="yxgl">
                <p class="title"><i></i>游戏问答<a href="{:'/'.C(FEATURE_ZQ_DIR)}/{$more['ask']}" target="_blank" class="more"></a></p>
                <ul>
                    <volist name="indexAsk" id="val" empty="$empty">
                        <li><i>{:date('m-d',$val['create_time'])}</i><a href="{:staticUrl('detail',$val['id'],'Document')}" target="_blank"><b>[{$val['source']}]  </b>{$val.title}</a></li>
                    </volist>
                </ul>
            </div>
        </div>
        <php>}</php>
<!----------游戏资料处------------>
        <!----关卡设置---->
        <php> if(!empty($indexPass)){ </php>
        <div class="dragable" widget="indexPass">
            <div class="gksz lunbo" >
                <p class="title"><i></i>关卡设置</p>
                <volist name="indexPass" id="val">
                <span><b>{$val['title']}</b>
                    <i>
                        <volist name="val['data']" id="rel">
                            <a href="{:staticUrl('detail',$rel['id'],'Document')}" target="_blank">{$rel['sub_title']}</a>
                        </volist>
                    </i>
                </span>
                </volist>
            </div>
        </div>
        <php>}</php>

        <!----游戏视频---->
        <php> if(!empty($indexVideo)){ </php>
        <div class="yxsp lunbo">
            <div class="dragable" widget="indexVideo">

                <p class="title"><i></i>游戏视频<a href="{:'/'.C(FEATURE_ZQ_DIR)}/{$more['video']}" target="_blank" class="more"></a></p>
                <p class="tptj">
                    <volist name="indexVideo" id="val">
                        <span><a href="{:staticUrl('detail',$val['id'],'Document')}" target="_blank"><img src="{:get_cover($val['cover_id'],'path')}"></a><a href="{:staticUrl('detail',$val['id'],'Document')}" target="_blank" class="tit">{$val.title}</a><i></i></span>
                    </volist>
                </p>

            </div>

        </div>
        <php>}</php>



    </div>
    <!----------------------------------------right------------------------------------>
    <!-----右边开始----->

    <div class="zqmain-right" id="nm-right">
        <!----游戏下载---->
        <div class="zqmain-rm">
            <p class="game_down">
                <b>游戏下载</b>
            <div class="dragable" widget="down">
            <notempty name="down[0]['down']">
                <a href="{$down[0]['down']}" class="andro">安卓版</a>
            </notempty>
            <notempty name="down[1]['down']">
                <a href="{$down[1]['down']}" target="_blank" class="apple">苹果版</a>
            </notempty>
            <notempty name="down[2]['down']">
                <a href="{$down[2]['down']}" class="pc">电脑版</a>
            </notempty>
            </div>
            </p>
        </div>
        <div class="xslb_zq zdcd">
            <b>新手礼包<i class="zqzd"></i></b>
            <div class="zdcd-m">
                <php> if($packIsNull){</php>
                <span class="yxtz">该游戏目前没有可用礼包，点击查看更多<a href="{:staticUrl('lists',1,'Package')}" target="_blank">新手礼包</a></span>
                <php>}</php>
                <volist name="packList" id="val">
                    <p><a href="{:staticUrl('detail',$val['id'],'package')}" target="_blank">{$val.title}</a><a href="{:staticUrl('detail',$val['id'],'package')}" target="_blank" class="{$i%3==1?'lq':($i%3==2?'yd':'th')}">领取</a></p>
                </volist>
            </div>
        </div>

        <div class="xslb_kfb zdcd">
            <b>开服表<i class="zqzd"></i></b>
            <div class="zdcd-m">
                <php>if($serIsNull){</php>
                <span class="yxtz">该游戏目前没有开服表，点击查看更多<a href="{:staticUrl('lists',3,'Package')}" target="_blank">开服表</a></span>
                <php>}</php>

                <volist name="serList" id="val">
                    <p><a href="{:$val['gameId']?staticUrl('detail',$val['gameId'],'Down'):'javascript:void(0);'}" target="{:$val['gameId']?'_blank':'_self'}">{$val['title']}</a><i>{:date('m-d',$val['start_time'])}</i><a href="javascript:void(0)">{$val.server}</a><a href="{$val['batchUrl']?$val['batchUrl']:'javascript:void(0);'}" target="{:'/'.C(FEATURE_ZQ_DIR)}/{:$val['batchUrl']?'_blank':'_self'}" class="zq">专区</a></p>
                </volist>
            </div>
        </div>

        <!---最新入库游戏(new games)---->
        <div class="newgame" id="zq-newgame">
            <p class="title">最新入库游戏<a href="{:getWidgetPath('17', true)}" target="_blank" class="more"></a></p>

                <ul>
                    <volist name="newGame" id="val">
                    <li><a href="{:'/'.C(FEATURE_ZQ_DIR)}/{$val['url_token']}" target="_blank" class="pic3"><img src="{:$val['gameLogo']?get_cover($val['gameLogo'],'path'):get_cover($val['icon'],'path')}"></a><a href="{:'/'.C(FEATURE_ZQ_DIR)}/{$val['url_token']}" target="_blank" class="title">{$val['title']}</a></li>
                    </volist>
                </ul>
        </div>
    </div>

</div>
<include file="Home@7230/Public/zqFooter"/>