<extend name="Home@7230/Base/common"/>
<block name="style">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Document/7230/css/news.css"/>
</block>
<!-----head-END----->
<block name="body">
<!-----head-END----->
<div id="news-main">
<p class="page-nav">当前位置：<a href="{:C('STATIC_URL')}">首页</a>->厂商列表</p>
<div id="nm-left">
<div class="nm-left-bottom">
<p class="title">厂商</p>
<ul>
    <volist  name="lists" id="val">
        <li>
            <a href="{:$val['path']?(substr($val['path'],0,1)=='/'?(substr($val['path'],0,-1)=='/'?$val['path']:$val['path'].'/'):(substr($val['path'],0,-1)=='/'?'/'.$val['path']:'/'.$val['path'].'/')):'javascript:void(0)'}" target="{:$val['path']?'_blank':'_self'}" class="pic"><img src="{:get_cover($val['img'],'path')}"></a>
            <span><a href="{:$val['path']?(substr($val['path'],0,1)=='/'?(substr($val['path'],0,-1)=='/'?$val['path']:$val['path'].'/'):(substr($val['path'],0,-1)=='/'?'/'.$val['path']:'/'.$val['path'].'/')):'javascript:void(0)'}" target="{:$val['path']?'_blank':'_self'}">{$val.name}</a><b class="info">{$val.description}</b>
<b class="jj"><i>公司英文名：<s>{$val.name_e}</s></i><i>官网：<s>{$val.homepage}</s></i></b></span>

    </volist>
</ul>
<div class="page">{$page}</div>
<div style=" clear:both"></div>
</div>
</div>
<div id="nm-right">
    <!--#include virtual="{:getWidgetPath('6')}"-->
</div>
</div>
</block>
<div style="clear:both"></div>