<div id="lbxq-right">
    <!---排行榜---->
    <p class="lbjh"><i>礼包排行</i><b></b></p>
    <div class="paih" id="paihtab">
        <p class="title"><i class="cur">安卓</i><i>IOS</i></p>
        <ul class="cur ulTab">
            <li><span><a href="" target="_blank" class="pic4"><img src="__IMG__/pic3.jpg"></a><a href="" target="_blank" class="title">《叫我MT》这是游戏的标题一</a><s>礼</s></span></li>
            <li><span><a href="" target="_blank" class="pic4"><img src="__IMG__/pic3.jpg"></a><a href="" target="_blank" class="title">《叫我MT》这是游戏的标题一</a><s>礼</s></span></li>
            <li><span><a href="" target="_blank" class="pic4"><img src="__IMG__/pic3.jpg"></a><a href="" target="_blank" class="title">《叫我MT》这是游戏的标题一</a><s>礼</s></span></li>
            <li><span><a href="" target="_blank" class="pic4"><img src="__IMG__/pic3.jpg"></a><a href="" target="_blank" class="title">《叫我MT》这是游戏的标题一</a><s>礼</s></span></li>
            <li><span><a href="" target="_blank" class="pic4"><img src="__IMG__/pic3.jpg"></a><a href="" target="_blank" class="title">《叫我MT》这是游戏的标题一</a><s>码</s></span></li>
            <li><span><a href="" target="_blank" class="pic4"><img src="__IMG__/pic3.jpg"></a><a href="" target="_blank" class="title">《叫我MT》这是游戏的标题一</a><s>码</s></span></li>
            <li><span><a href="" target="_blank" class="pic4"><img src="__IMG__/pic3.jpg"></a><a href="" target="_blank" class="title">《叫我MT》这是游戏的标题一</a><s>码</s></span></li>
            <li><span><a href="" target="_blank" class="pic4"><img src="__IMG__/pic3.jpg"></a><a href="" target="_blank" class="title">《叫我MT》这是游戏的标题一</a><s>礼</s></span></li>
            <li><span><a href="" target="_blank" class="pic4"><img src="__IMG__/pic3.jpg"></a><a href="" target="_blank" class="title">《叫我MT》这是游戏的标题一</a><s>礼</s></span></li>
        </ul>
        <ul class="ulTab">
            <li><span><a href="" target="_blank" class="pic4"><img src="__IMG__/pic3.jpg"></a><a href="" target="_blank" class="title">2222222222222</a><s>码</s></span></li>
            <li><span><a href="" target="_blank" class="pic4"><img src="__IMG__/pic3.jpg"></a><a href="" target="_blank" class="title">2222222222222</a><s>码</s></span></li>
            <li><span><a href="" target="_blank" class="pic4"><img src="__IMG__/pic3.jpg"></a><a href="" target="_blank" class="title">222222222222222222</a><s>码</s></span></li>
            <li><span><a href="" target="_blank" class="pic4"><img src="__IMG__/pic3.jpg"></a><a href="" target="_blank" class="title">《叫我MT》这是游戏的标题一</a><s>码</s></span></li>
            <li><span><a href="" target="_blank" class="pic4"><img src="__IMG__/pic3.jpg"></a><a href="" target="_blank" class="title">《叫我MT》这是游戏的标题一</a><s>码</s></span></li>
        </ul>
    </div>
    <div class="lkxz">
        <b>领卡须知：</b>V流口水离开V老师但V吗毛驴看什么定律没事的；绿帽但V了但V没电了；V买到了吗vs女墩但昆仑奴v客了女生DVd了困死vv你是v；顿；上课吗V；但V美女们
    </div>

</div>