<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>排行列表</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" type="text/css" href="css/base.css"/>
<link rel="stylesheet" type="text/css" href="css/game.css"/>
</head>

<body>
<header class="wytop">
   <span class="back"></span>
   <b>《屌丝》游戏排行榜排行榜排行榜排行榜排行榜</b>
   <a href="" class="search"></a>
</header>
<!-- 首页搜索 和 新闻-->
<section class="news_wrap" id="syxw">
    <div class="glnav" id="phb">
        <i class="cur">最新</i>
        <i>最热</i>
    </div>
    <div>
        <ul class="rank_box current">	
            <li><a href=""><img src="iamges/6.jpg" alt="狂野飙车7:极速热力"></a><a href="" class="down_btn">下载</a><h6><a href="">狂野飙车7:极速热力</a></h6><p>CGWR：<span>7.5分</span></p><p>车枪球 <i>|</i> 免费 <i>|</i> 10.6MB</p></li>
            <li><a href=""><img src="iamges/6.jpg" alt="火影忍者"></a><a href="" class="down_btn">下载</a><h6><a href="">火影忍者</a></h6><p>CGWR：<span>7.1分</span></p><p>卡牌 <i>|</i> 免费 <i>|</i> 77.2M</p></li>
            <li><a href=""><img src="iamges/6.jpg" alt="神石传说之亚伦传"></a><a href="" class="down_btn">下载</a><h6><a href="">神石传说之亚伦传</a></h6><p>CGWR：<span>7.0分</span></p><p>角色扮演 <i>|</i> 免费 <i>|</i> 182.8MB</p></li>
            <li><a href=""><img src="iamges/6.jpg" alt="梦想海贼王"></a><a href="" class="down_btn">下载</a><h6><a href="">梦想海贼王</a></h6><p>CGWR：<span>7.0分</span></p><p>卡牌 <i>|</i> 免费 <i>|</i> 43.1M</p></li>
            <li><a href=""><img src="iamges/6.jpg" alt="暗黑复仇者"></a><a href="" class="down_btn">下载</a><h6><a href="">暗黑复仇者</a></h6><p>CGWR：<span>6.5分</span></p><p>角色扮演 <i>|</i> 免费 <i>|</i> 49.8MB</p></li>
         </ul>
        <ul class="rank_box">	
            <li><a href=""><img src="iamges/6.jpg" alt="55555555"></a><a href="" class="down_btn">下载</a><h6><a href="">565555555</a></h6><p>CGWR：<span>7.5分</span></p><p>车枪球 <i>|</i> 免费 <i>|</i> 10.6MB</p></li>
            <li><a href=""><img src="iamges/6.jpg" alt="火影忍者"></a><a href="" class="down_btn">下载</a><h6><a href="">5555555</a></h6><p>CGWR：<span>7.1分</span></p><p>卡牌 <i>|</i> 免费 <i>|</i> 77.2M</p></li>
            <li><a href=""><img src="iamges/6.jpg" alt="神石传说之亚伦传"></a><a href="" class="down_btn">下载</a><h6><a href="">神石传说之亚伦传</a></h6><p>CGWR：<span>7.0分</span></p><p>角色扮演 <i>|</i> 免费 <i>|</i> 182.8MB</p></li>
            <li><a href=""><img src="iamges/6.jpg" alt="梦想海贼王"></a><a href="" class="down_btn">下载</a><h6><a href="">梦想海贼王</a></h6><p>CGWR：<span>7.0分</span></p><p>卡牌 <i>|</i> 免费 <i>|</i> 43.1M</p></li>
            <li><a href=""><img src="iamges/6.jpg" alt="暗黑复仇者"></a><a href="" class="down_btn">下载</a><h6><a href="">暗黑复仇者</a></h6><p>CGWR：<span>6.5分</span></p><p>角色扮演 <i>|</i> 免费 <i>|</i> 49.8MB</p></li>
         </ul>
    </div>
    <a class="get_more" href="">展开查看更多<span></span></a>
</section>	
    <!-- 搜索 -->
    <section class="search_wrap">
    <form method="get" action="" class="search">
        <input type="text" name="k" class="sipt" id="sipt" placeholder="搜游戏" value="">
        <a href="javascript:void(0)" class="sbtn"></a>
    </form>
	</section>
	<!-- 热门工具 -->
	<section class="tool_wrap">
        <h3><i>热门工具</i></h3>
        <div class="tool_box" data-sudaclick="main_hottool">
			<ul>
				<li>
					<a href=""><img alt="新浪游戏APP" src="iamges/6.jpg"></a>
					<h6><a href="">新浪游戏APP</a></h6>
					<p><a href="">( 礼包、资讯、视频、排行榜)</a></p>
					<a class="tool_btn" href=""></a>
				</li>
												<li>
					<a href=""><img alt="新浪新手卡中心" src="iamges/6.jpg"></a>
					<h6><a href="">新浪新手卡中心</a></h6>
					<p><a href="">(手游发卡顶呱呱)</a></p>
					<a class="tool_btn" href=""></a>
				</li>
			</ul>
		</div>
	</section>
    
  <footer>
    <div class="about" data-sudaclick="main_fnav">
     <span><a href="">手机版</a><i></i></span><span><a href="">网页版</a><i></i></span><span><a href="">关于</a></span>
    </div>
  </footer>
  <div class="backtop"><a href="">返回顶部</a></div>
<script type="text/javascript" src="js/zepto.js"></script>
<script type="text/javascript" src="js/wap.js"></script>
</body>
</html>
