<extend name="Home@gfw/Base/commonIndex" />

<block name="style">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/gfw/css/about.css"/>
</block>

<block name="body">
<div class="page-nav"><div class="page-left"><span class="location">当前位置：</span><a href="{:C('STATIC_URL')}">首页</a><span class="grey">&gt;</span>免费声明</div><span class="sum"></span></div>
<div id="about" class="gf1000">
    {:W('Home/gfw/navgywm',array($tm))}
    <!-----nav-gy-end----->
    <div class="statement gf-border">
        <h1 class="title">免责声明</h1>
        <div>{$info}</div>
    </div>
    <!-----about-content-end----->

</div>
<!-----about-end----->
</block>