	<div class="main-r-header">
		<a class="head-pic cfl"><img src="__PUBLIC__/Home/gfw/images/Loginpic.gif" width="50" height="50" /></a>
		<div class="cfl">
			<span class="hello">Hi,你好</span>
			<span class="last-login">欢迎来到官方网！</span>
		</div>
	</div>

	<div class="fd-clr">
		<if condition="$type eq 'all'">
			<a href="{:C('I_URL')}/Website/create" target="_blank" class="login-btn1 cfl">发布网站</a>
			<a href="{:C('I_URL')}/Product/create" target="_blank" class="regist-btn1 cfl">发布产品</a>
		<else />
			<a href="{:C('I_URL')}/i.php?m=I&c=Index&a=login" target="_blank" class="login-btn cfl">登录</a>
		<a href="{:C('I_URL')}/i.php?m=I&c=Index&a=register" target="_blank" class="regist-btn cfl">立即注册</a>
		</if>
	</div>
	<div class="main-release flclr">
		<div class="release-title">
			<if condition="$type eq 'all'">
				<span class="cut">会员发布网站</span>
				<span>会员发布产品</span>
			<else />
				<h2 class="cfl">会员发布</h2>
				<i class="release-icon cfl"></i>
			</if>
		</div>
		<!-- 网站 -->
		<if condition = "in_array($type,array('website','all'))">
		<ul id="item1" class="release-main">
			<volist name="websiteList" id="website" key="i">
				<li>
					<a href="{:staticUrl('detail',$website['id'],'Package')}" target="_blank" title="{:$website['title']}">{$website['title']|msubstr=0,13,'utf-8',false}</a>
					<if condition='$i elt 3'>
						<span class="gif-news"></span>
					</if>
				</li>
			</volist>
		</ul>
		</if>
		<if condition = "in_array($type,array('website','all'))">
		<ul id="item2" class="release-main"style="display:none;">
			<volist name="productList" id="product" key="i">
				<li>
					<a href="{:staticUrl('detail',$product['id'],'Down')}" target="_blank" title="{:$product['title']}">{$product['title']|msubstr=0,10,'utf-8',false}</a>
					<if condition='$i elt 3'>
						<span class="gif-news"></span>
					</if>
				</li>
			</volist>
		</ul>
		</if>
	</div>