<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta name="keywords" content="" />
    <meta name="description" content="" /><link rel="stylesheet" type="text/css" href="/Public/Home/7230/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/Public/Zq/7230/css/jxhj.css"/>
</head>
<body>

<script language="javascript"> window.DYNAMIC_SERVER_URL = 'http://dynamic.liuliu.com';</script>
<div id="head">
    <div id="top"><a href="http://static.liuliu.com" class="logo"></a>
        <form action="http://s.7230.com/cse/search" method="get" id="Search_form" name="Search_form" class="">
            <input type="text" name="q" id="searchBox" autocomplete="off" autocomplete="off" class="" value="输入你想搜索的游戏..."/>
            <input type="hidden" value="17256763110727190540" name="s">
            <input type="hidden" value="1" name="entry">
            <button type="submit" id="searchBtn" class="btn-submit"></button>
        </form>
    </div>
    <div id="nav">
        <ul>
            <li><a href="http://static.liuliu.com">首页</a></li>
            <li><a href="http://static.liuliu.com/xy/">资讯</a>
                 <span>
                      <a href="http://static.liuliu.com/xy/">新游</a>
                      <a href="http://static.liuliu.com/hd/">活动</a>
                      <a href="http://static.liuliu.com/yj/">业界</a>
                 </span>
            </li>
            <li><a href="http://static.liuliu.com/wy/">攻略</a>
                 <span>
                      <a href="http://static.liuliu.com/wy/">网游攻略</a>
                      <a href="http://static.liuliu.com/dj/">单机攻略</a>
                      <a href="http://static.liuliu.com/jc/">软件教程</a>
                 </span>
            </li>
            <li><a href="http://static.liuliu.com/yx/">下载</a>
                 <span>
                      <a href="http://static.liuliu.com/yx/">游戏</a>
                      <a href="http://static.liuliu.com/rj/">软件</a>
                      <a href="http://static.liuliu.com/tj/">推荐列表</a>
                 </span>
            </li>
            <li><a href="http://static.liuliu.com/yc/">原创</a>
                 <span>
                      <a href="http://static.liuliu.com/wan/">逗你玩</a>
                      <a href="http://static.liuliu.com/pc/">游戏评测</a>
                      <a href="http://static.liuliu.com/rpc/">软件评测</a>
                      <a href="http://static.liuliu.com/week/">周报</a>
                      <a href="http://static.liuliu.com/mon/">月报</a>
                 </span>
            </li>

            <li class="ztright"><a href="http://libao.7230.liuliu.com/">礼包</a>
              <span>
                  <a href="http://libao.7230.liuliu.com/lb/">大礼包</a>
                  <a href="http://libao.7230.liuliu.com/ma/">激活码</a>
                  <a href="http://libao.7230.liuliu.com/ka/">新手卡</a>
              </span>
            </li>

            <li class="ztright"><a href="http://static.liuliu.com/kf/">测试表</a>
                 <span>
                  <a href="http://static.liuliu.com/kc/">开测表</a>
                  <a href="http://static.liuliu.com/kf/">开服表</a>
                 </span>
            </li>

            <li class="ztright"><a href="http://static.liuliu.com/zt/">专题</a>
                 <span>
                      <a href="http://static.liuliu.com/zq/">专区</a>
                      <a href="http://static.liuliu.com/k/">合辑</a>
                      <a href="http://static.liuliu.com/cs/">厂商</a>
                      <!--<a href="http://static.liuliu.com/jx/">机型</a>-->
                 </span>
            </li>
            <li class="ztright"><a href="http://static.liuliu.com/top/">排行</a>
                 <span>
                      <a href="http://static.liuliu.com/video/">媒体库</a>
                      <a href="http://static.liuliu.com/pic/">图片库</a>
                 </span>
            </li>
        </ul>
    </div>
    <p id="nav2"></p>
</div>
<!-----head-END----->
<div style=" clear:both"></div>


<div id="down-main">
    <p class="page-nav">当前位置：<a href="http://static.liuliu.com">首页</a>->机型合集</p>


    <!----本期简介---------->
    <div class="bqjs">

        <span> <b>小米手机性价比详解</b> <i class="info">你看了是淡淡的淡淡的淡淡的淡淡的说洛淡的淡淡的淡淡的淡淡的说洛克菲勒开始的记洛克菲勒开始克菲勒开始的记洛克菲勒开始的记洛克菲勒开始克菲勒开始的记洛克菲勒开始的记洛克菲了</i> </span>

        <p><img src="images/jxtp.png"></p>
    </div>


    <!----最近更新------>


    <p class="zjgx-title">
        <i class="cur">网游</i>
        <i>单机</i>
    </p>


    <div class="zjgx">
        <!----------------------挂载部分------------------------>
        <div class="current">


        </div>


        <div>
        </div>
    </div>
</div>

<div style="clear:both"></div>
<div id="footer">
    <div class="foot-top">
        <ul>
            <li class="zx">
                <i>资讯</i><a href="http://static.liuliu.com/xy/" target="_blank">新游</a><a href="http://static.liuliu.com/hd/" target="_blank">活动</a><a href="http://static.liuliu.com/yj/" target="_blank">业界</a>
            </li>
            <li class="lm">
                <i>栏目</i><a href="http://static.liuliu.com/pc/" target="_blank">手游评测</a><a href="http://static.liuliu.com/wan/" target="_blank">逗你玩</a><a href="http://static.liuliu.com/wy/" target="_blank">网游攻略</a><a href="http://static.liuliu.com/dj/" target="_blank">单机攻略</a>
            </li>
            <li class="cp">
                <i>产品</i><a href="http://static.liuliu.com/zq/" target="_blank">游戏专区</a><a href="http://static.liuliu.com/k/" target="_blank">游戏合辑</a><a href="http://static.liuliu.com/week/" target="_blank">手游周报</a><a href="http://static.liuliu.com/mon/" target="_blank">手游月报</a>
            </li>
            <li class="hz">
                <i>合作</i><a href="javascript:void(0)">mail:hqy@952.com</a><a href="javascript:void(0)">QQ：524507871</a><a href="javascript:void(0)">电话：0731-85868798</a>
            </li>
            <li class="fx">
                <a href="" class="logo"></a>
                <form action="http://static.liuliu.com/search.html" method="get" id="Search_form" name="Search_form" class=""  target="_blank">
                    <input type="text" name="keyword" id="searchBox" autocomplete="off" class="" value="输入你想搜索的游戏...">
                    <button type="submit" id="searchBtn" class="btn-submit"></button>
                </form>
                <span class="fxan">
                <!-- JiaThis Button BEGIN -->
                <div class="jiathis_style_32x32">
                    <a class="jiathis_button_qzone"></a>
                    <a class="jiathis_button_tsina"></a>
                    <a class="jiathis_button_tqq"></a>
                    <a class="jiathis_button_weixin"></a>
                    <a class="jiathis_button_renren"></a>
                    <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                </div>
                <!-- JiaThis Button END -->
                </span>
            </li>
        </ul>
    </div>

    <div class="foot-bottom">
<span>
        <p><a href="#" target="_blank" rel="nofollow">关于本站</a>|<a href="#" target="_blank" rel="nofollow">免责声明</a>|<a href="#" target="_blank" rel="nofollow">网站合作</a>|<a href="#" target="_blank" rel="nofollow">友情链接</a> </p>
        <p>Copyright © 2012 7230手机门户(www.7230.com).All Right severed 备案编号：<a href="http://www.miitbeian.gov.cn" rel="nofollow" target="_blank">湘ICP备14002623号</a></p>
        </span>
    </div>
</div>
<script type="text/javascript" src="/Public/static/jquery.min.js"></script>
<script type="text/javascript" src="/Public/Home/7230/js/global.js"></script>

<script type="text/javascript" src="/Public/static/jquery.knob.js"></script>
<script type="text/javascript" src="/Public/static/excanvas.js"></script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>

</body>
</html>