
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>K页面</title>
    <link rel="stylesheet" type="text/css" href="css/base.css"/>
    <link rel="stylesheet" type="text/css" href="css/kpage.css"/>
    <link id="size-stylesheet" rel="stylesheet" type="text/css" href="" />
</head>
<body>
<div id="head">
    <div id="top">
        <img src="images/logo.jpg">
        <form action="/search.asp" method="get" id="Search_form" name="Search_form" target="_blank" class="">
            <input type="text" name="keyword" id="searchBox" autocomplete="off" class="" value="输入你想搜索的游戏...">
            <button type="submit" id="searchBtn" class="btn-submit"></button>
        </form>
    </div>
    <div id="nav">
        <ul>
            <li><a href="" target="_blank">首页</a></li>
            <li>资讯
                 <span>
                      <a href="" target="_blank">新游</a>
                      <a href="" target="_blank">活动</a>
                      <a href="" target="_blank">业界</a>
                 </span>
            </li>
            <li>攻略
                 <span>
                      <a href="" target="_blank">网游攻略</a>
                      <a href="" target="_blank">单机攻略</a>
                 </span>
            </li>
            <li>下载
                 <span>
                      <a href="" target="_blank">游戏</a>
                      <a href="" target="_blank">软件</a>
                      <a href="" target="_blank">推荐列表</a>
                      <a href="" target="_blank">筛选</a>
                 </span>
            </li>
            <li>原创
                 <span>
                      <a href="" target="_blank">逗你玩</a>
                      <a href="" target="_blank">评测</a>
                      <a href="" target="_blank">周报</a>
                      <a href="" target="_blank">月报</a>
                 </span>
            </li>
            <li class="ztright">礼包
                 <span>
                      <a href="" target="_blank">新手卡</a>
                      <a href="" target="_blank">激活码</a>
                      <a href="" target="_blank">预定</a>
                      <a href="" target="_blank">内容页</a>
                 </span>
            </li>
            <li class="ztright">测试表
                 <span>
                      <a href="" target="_blank">开测表</a>
                      <a href="" target="_blank">开服表</a>
                 </span>
            </li>
            <li class="ztright">专题
                 <span>
                      <a href="" target="_blank">专区</a>
                      <a href="" target="_blank">合辑</a>
                      <a href="" target="_blank">厂商</a>
                      <a href="" target="_blank">机型</a>
                 </span>
            </li>
            <li class="ztright">排行
                 <span>
                      <a href="" target="_blank">媒体库</a>
                      <a href="" target="_blank">图片库</a>
                 </span>
            </li>
        </ul>
    </div>
    <p id="nav2"></p>
</div>
<div style=" clear:both"></div>
<!-----head-END----->
<div id="kpage">
    <p class="page-nav">当前位置：<a href="">首页</a><a href="">专题</a> 游戏合集</p>
    <div class="rjhj-info">
        <div class="hj-info-m">
            <a href="" target="_blank" class="pic"><img src="http://pic.7230.com/Uploads/Picture/2015-03-12/5500ecac86af9.png"></a>
            <div class="yxbt"><h1><a href="" target="_blank" class="tit">奇迹暖暖</a></h1><span><a href="">萌系</a><a href="">益智</a><a href="">男生版</a><a href="">萌系</a><a href="">益智</a></span></div>
            <div class="info"><b>软件介绍：</b>全新暖暖重磅来袭全新暖暖重磅来袭全新暖暖重磅来袭全新暖暖重磅来袭全新暖暖重暖暖重磅来袭全新暖暖重磅来袭全新暖暖重暖重磅来袭全新暖暖重暖暖重磅来袭全新暖暖重磅来袭全新暖暖重磅来袭全新暖暖重暖暖重磅来袭全新暖暖重磅来袭全新暖暖重磅来袭全新暖暖重磅来袭全新暖暖重磅来袭全新暖暖重磅来袭全新暖暖重磅来袭！奇迹暖暖惊艳登场，全新的冒险带给你不一样的体验！</div>
        </div>
    </div>
    <div class="rjhj-main">
        <!--轮播部分-->
        <div class="wraper-pic">
            <div class="hjlb">
                <div class="lb-topl">
                    <span><i class="cur">1</i><i>2</i><i>3</i><i>4</i></span>
                    <ul class="libaoul">
                        <li class="current"><a href="1" target="_blank"><img src="images/pic4.jpg" alt="这是图片一的标题"></a></li>
                        <li><a href="2" target="_blank"><img src="images/pic2.jpg" alt="这是图片二"></a></li>
                        <li><a href="3" target="_blank"><img src="images/pic1.jpg" alt="这是图片三"></a></li>
                        <li><a href="4" target="_blank"><img src="images/pic2.jpg" alt="这是图片二"></a></li>
                    </ul>
                    <p class="biaoti"><em></em><b></b></p>
                </div>
                <!--最新教程-->
                <div class="new-jc">
                    <div class="hj-news-rec">
                        <h2><a href="" target="_blank">奇迹暖暖第二轮封测即将结束</a></h2>
                        <p>奇迹暖暖第二轮封测暖暖重磅来袭！奇迹暖暖惊艳登场，全新的冒险带给你不一样的体验！</p>
                    </div>
                    <ul>
                        <li><em>04-15</em><a href="" target="_blank">奇迹暖暖第三章掉落物品一览</a></li>
                        <li><em>04-15</em><a href="" target="_blank">奇迹暖暖有哪些成就</a></li>
                        <li><em>04-15</em><a href="" target="_blank">奇迹暖暖官网地址 奇迹暖暖有官网吗</a></li>
                        <li><em>04-15</em><a href="" target="_blank">奇迹暖暖问题官方回复汇总</a></li>
                        <li><em>04-15</em><a href="" target="_blank">奇迹暖暖什么时候公测奇迹暖暖什么时候公测奇迹暖暖什么时候公测</a></li>
                        <li><em>04-15</em><a href="" target="_blank">奇迹暖暖怎么换头像 怎么退出换头像</a></li>
                    </ul>
                </div>
            </div>
            <!--软件教程-->
            <div class="hj-jc">
                <p class="title"><i></i>软件教程<a href="" target="_blank" class="more"></a></p>
                <div class="tptj">
                    <p><a href="" target="_blank"><img src="images/pic1.jpg"><span>这是游戏的标题</span></a></p>
                    <p><a href="" target="_blank"><img src="images/pic1.jpg"><span>这是游戏是游戏是游戏是游戏是游戏是游戏的标题</span></a></p>
                    <p><a href="" target="_blank"><img src="images/pic1.jpg"><span>这是游戏的标题</span></a></p>
                </div>
                <ul>
                    <li><i>11-01</i><a href="" target="_blank"><b>[单机] </b>这是标题这是标题这是标题这是标题这是标题</a></li>
                    <li><i>11-01</i><a href="" target="_blank"><b>[单机] </b>这是标题这是标题这是标标题这是标题这是标题这是标题这是标题</a></li>
                    <li><i>11-01</i><a href="" target="_blank"><b>[单机] </b>这是标题这是标题这是标题这是标题这是标题</a></li>
                    <li><i>11-01</i><a href="" target="_blank"><b>[单机] </b>这是标题这是标题这是标题这是标题这是标题</a></li>
                    <li><i>11-01</i><a href="" target="_blank"><b>[单机] </b>这是标题这是标题这是标题这是标题这是标题</a></li>
                    <li><i>11-01</i><a href="" target="_blank"><b>[单机] </b>这是标题这是标题这是标题这是标题这是标题</a></li>
                    <li><i>11-01</i><a href="" target="_blank"><b>[单机] </b>这是标题这是标题这是标题这是标题这是标题</a></li>
                    <li><i>11-01</i><a href="" target="_blank"><b>[单机] </b>这是标题这是标题这是标题这是标题这是标题</a></li>
                    <li><i>11-01</i><a href="" target="_blank"><b>[单机] </b>这是标题这是标题这是标题这是标题这是标题</a></li>
                    <li><i>11-01</i><a href="" target="_blank"><b>[单机] </b>这是标题这是标题这是标题这是标题这是标题</a></li>
                </ul>
            </div>
            <!--软件问答-->
            <div class="hj-jc">
                <p class="title"><i></i>软件问答<a href="" target="_blank" class="more"></a></p>
                <div class="tptj">
                    <p><a href="" target="_blank"><img src="images/pic1.jpg"><span>这是游戏的标题</span></a></p>
                    <p><a href="" target="_blank"><img src="images/pic1.jpg"><span>这是游戏是游戏是游戏是游戏是游戏是游戏的标题</span></a></p>
                    <p><a href="" target="_blank"><img src="images/pic1.jpg"><span>这是游戏的标题</span></a></p>
                </div>
                <ul>
                    <li><i>11-01</i><a href="" target="_blank"><b>[单机] </b>这是标题这是标题这是标题这是标题这是标题</a></li>
                    <li><i>11-01</i><a href="" target="_blank"><b>[单机] </b>这是标题这是标题这是标标题这是标题这是标题这是标题这是标题</a></li>
                    <li><i>11-01</i><a href="" target="_blank"><b>[单机] </b>这是标题这是标题这是标题这是标题这是标题</a></li>
                    <li><i>11-01</i><a href="" target="_blank"><b>[单机] </b>这是标题这是标题这是标题这是标题这是标题</a></li>
                    <li><i>11-01</i><a href="" target="_blank"><b>[单机] </b>这是标题这是标题这是标题这是标题这是标题</a></li>
                    <li><i>11-01</i><a href="" target="_blank"><b>[单机] </b>这是标题这是标题这是标题这是标题这是标题</a></li>
                    <li><i>11-01</i><a href="" target="_blank"><b>[单机] </b>这是标题这是标题这是标题这是标题这是标题</a></li>
                    <li><i>11-01</i><a href="" target="_blank"><b>[单机] </b>这是标题这是标题这是标题这是标题这是标题</a></li>
                    <li><i>11-01</i><a href="" target="_blank"><b>[单机] </b>这是标题这是标题这是标题这是标题这是标题</a></li>
                    <li><i>11-01</i><a href="" target="_blank"><b>[单机] </b>这是标题这是标题这是标题这是标题这是标题</a></li>
                </ul>
            </div>
        </div>
        <div class="zqmain-right" id="nm-right">
            <!----游戏下载---->
            <div class="zqmain-rm">
                <b>游戏下载</b>
                <a href="" class="andro">安卓版</a><a href="" class="apple">苹果版</a><a href="" class="pc">电脑版</a>
            </div>
            <!--相关软件合集-->
            <div class="hj-xgrj">
                <p class="title">相关软件合集<a href="" target="_blank" class="more"></a></p>
                <ul>
                    <li><a href="" target="_blank"><img src="images/pic2.jpg"><span>这是专题合集的标题</span></a></li>
                    <li><a href="" target="_blank"><img src="images/pic2.jpg"><span>这是专题合集的标题</span></a></li>
                    <li><a href="" target="_blank"><img src="images/pic2.jpg"><span>这是专题合集的标题</span></a></li>
                    <li><a href="" target="_blank"><img src="images/pic2.jpg"><span>这是专题合集的标题</span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!----底部轮播---->
    <div id="lunbo">
        <p class="title"><i></i>推荐合集<a href="" target="_blank" class="more"></a></p>
        <div class="lbmain">
            <span class="prev"></span>
            <div class="lunbo-m">
                <ul>
                    <li><a href="" target="_blank"><img src="images/pic1.jpg"></a><a href="" target="_blank" class="title">这是游戏的标题1</a></li>
                    <li><a href="" target="_blank"><img src="images/pic1.jpg"></a><a href="" target="_blank" class="title">这是游戏的标题2</a></li>
                    <li><a href="" target="_blank"><img src="images/pic1.jpg"></a><a href="" target="_blank" class="title">这是游戏的标题3</a></li>
                    <li><a href="" target="_blank"><img src="images/pic1.jpg"></a><a href="" target="_blank" class="title">这是游戏的标题4</a></li>
                    <li><a href="" target="_blank"><img src="images/pic1.jpg"></a><a href="" target="_blank" class="title">这是游戏的标题5</a></li>
                    <li><a href="" target="_blank"><img src="images/pic1.jpg"></a><a href="" target="_blank" class="title">这是游戏的标题6</a></li>
                    <li><a href="" target="_blank"><img src="images/pic1.jpg"></a><a href="" target="_blank" class="title">这是游戏的标题7</a></li>
                    <li><a href="" target="_blank"><img src="images/pic1.jpg"></a><a href="" target="_blank" class="title">这是游戏的标题8</a></li>
                    <li><a href="" target="_blank"><img src="images/pic1.jpg"></a><a href="" target="_blank" class="title">这是游戏的标题9</a></li>
                    <li><a href="" target="_blank"><img src="images/pic1.jpg"></a><a href="" target="_blank" class="title">这是游戏的标题10</a></li>

                </ul>
            </div>
            <span class="next"></span>
        </div>
    </div>
</div>
<div style="clear:both"></div>
<div id="footer">
    <div class="foot-top">
        <ul>
            <li class="zx"><i>资讯</i><a href="" target="_blank">新游</a><a href="" target="_blank">活动</a><a href="" target="_blank">业界</a></li>
            <li class="lm"><i>栏目</i><a href="" target="_blank">周游世界</a><a href="" target="_blank">周游世界</a><a href="" target="_blank">周游世界</a><a href="" target="_blank">专辑</a><a href="" target="_blank">专区</a></li>
            <li class="cp"><i>产品</i><a href="" target="_blank">周游世界</a><a href="" target="_blank">周游世界</a><a href="" target="_blank">周游世界</a><a href="" target="_blank">专辑</a><a href="" target="_blank">专区</a></li>
            <li class="hz"><i>合作</i><a href="" target="_blank">周游世界</a><a href="" target="_blank">周游世界</a><a href="" target="_blank">周游世界</a></li>
            <li class="fx">
                <a href="" class="logo"></a>
                <form action="/search.asp" method="get" id="Search_form" name="Search_form" target="_blank" class="">
                    <input type="text" name="keyword" id="searchBox" autocomplete="off" class="" value="输入你想搜索的游戏...">
                    <button type="submit" id="searchBtn" class="btn-submit"></button>
                </form>
                <span class="fxan">
                    <!-- JiaThis Button BEGIN -->
                    <div class="jiathis_style_32x32">
                        <a class="jiathis_button_qzone"></a>
                        <a class="jiathis_button_tsina"></a>
                        <a class="jiathis_button_tqq"></a>
                        <a class="jiathis_button_weixin"></a>
                        <a class="jiathis_button_renren"></a>
                        <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                    </div>
                    <!-- JiaThis Button END -->
                </span>
            </li>
        </ul>
    </div>
    <div class="foot-bottom">
        <span>
            <b>友情链接：</b>
            <a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a>
            <a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a>
            <a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a>
            <a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a>
            <a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a>
            <a href="" target="_blank">手游排行榜</a>
            <p><a href="" target="_blank">关于本站</a>|<a href="" target="_blank">免责声明</a>|<a href="" target="_blank">网站合作</a>|<a href="" target="_blank">友情链接</a></p>
            <p>Copyright © 2012 7230手机门户(www.7230.com).All Right severed 备案编号：湘ICP备14002623号</p>
        </span>
    </div>
</div>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/news.js"></script>
<!--<script type="text/javascript" src="js/iepngfix_tilebg.js"></script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>-->
</body>
</html>
