<extend name="Public/base"/>


<block name="body">
    <div class="main-title"> <h2> 文章列表 </h2> </div>
    <div class="cf">
        <div class="fl">
            <a class="btn"  href="{:U("moduleLists",array("model"=>"Document","method"=>"createStaticListsM","category_id"=>90))}">新 游</a>
            <a class="btn"  href="{:U("moduleLists",array("model"=>"Document","method"=>"createStaticListsM","category_id"=>94))}">活 动</a>
            <a class="btn"  href="{:U("moduleLists",array("model"=>"Document","method"=>"createStaticListsM","category_id"=>87))}">业 界</a>
            <a class="btn"  href="{:U("moduleLists",array("model"=>"Document","method"=>"createStaticListsM","category_id"=>93))}">逗你玩</a>
            <a class="btn"  href="{:U("moduleLists",array("model"=>"Document","method"=>"createStaticListsM","category_id"=>91))}">游戏评测</a>
            <a class="btn"  href="{:U("moduleLists",array("model"=>"Document","method"=>"createStaticListsM","category_id"=>88))}">软件评测</a>
            <a class="btn"  href="{:U("moduleLists",array("model"=>"Document","method"=>"createStaticListsM","category_id"=>95))}">网游攻略</a>
            <a class="btn"  href="{:U("moduleLists",array("model"=>"Document","method"=>"createStaticListsM","category_id"=>92))}">单机攻略</a>
            <a class="btn"  href="{:U("moduleLists",array("model"=>"Document","method"=>"createStaticListsM","category_id"=>89))}">软件教程</a>
        </div>
    </div>
    </br>

    <div class="main-title"> <h2> 厂商模块 </h2> </div>
    <div class="cf">
        <div class="fl">
            <a class="btn" target="_blank" href="{:U("companyDetail",array("type"=>1))}">详 情</a>
        </div>
    </div>
    </br>

    <!--<div class="main-title"> <h2> 礼包模块 </h2> </div>-->
    <!--<div class="cf">-->
        <!--<div class="fl">-->
            <!--<a class="btn"  href="{:U("moduleLists",array("model"=>"Package","method"=>"createStaticListsM","category_id"=>1))}">大礼包</a>-->
            <!--<a class="btn"  href="{:U("moduleLists",array("model"=>"Package","method"=>"createStaticListsM","category_id"=>2))}">激活码</a>-->
            <!--<a class="btn"  href="{:U("moduleLists",array("model"=>"Package","method"=>"createStaticListsM","category_id"=>4))}">新手卡</a>-->
        <!--</div>-->
    <!--</div>-->
    <!--</br>-->

</block>