<extend name="Public/base"/>



<block name="body">
    <style>.cf{width: 400px;.main-title:400px;}</style>
    <div class="main-title"> <h2> 全站相关页面生成 </h2> </div>
    <div class="cf">
        <div class="fl">
            <a  class="btn"  href="{:U("home",array("method"=>"index"))}">全站首页</a>
        </div>
    </div>
    </br>
    <div class="main-title"> <h2> 网站大全模块生成 </h2> </div>
    <div class="cf">
        <div class="fl">
            <a class="btn"  href="{:U("moduleLists",array("model"=>"Package","method"=>"createStaticLists"))}">列 表 页</a>
            <a class="btn"  href="{:U("moduleDetail",array("model"=>"Package","method"=>"createStaticDetail"))}">内 容 页</a>
            <a class="btn"  href="{:U("provinceList")}">地方网站大全</a>
        </div>
    </div>
    </br>
    <div class="main-title"> <h2> 产品中心模块生成 </h2> </div>
    <div class="cf">
        <div class="fl">
            <a class="btn"  href="{:U("moduleIndex",array("model"=>"Down","method"=>"createStaticIndex"))}">首 页</a>
            <a class="btn"  href="{:U("moduleLists",array("model"=>"Down","method"=>"createStaticLists"))}">列 表 页</a>
            <a class="btn"  href="{:U("moduleDetail",array("model"=>"Down","method"=>"createStaticDetail"))}">内 容 页</a>
        </div>
    </div>
    </br>
    <div class="main-title"> <h2> 百事百科模块生成 </h2> </div>
    <div class="cf">
        <div class="fl">
            <a class="btn"  href="{:U("moduleIndex",array("model"=>"Document","method"=>"createStaticIndex"))}">首 页</a>
            <a class="btn"  href="{:U("moduleLists",array("model"=>"Document","method"=>"createStaticLists"))}">列 表 页</a>
            <a class="btn"  href="{:U("moduleDetail",array("model"=>"Document","method"=>"createStaticDetail"))}">内 容 页</a>
        </div>
    </div>
    </br>
    <div class="main-title"> <h2>专题页面生成 </h2> </div>
    <div class="cf">
        <div class="fl">
            <a class="btn"  href="?s=Feature/create">专题内容页(包括手机版)</a>
            <a class="btn"  href="{:U("moduleLists",array("model"=>"Feature","method"=>"createStaticLists"))}">列 表 页</a><br/><br/>
        </div>
    </div>
    </br>
    <div class="main-title"> <h2>百度站点地图生成 </h2> </div>
    <div class="cf">
        <div class="fl">
            <a class="btn"  href="{:U("siteMapNew")}">最新数据生成</a>
            <a class="btn"  href="{:U("siteMap",array("model"=>"Package"))}">网站大全全站站点地图</a><br/><br>
            <a class="btn"  href="{:U("siteMap",array("model"=>"Down"))}">产品中心全站站点地图</a>
            <a class="btn"  href="{:U("siteMap",array("model"=>"Document"))}">百事百科全站站点地图</a><br/><br>
            <a class="btn"  href="{:U("siteMapToTopic")}">专题站点地图</a>
        </div>
    </div>
    </br>
    
  <div class="main-title"> <h2>神马搜索结构化数据生成 </h2> </div>
  <div class="cf">
    <div class="fl">
      <a class="btn"  href="{:U("shenmaSiteMap",array("model"=>"Document"))}">文章数据生成</a>
      <a class="btn"  href="{:U("shenmaSiteMap",array("model"=>"Down"))}">下载数据生成</a>
    </div>
  </div>
  </br>

</block>

