<extend name="Public/base"/>



<block name="body">
    <style>.cf{width: 400px;.main-title:400px;}</style>
    <div class="main-title"> <h2> 手机版全站相关页面生成 </h2></div>
    </br>
    <div class="main-title"> <h2> 文章生成 </h2> </div>
    <div class="cf">
        <div class="fl">
            <a class="btn"  href="{:U("moduleLists",array("model"=>"Document","method"=>"createStaticListsM","level"=>2))}">列 表 页</a>
            <a class="btn"  href="{:U("moduleDetail",array("model"=>"Document","method"=>"createStaticDetailM"))}">内 容 页</a>
        </div>
    </div>

    </br>
</block>

