<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
<title>{$SEO.title}</title>
<meta name="keywords" content="{$SEO.keywords}"/>
<meta name="description" content="{$SEO.description}"/>
<block name="style"></block>
<link rel="shortcut icon" href="__PUBLIC__/Package/pc6/images/favicon.ico" />
<script language="javascript"> 
	window.DYNAMIC_SERVER_URL = '{:C('DYNAMIC_SERVER_URL')}';
	window.STATIC_URL = '{:C('STATIC_URL')}';
</script>
