<extend name="Public/base"/>

<block name="body">
	<div class="main-title">
		<h2>标签管理</h2>
	</div>

        <!-- 表格列表 -->
        <div class="tb-unit posr">
            <div class="tb-unit-bar">
                <a class="btn" href="{:U('add?category='.$category)}">新 增</a>
                <button class="btn ajax-post confirm" target-form="ids" url="{:U("remove")}">删 除</button>
                <button class="btn ajax-post" target-form="ids" url="{:U("moveTags")}">移 动(移动到不同分类)</button>
                <button class="btn ajax-post" target-form="ids" hide-data="true" url="{:U("pasteTags")}">粘 贴（粘贴到不同分类）</button>
                <input type="hidden" class="hide-data" name="category" value="{$category}"/>
                                            <div class="search-form fr cf">
                                                <div class="sleft">
                                                      <div class="drop-down">
                                                         <span id="sch-sort-txt" class="sort-txt" data="title">名称</span>
                                                         <i class="arrow arrow-down"></i>
                                                         <ul id="sub-sch-menu" class="nav-list hidden">
                                                        </ul>
                                                    </div>
                                                  <input type="text" name="keyword" class="search-input" value="{:I('keyword')}" placeholder="请输入搜索内容">
                                                  <input type="text" name="order_name" id="order_name" class="text input-2x" value="{:I('order_name')}" />
                                                  <input type="text" name="order_type" id="order_type" class="text input-2x" value="{:I('order_type')}" />
                                                  <a class="sch-btn" href="javascript:;" id="search" url="{:U('index','category='.$category,false)}"><i class="btn-search"></i></a>
                                                </div>
                                            </div>
                                            </div>
                                            <div class="category">
                                                <div class="hd cf">
                                                    <div class="fold"><input class="check-all" type="checkbox" style="height:12px;"></div>
                                                    <div class="fold">折叠</div>
				<div class="order">
					<a href="javascript:void(0);" class="list_sort" data-order_name="sort" data-order_type="<if condition="I('order_type')">{:I('order_type')}<else />ASC</if>" title="点击排序" style="cursor:pointer;">排序</a>
				</div>
				<div class="name" style="width:600px;">名称</div>
				<div class="order">
					<a href="javascript:void(0);" class="list_sort" data-order_name="total" data-order_type="<if condition="I('order_type')">{:I('order_type')}<else />ASC</if>" title="点击排序" style="cursor:pointer;">统计</a>
				</div>
			</div>
			{:R('ProductTags/tree', array($tree))}
		</div>
	</div>
            <!-- /表格列表 -->
            <div class="page">
                {$_page}
            </div>
</block>

<block name="script">
	<link rel="stylesheet" type="text/css" href="__STATIC__/bootstrap/css/bootstrap-popover.css">
	<script type="text/javascript" src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		(function($){
			//显示隐藏统计数据 add liujun 2015-07-21
			$("[data-toggle='popover']").popover({
				'trigger':'manual',
	            'placement' : 'left', //placement of the popover. also can use top, bottom, left or right
	            'title':function(){return $(this).parent().find('.totalTitle').html();},
	            'html': 'true', //needed to show html of course
	            'content' :function(){return $(this).parent().find('.totalContent').html();},
	            'animation': false
	        }).on("mouseenter", function(){
				var _this = this;
				$(this).popover("show");
				$(this).siblings(".popover").on("mouseleave", function(){
					$(_this).popover('hide');
				});
			}).on("mouseleave", function(){
				var _this = this;
				setTimeout(function(){
					if (!$(".popover:hover").length){
						$(_this).popover("hide");
					}
				}, 100);
			});
			//点击排序
			$('.list_sort').click(function(){
				var order_name = $(this).data('order_name');//排序字段
				var order_type = $(this).data('order_type');//排序类型
				
				if(order_type.toUpperCase() == 'DESC'){
					order_type = 'ASC';
				}else if(order_type.toUpperCase() == 'ASC'){
					order_type = 'DESC';
				}
				$(".search-form").find('#order_name').val(order_name);
				$(".search-form").find('#order_type').val(order_type);
				$("#search").trigger("click");
			});
                                            //搜索功能
                                            $("#search").click(function(){
                                                var url = $(this).attr('url');
                                                var field = $("#sch-sort-txt").attr("data");
                                                var query  = $('.search-form').find('input').serialize();
                                                query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
                                                query = query.replace(/^&/g,'');
                                                if(field != ''){
                                                 query = 'field=' + field + "&" + query;
                                             }
                                             if( url.indexOf('?')>0 ){
                                                url += '&' + query;
                                            }else{
                                                url += '?' + query;
                                            }
                                            window.location.href = url;
                                        });

                                        /* 状态搜索子菜单 */
                                        $(".search-form").find(".drop-down").hover(function(){
                                            $("#sub-sch-menu").removeClass("hidden");
                                        },function(){
                                            $("#sub-sch-menu").addClass("hidden");
                                        });
                                        $("#sub-sch-menu li").find("a").each(function(){
                                            $(this).click(function(){
                                                var text = $(this).text();
                                                $("#sch-sort-txt").text(text).attr("data",$(this).attr("value"));
                                                $("#sub-sch-menu").addClass("hidden");
                                            })
                                        });


			/* 分类展开收起 */
			$(".category dd").prev().find(".fold i").addClass("icon-unfold")
				.click(function(){
					var self = $(this);
					if(self.hasClass("icon-unfold")){
						self.closest("dt").next().slideUp("fast", function(){
							self.removeClass("icon-unfold").addClass("icon-fold");
						});
					} else {
						self.closest("dt").next().slideDown("fast", function(){
							self.removeClass("icon-fold").addClass("icon-unfold");
						});
					}
				});

			//全部分类收起
/*			var fold_obj = $(".category dd").prev().find(".fold i")

			fold_obj.closest("dt").next().slideUp("fast", function(){
				fold_obj.removeClass("icon-unfold").addClass("icon-fold");
			});*/

			/* 三级分类删除新增按钮 */
			//$(".category dd dd .add-sub").remove();

                                        //多级分类动态添加CSS
                                        var c_start = 1; //开始层级
                                        var tab_sign_width = 55; //tab-sign宽度基数
                                        var position_left = -55; //position_left移动基数

                                        myAttr($(".category"),c_start);

                                        function myAttr(obj, c_now){
                                            //找到dl子元素
                                            if (c_now==1){
                                                obj= obj.children("dl");
                                            }else{
                                                obj= $(obj.children("dd")[0]).children("dl");
                                            }
                                             //alert('this:'+obj.length);                                           
                                            //如果存在则赋值CSS
                                            if (obj.length > 0){
                                                ++c_now;
                                                obj.each( function() {
                                                    var c_obj = $(this);  
                                                    if (c_now>2){ 
                                                       //alert(c_obj.find("input[name='title']").val());   
                                                       //alert((tab_sign_width*(c_now-1)));                                                  
                                                        c_obj.find("dt .tab-sign").css({
                                                           //"display": "block",
                                                           "width": (tab_sign_width*(c_now-2))+"px",
                                                           "background-position": (position_left+(tab_sign_width*(c_now-3)))+"px  -120px"
                                                        });
                                                    }
                                                    //alert(c_obj.children('dd')[0]);
                                                    myAttr(c_obj,c_now);
                                                });                                          
                                            }else{
                                                //不存在则返回
                                                return;
                                            }
                                        }

			/* 实时更新分类信息 */
			$(".category")
				.on("submit", "form", function(){
					var self = $(this);
					$.post(
						self.attr("action"),
						self.serialize(),
						function(data){
							/* 提示信息 */
							var name = data.status ? "success" : "error", msg;
							msg = self.find(".msg").addClass(name).text(data.info)
									  .css("display", "inline-block");
							setTimeout(function(){
								msg.fadeOut(function(){
									msg.text("").removeClass(name);
								});
							}, 1000);
						},
						"json"
					);
					return false;
				})
                                                .on("focus","input[type='text']",function(){
                                                    $(this).data('param',$(this).closest("form").serialize());

                                                })
                                                .on("blur", "input[type='text']", function(){
                                                    if($(this).data('param')!=$(this).closest("form").serialize()){
                                                        $(this).closest("form").submit();
                                                    }
                                                });
		})(jQuery);
	</script>
</block>
