<extend name="Home@gfw/Base/commonUcent" />
<block name="style">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/gfw/css/layout.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/gfw/css/login.css"/>
</block>

<block name="body">

    <div class="user-wraper-right" id="product">
        <div class="user-right-chapter">
            <h3>发布产品</h3>
            <div class="product-nav">
                <ul>
                    <li class="yes"><span>1</span>填写网站标题与分类</li>
                    <li class="yes"><span>2</span>产品详细介绍</li>
                    <li><span>3</span>提交成功</li>
                </ul>
            </div>
            <!--产品属性 start-->
            <form action="{:U('I/Product/save')}" method="post" onsubmit="return check_field();" enctype="multipart/form-data">
                <input type="hidden" name="save_step" value="detail">
                <input type="hidden" name="pid" value="{:isset($pid) ? $pid : '';}">
            <div class="product-attr">
                <div class="product-attr-chapter">
                    <div class="product-attr-tit">产品属性</div>
                    <div class="product-attr-input">
                        <div class="info-input">
                            <em>品牌：</em>
                            <input type="text" name="brand" value="{:isset($data['brand']) ? $data['brand'] : '';}" id="brand"/>
                            <span class="brand_pop">*</span>
                        </div>
                        <div class="info-input">
                            <em>材质：</em>
                            <input type="text" name="material" value="{:isset($data['material']) ? $data['material'] : '';}" id="material">
                            <span class="material_pop">*</span>
                        </div>
                        <div class="info-input">
                            <em>型号：</em>
                            <input type="text" name="model" value="{:isset($data['model']) ? $data['model'] : '';}" id="model">
                            <span class="model_pop">*</span>
                        </div>
                        <div class="info-input">
                            <em>市场价：</em>
                            <input type="text" name="market_price" value="{:isset($data['market_price']) ? $data['market_price'] : '';}"
                                   onkeyup="clear_no_number(this)" id="market_price">/元
                            <span class="market_price_pop">*</span>
                        </div>
                        <div class="info-input">
                            <em>价格：</em>
                            <input type="text" name="price" value="{:isset($data['price']) ? $data['price'] : '';}" onkeyup="clear_no_number(this)" id="price">/元
                            <span class="price_pop">*</span>
                        </div>
                        <div class="info-input">
                            <em>最小起订量：</em>
                            <input type="text" name="limit" value="{:isset($data['limit']) ? $data['limit'] : '';}" onkeyup="stint_number(this)" id="limit">件
                            <span class="limit_pop">*</span>
                        </div>
                        <div class="info-input">
                            <em>库存数量：</em>
                            <input type="text" name="stock" value="{:isset($data['stock']) ? $data['stock'] : '';}" onkeyup="stint_number(this)" id="stock">件
                            <span class="stock_pop">*</span>
                        </div>
                        <div class="info-input">
                            <em>供应商：</em>
                            <input type="text" name="supplier" value="{:isset($data['supplier']) ? $data['supplier'] : '';}" id="supplier">
                            <span class="supplier_pop">*</span>
                        </div>
                    </div>
                </div>
                <div class="product-attr-chapter">
                    <div class="product-attr-tit">自定义参数</div>
                    <div class="product-attr-input" id="zdy">
                        <div class="zdy-main">
                            <empty name="data['parameter']">
                                <!--div class="sdy-input">
                                    <input type="text" value="参数1" class="cs" name="custom_param[1][key]">
                                    <input type="text" value="参数值1" class="cs right" name="custom_param[1][val]">
                                    <span>×</span>
                                </div>
                                <div class="sdy-input">
                                    <input type="text" value="参数2" class="cs" name="custom_param[2][key]">
                                    <input type="text" value="参数值2" class="cs right" name="custom_param[2][val]">
                                    <span>×</span>
                                </div-->
                                <else/>
                                <php>
                                    $custom_param = array();
                                    $tmp_data = explode('|', $data['parameter']);
                                    foreach ($tmp_data as $value) {
                                        $tmp = explode(':', $value);
                                        if (empty($tmp[0]) || empty($tmp[1]))
                                            continue;

                                    $custom_param[] = array('key' => $tmp[0], 'val' => $tmp[1]);
                                    }
                                </php>
                                <foreach name="custom_param" item="cp" key="cpk">
                                    <div class="sdy-input">
                                        <input type="text" value="{$cp['key']}" class="cs" name="custom_param[{$cpk}][key]">
                                        <input type="text" value="{$cp['val']}" class="cs right" name="custom_param[{$cpk}][val]">
                                        <span>×</span>
                                    </div>
                                </foreach>

                            </empty>
                        </div>
                        <input type="button" value="增加更多参数" class="btn-more">
                    </div>
                    <p class="zdy-tips">您可以根据产品特性自定义其参数，让更丰富的产品信息展示给客户。</p>
                </div>
                <div class="product-attr-chapter">
                    <div class="product-attr-tit">添加产品图片</div>
                    <div class="add-pic">
                        <input type="file" value="上传图片" class="btn-img" name="images[]" multiple>
                        <p class="img-tips">可以上传多张产品图片，第一张图片为主图，建议每张图片不超过5M,图片内容避免全文字。</p></div>
                    <div class="product-img">
                        <empty name="picture_data">
                            <div style="margin-top: 100px;">请上传图片</div>
                            <else/>
                            <ul class="product-img-ul">
                                <foreach name="picture_data" item="pd">
                                    <li><img src="{$pd['path']}" alt="{$pd['path']}"><span id="{$pd['id']}">×</span></li>
                                </foreach>
                            </ul>
                        </empty>
                    </div>
                </div>
                <div style=" clear:both"></div>
                <div class="product-attr-chapter">
                    <div class="product-attr-tit">产品详细介绍</div>
                    <div class="product-attr-info">
                        <textarea name="content" id="content">{:isset($data['content']) ? $data['content'] : '';}</textarea>
                        <link rel="stylesheet" href="__STATIC__/kindeditor/default/default.css" />
                        <script charset="utf-8" src="__STATIC__/kindeditor/kindeditor-min.js"></script>
                        <script charset="utf-8" src="__STATIC__/kindeditor/zh_CN.js"></script>
                        <script type="text/javascript">
                            $(function(){
                                var editor = KindEditor.create('textarea[name="content"]', {
                                    uploadJson:'/index.php?s=/administrator/attached/upload',
                                    fileManagerJson:'/index.php?s=/administrator/attached/manager',
                                    resizeType:1,
                                    allowPreviewEmoticons:false,
                                    allowFileManager:true,
                                    allowImageUpload:true,
                                    minWidth:740,
                                    minHeight:300,
                                    items:[
                                        'source', 'preview', 'fullscreen','|','fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
                                        'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
                                        'insertunorderedlist', '|', 'emoticons', 'link', 'unlink']
                                });
                            });
                        </script>
                    </div>
                    <br/>
                    <input type="submit" value="提交" class="product-btn">
                </div>
            </div>
            <!--产品属性 end-->
        </div>
    </div>
    </div>

</block>
<block name="script">
    <script type="text/javascript" src="__PUBLIC__/Home/gfw/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/gfw/js/ucValidate.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/gfw/js/user_center.js"></script>
    <script type="text/javascript">
        function check_field()
        {
            var param = {
                'brand':{'val':$('#brand').val(), 'text':'品牌不能为空'},
                'material':{'val':$('#material').val(), 'text':'材质不能为空'},
                'model':{'val':$('#model').val(), 'text':'型号不能为空'},
                'market_price':{'val':$('#market_price').val(), 'text':'市场价不能为空'},
                'price':{'val':$('#price').val(), 'text':'价格不能为空'},
                'limit':{'val':$('#limit').val(), 'text':'最小起订量不能为空'},
                'stock':{'val':$('#stock').val(), 'text':'库存不能为空'},
                'supplier':{'val':$('#supplier').val(), 'text':'供应商不能为空'}
            };


            for (var i in param)
            {
                if ('' == param[i]['val'])
                {
                    $('.'+i.toString()+'_pop').text(param[i]['text']);
                    return false;
                }
            }

            var custom_default = ['参数1','参数2','参数值1','参数值2'], status = true;
            $('.cs').each(function(){
                if (1 < $.inArray($(this).val(), custom_default))
                    status = false;
            });

            if (!status)
            {
                alert('请输入参数及参数值');
                return false;
            }

            var content = $('#content').val();
            if ('' == content || content.length < 200)
            {
                alert('请输入描述或小于200字');
                return false;
            }

            return true;
        }


    </script>
</block>