<extend name="Base/common"/>
<block name="style">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/7230/css/jxhj.css"/>
</block>
<block name="body">
<div id="down-main">
    <p class="page-nav">当前位置：<a href="">首页</a>　0度试玩</p>
    <!----本期简介---------->
    <div class="bqjs">
        <span>
            <b>小米手机性价比详解</b>
            <i class="info">你看了是淡淡的淡淡的淡淡的淡淡的说洛克菲勒开始的记洛克菲勒开始的记洛克菲勒开始克菲勒开始的记洛克菲勒开始的记洛克菲勒开始克菲勒开始的记洛克菲勒开始的记洛克菲勒开始的记洛克菲勒开始的记洛克菲勒开始的记试的方式里发洛克菲勒开始的记洛克菲勒开始的记洛克菲勒开始的记洛克菲勒开始的记上发生的你空间的时刻到了就到了</i>
            </b>
        </span>
        <p><img src="images/jxtp.png"></p>
    </div>

    <!----最近更新------>
    <p class="zjgx-title"><i class="cur">网游</i><i>单机</i></p>
    <div class="zjgx">
        <div class="current">
            <em class="biaoti">小米2A角色游戏下载</em>
            <p><a href="" target="_blank" class="pic2"><img src="images/pic3.jpg"></a><span><a href="" target="_blank" class="tit">这是手机游戏</a><b class="star5"></b><b>300下载过</b><b class="zan">988</b></span>
                <s class="info">人人人突然吞吞吐吐有进有退加油加油推荐意见家庭教育添加一条加以解决加一条加以解决他就推荐同意图统计局就就让他...</s>
            </p>
            <p><a href="" target="_blank" class="pic2"><img src="images/pic3.jpg"></a><span><a href="" target="_blank" class="tit">这是手机游是手机游是手机游戏</a><b class="star0"></b><b>300下载过</b><b class="zan">988</b></span>
                <s class="info">人人人突然吞吞吐吐有进有退加油加油推荐意见家庭教育添加一条加以解决他就红塔有条就业经同意就业推荐同意图统计局就就让他...</s>
            </p>
            <p><a href="" target="_blank" class="pic2"><img src="images/pic3.jpg"></a><span><a href="" target="_blank" class="tit">这是手机游戏</a><b class="star4"></b><b>300下载过</b><b class="zan">988</b></span>
                <s class="info">人人人突然吞吞吐吐有进有退加油加油推荐意见家庭教育添加一条加以解决他就红塔集团井井有条就业意图统计局就就让他...</s>
            </p>
            <p><a href="" target="_blank" class="pic2"><img src="images/pic3.jpg"></a><span><a href="" target="_blank" class="tit">这是手机游戏</a><b class="star3"></b><b>300下载过</b><b class="zan">988</b></span>
                <s class="info">人人人突然吞吞吐吐有进有退加油加油推荐意见家庭教育添加一条加以解决他就红塔集团井井有条就业业推荐同意图统计局就就让他...</s>
            </p>
            <em class="biaoti">小米2A休闲游戏下载</em>
            <p><a href="" target="_blank" class="pic2"><img src="images/pic3.jpg"></a><span><a href="" target="_blank" class="tit">这是手机游戏</a><b class="star2"></b><b>300下载过</b><b class="zan">988</b></span>
                <s class="info">人人人突然吞吞吐吐有进有退加油加油推荐意见家庭教育添加一条加以解决加一条加以解决他就推荐同意图统计局就就让他...</s>
            </p>
            <p><a href="" target="_blank" class="pic2"><img src="images/pic3.jpg"></a><span><a href="" target="_blank" class="tit">这是手机游是手机游是手机游戏</a><b class="star0"></b><b>300下载过</b><b class="zan">988</b></span>
                <s class="info">人人人突然吞吞吐吐有进有退加油加油推荐意见家庭教育添加一条加以解决他就红塔有条就业经同意就业推荐同意图统计局就就让他...</s>
            </p>
            <p><a href="" target="_blank" class="pic2"><img src="images/pic3.jpg"></a><span><a href="" target="_blank" class="tit">这是手机游戏</a><b class="star1"></b><b>300下载过</b><b class="zan">988</b></span>
                <s class="info">人人人突然吞吞吐吐有进有退加油加油推荐意见家庭教育添加一条加以解决他就红塔集团井井有条就业意图统计局就就让他...</s>
            </p>
            <p><a href="" target="_blank" class="pic2"><img src="images/pic3.jpg"></a><span><a href="" target="_blank" class="tit">这是手机游戏</a><b class="star0"></b><b>300下载过</b><b class="zan">988</b></span>
                <s class="info">人人人突然吞吞吐吐有进有退加油加油推荐意见家庭教育添加一条加以解决他就红塔集团井井有条就业业推荐同意图统计局就就让他...</s>
            </p>
            <em class="biaoti">小米2A射击游戏下载</em>
            <p><a href="" target="_blank" class="pic2"><img src="images/pic3.jpg"></a><span><a href="" target="_blank" class="tit">这是手机游戏</a><b class="star0"></b><b>300下载过</b><b class="zan">988</b></span>
                <s class="info">人人人突然吞吞吐吐有进有退加油加油推荐意见家庭教育添加一条加以解决加一条加以解决他就推荐同意图统计局就就让他...</s>
            </p>
            <p><a href="" target="_blank" class="pic2"><img src="images/pic3.jpg"></a><span><a href="" target="_blank" class="tit">这是手机游是手机游是手机游戏</a><b class="star0"></b><b>300下载过</b><b class="zan">988</b></span>
                <s class="info">人人人突然吞吞吐吐有进有退加油加油推荐意见家庭教育添加一条加以解决他就红塔有条就业经同意就业推荐同意图统计局就就让他...</s>
            </p>
            <p><a href="" target="_blank" class="pic2"><img src="images/pic3.jpg"></a><span><a href="" target="_blank" class="tit">这是手机游戏</a><b class="star0"></b><b>300下载过</b><b class="zan">988</b></span>
                <s class="info">人人人突然吞吞吐吐有进有退加油加油推荐意见家庭教育添加一条加以解决他就红塔集团井井有条就业意图统计局就就让他...</s>
            </p>
            <p><a href="" target="_blank" class="pic2"><img src="images/pic3.jpg"></a><span><a href="" target="_blank" class="tit">这是手机游戏</a><b class="star0"></b><b>300下载过</b><b class="zan">988</b></span>
                <s class="info">人人人突然吞吞吐吐有进有退加油加油推荐意见家庭教育添加一条加以解决他就红塔集团井井有条就业业推荐同意图统计局就就让他...</s>
            </p>
        </div>
        <div>
            <em class="biaoti">小米2A射击游戏下载</em>
            <p><a href="" target="_blank" class="pic2"><img src="images/pic3.jpg"></a><span><a href="" target="_blank" class="tit">这是手机游戏</a><b class="star0"></b><b>300下载过</b><b class="zan">988</b></span>
                <s class="info">人人人突然吞吞吐吐有进有退加油加油推荐意见家庭教育添加一条加以解决加一条加以解决他就推荐同意图统计局就就让他...</s>
            </p>
            <p><a href="" target="_blank" class="pic2"><img src="images/pic3.jpg"></a><span><a href="" target="_blank" class="tit">这是手机游是手机游是手机游戏</a><b class="star0"></b><b>300下载过</b><b class="zan">988</b></span>
                <s class="info">人人人突然吞吞吐吐有进有退加油加油推荐意见家庭教育添加一条加以解决他就红塔有条就业经同意就业推荐同意图统计局就就让他...</s>
            </p>
            <p><a href="" target="_blank" class="pic2"><img src="images/pic3.jpg"></a><span><a href="" target="_blank" class="tit">这是手机游戏</a><b class="star0"></b><b>300下载过</b><b class="zan">988</b></span>
                <s class="info">人人人突然吞吞吐吐有进有退加油加油推荐意见家庭教育添加一条加以解决他就红塔集团井井有条就业意图统计局就就让他...</s>
            </p>
        </div>
        <div style=" clear:both"></div>
        <!----fenye--->
        <p id="fenye"><a href="" class="one">首页</a><a href="" class="prev">上一页</a><a href="">1</a><a href="" class="cur">2</a><a href="">3</a><a href="">4</a><a href="">5</a><a href="">6</a><a href="">7</a>
            <a href="">8</a><a href="">9</a><a href="">10</a><a href="" class="next">下一页</a><a href="" class="last">尾页</a></p>
        <!---fenye---->
    </div>
</div>
</block>