<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>安粉丝-搜索</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
<meta name="format-detection" content="telephone=no"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/afsmobile/css/base.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Package/afsmobile/css/libao.css"/>
</head>

<body id="sear">
    <header id="inpage_head">
        <span class="back"></span>
        <form method="get" action="#" class="sear-box">
            <input type="text" class="text" id="text" placeholder="搜游戏" value="">
            <input type="submit" class="btn" id="btn" value="">
		</form>
        <em id="head-nav"></em>
    </header>
    <!--弹出菜单-->
    <div id="case-main">
        <div>
            <p><em>资讯</em><span><a href="">新游预告</a><a href="">手游新闻</a><a href="">手游评测</a><a href="">手有问答</a><a href="">手游资料</a></span></p>
            <p><em>下载</em><span><a href="">全部游戏</a><a href="">安卓游戏</a><a href="">苹果游戏</a><a href="">单机游戏</a><a href="">网络游戏</a><a href="">游戏评测</a>
            <a href="">闯关游戏</a><a href="">酷跑游戏</a><a href="">益智游戏</a><a href="">棋牌游戏</a><a href="">升级游戏</a><a href="">DOTA游戏</a></span></p>
            <p><em>专区</em><span><a href="">游戏攻略</a><a href="">游戏新闻</a><a href="">游戏评测</a></span></p>
        </div>
    </div>
   <!--搜索关键字-->
   <section class="libao">
       <div class="jplb" id="sear_list">
           <ul>
           <volist name="lists" id="vo">
               <li>
                   <a href="{:staticUrlMobile('detail', $vo['id'],'Down')}" class="pic"><img src="{:get_cover($vo['smallimg'],'path','1','66','66')}"></a>
                   <div class="main">
                       <div><a href="{:staticUrlMobile('detail', $vo['id'],'Down')}">{$vo['title']}</a></div>
                       <div><i>{:getCateName($vo['id'],'Down')}</i><i>{$vo['size']}</i><i>{:getLanguage($vo['id'])}</i></div>
                   </div>
                   <a href="{:staticUrlMobile('detail', $vo['id'],'Down')}" class="down">下载</a>
               </li>
               </volist>
           </ul>
           <div class="page">{$page}</div>
       </div>
   </section>
<include file="Home@afsmobile/Public/foot" />