<extend name="Home@dongdong/Base/common" />
<block name="style"><link rel="stylesheet" type="text/css" href="__PUBLIC__/Document/dongdong/css/wenda.css"/></block>
<block name="body">
<div class="page_main">
    <!--当前位置-->
    <div class="go_home">当前位置：<a href="">首页</a> > 最新首发</div>
   <!--网络游戏推荐-->
   <div class="wraper" id="wenda">
       <div class="title">
           <h3>常见问题</h3>
           <span><a href="" target="_blank">东东手游助手帮助</a><a href="" target="_blank" class="fk">意见反馈</a></span>
       </div>
       <ul class="wenda_detail">
           <li>＞<a href="#dt0">11如何把喜欢如何把喜欢的影片推的影片推荐给好友11</a></li>
           <li>＞<a href="">22如何把喜欢的影片推荐给好友22</a></li>
           <li>＞<a href="">33如何把喜欢如何把喜欢的影片推荐给好喜欢的影片推荐给好喜欢的影片推荐给好友的影片推荐给好友</a></li>
           <li>＞<a href="">44如何把喜欢的影片推荐给好友</a></li>
           <li>＞<a href="">55如何把喜欢的如何把喜欢的影片推友影片推荐给好友</a></li>
           <li>＞<a href="">66如何把喜如何把喜欢的影片推荐给好友如何把喜欢的影片推荐给好友欢的影片推荐给好友</a></li>
           <li>＞<a href="">77如何把喜欢的影片推荐给好友</a></li>
           <li>＞<a href="">88如何把喜欢如何片推荐给好友如何把喜欢的影片推荐给好友</a></li>
           <li>＞<a href="">99如何把喜欢的影片推荐给好友</a></li>
           <li>＞<a href="">10如何把喜欢的影片推荐给好友</a></li>
           <li>＞<a href="">11如何把喜欢的影片推荐给好友</a></li>
           <li>＞<a href="">12如何把喜欢的影片推荐给好友如何把影片推荐给好友</a></li>
           <li>＞<a href="">13如何把喜欢的影片推荐给好友</a></li>
           <li>＞<a href="">14如何把喜欢如何片推荐给好友如何把喜欢的影片推荐给好友</a></li>
           <li>＞<a href="">15如何把喜欢的影片推荐给好友</a></li>
           <li>＞<a href="">16如何把喜欢的影片推荐给好友</a></li>
           <li>＞<a href="">17如何把喜欢的影片推荐给好友</a></li>
           <li>＞<a href="">18如何把喜欢的影片推荐给好友如何把影片推荐给好友</a></li>
       </ul>
       <dl class="answer">
       
           <dt><a name="dt0">11如何把喜欢的影片推荐给好友</a></dt>
           <dd>首先dt和dd是放于dl标签内，标签dt与dd处于dl下相同级。也就是dt不能放入dd内，dd不能放入dt内。在dl下，dt与dd处于同级标签。DD标签可以若干。同时不能不加dl地单独使用dt标签或dd标签。</dd>
           <dt><a name="dt0">22hao123各版本地址</a></dt>
           <dd>旧版地址：http://www.hao123.com/indexnt.html<br>新版地址：http://www.hao123.com/indexnt.html<br>宽屏版地址：http://www.hao123.com/indexnt.html</dd>
           <dt><a name="dt0">33如何把喜欢的影片推荐给好友</a></dt>
           <dd>首先dt和dd是放于dl标签内，标签dt与dd处于dl下相同级。也就是dt不能放入dd内，dd不能放入dt内。在dl下，dt与dd处于同级标签。DD标签可以若干。同时不能不加dl地单独使用dt标签或dd标签。</dd>
           <dt><a name="dt0">44hao123各版本地址</a></dt>
           <dd>旧版地址：http://www.hao123.com/indexnt.html<br>新版地址：http://www.hao123.com/indexnt.html<br>宽屏版地址：http://www.hao123.com/indexnt.html</dd>
           <dt><a name="dt0">55如何把喜欢的影片推荐给好友</a></dt>
           <dd>首先dt和dd是放于dl标签内，标签dt与dd处于dl下相同级。也就是dt不能放入dd内，dd不能放入dt内。在dl下，dt与dd处于同级标签。DD标签可以若干。同时不能不加dl地单独使用dt标签或dd标签。</dd>
           <dt><a name="dt0">66hao123各版本地址</a></dt>
           <dd>旧版地址：http://www.hao123.com/indexnt.html<br>新版地址：http://www.hao123.com/indexnt.html<br>宽屏版地址：http://www.hao123.com/indexnt.html</dd>
           <dt><a name="dt0">77如何把喜欢的影片推荐给好友</a></dt>
           <dd>首先dt和dd是放于dl标签内，标签dt与dd处于dl下相同级。也就是dt不能放入dd内，dd不能放入dt内。在dl下，dt与dd处于同级标签。DD标签可以若干。同时不能不加dl地单独使用dt标签或dd标签。</dd>
           <dt><a name="dt0">88hao123各版本地址</a></dt>
           <dd>旧版地址：http://www.hao123.com/indexnt.html<br>新版地址：http://www.hao123.com/indexnt.html<br>宽屏版地址：http://www.hao123.com/indexnt.html</dd>
           <dt><a name="dt0">99如何把喜欢的影片推荐给好友</a></dt>
           <dd>首先dt和dd是放于dl标签内，标签dt与dd处于dl下相同级。也就是dt不能放入dd内，dd不能放入dt内。在dl下，dt与dd处于同级标签。DD标签可以若干。同时不能不加dl地单独使用dt标签或dd标签。</dd>
           <dt><a name="dt0">10hao123各版本地址</a></dt>
           <dd>旧版地址：http://www.hao123.com/indexnt.html<br>新版地址：http://www.hao123.com/indexnt.html<br>宽屏版地址：http://www.hao123.com/indexnt.html</dd>
           <dt><a name="dt0">11如何把喜欢的影片推荐给好友</a></dt>
           <dd>首先dt和dd是放于dl标签内，标签dt与dd处于dl下相同级。也就是dt不能放入dd内，dd不能放入dt内。在dl下，dt与dd处于同级标签。DD标签可以若干。同时不能不加dl地单独使用dt标签或dd标签。</dd>
           <dt><a name="dt0">12hao123各版本地址</a></dt>
           <dd>旧版地址：http://www.hao123.com/indexnt.html<br>新版地址：http://www.hao123.com/indexnt.html<br>宽屏版地址：http://www.hao123.com/indexnt.html</dd>
       </dl>
   </div>   
</block>
