<div class="foot dis-top">
    <div class="main1200">
        <p><a href="/about/about.html" target="_blank">关于我们</a>|<a href="/about/contact.html" target="_blank">联系我们</a>|<a href="/about/duty.html" target="_blank">免责申明</a>|<a href="/about/ggfw.html" target="_blank">广告合作</a>|<a href="/about/links.html" target="_blank">网站合作</a>|<a href="/about/sitemap.html" target="_blank">网站地图</a></p>
        <p>Copyright &copy; 2010-{:date('Y')} <a href="{$Think.config.STATIC_URL}" target="_blank">96U手游网（{$Think.config.STATIC_URL})</a>ALL Right severed 备案编号：<a href="http://www.miitbeian.gov.cn" rel="nofollow" target="_blank">{$Think.config.WEB_SITE_ICP}</a></p>
    </div>
</div>
<script src="__PUBLIC__/Home/jf96u/js/jquery.js"></script>
<script src="__PUBLIC__/Home/jf96u/js/yxzq.js"></script>