<div class="foot">
    <div class="qnx1200">
        <ul class="copayright">
            <li class="about">
                <span>关于我们</span>
                <a href="/about.html" target="_blank" rel="nofollow">关于七丽</a>
                <a href="/culture.html" target="_blank" rel="nofollow">七丽文化</a>
                <a href="/join.html" target="_blank" rel="nofollow">加入我们</a>
            </li>

            <li class="busy">
                <span>商务合作</span>
                <a href="#" rel="nofollow">广告服务</a>
                <a href="#" rel="nofollow">合作伙伴</a>
                <a href="#" rel="nofollow">免责声明</a>
            </li>

            <li class="ship">
                <span>关注我们</span>
                <a href="http://weibo.com/love7y7?sudaref=www.7y7.com" target="_blank" rel="nofollow">新浪微博</a>
                <a href="#" target="_blank" rel="nofollow">腾讯微博</a>
                <a href="http://user.qzone.qq.com/19881012" target="_blank" rel="nofollow">QQ空间</a>
            </li>

            <li class="chat">
                <span>七丽微信公众号</span>
                <img src="__PUBLIC__/Home/qili/images/ql_ewm.jpg">
            </li>

            <li class="client">
                <span>七丽客户端</span>
                <a href="#" rel="nofollow">Android版 (敬请期待)</a>
                <a href="#" rel="nofollow">IOS版 (敬请期待)</a>
            </li>
        </ul>

        <div class="links">
            <span>友情链接：</span>
				<IndexTag:friendlink name="n" group="1" count="100">
                     <a href="{$n['url_token']}" target="_blank">{$n['title']}</a>
                </IndexTag:friendlink>  
        </div>

        <div class="copy_qili">七丽女性网 版权所有 
			<a href="http://www.miibeian.gov.cn" target="_blank">黔ICP备14004038号-1</a>
			网警电话:15024151108 
			<a href="/about.html" target="_blank" rel="nofollow">关于我们</a> <br>Copyright © 2006-2013 www.7y7.com, All rights reserved. 
		</div>
    </div>
</div>

<script type="text/javascript" src="__PUBLIC__/static/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/qili/js/common.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/qili/js/script.js"></script>