<div class="topbar">
    <div class="topbar-main">
        <div class="left">
            <div class="bdsharebuttonbox"><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a></div>
            <iframe src="http://open.qzone.qq.com/like?url=http%3A%2F%2Fuser.qzone.qq.com%2F19881012&type=button_num&width=400&height=30&style=2" allowtransparency="true" scrolling="no" border="0" frameborder="0" style="width:400px;height:30px;border:none;overflow:hidden;"></iframe>
        </div>
        <div class="right"></div>
    </div>
</div>

<div class="logo"><a href="/"><img src="__PUBLIC__/Home/qili/images/logo.jpg" alt="七丽女性网"></a></div>

<div class="nav">
    <div class="nav-main">
        <ul class="nav-ul pd-nav">
            <li id="shis" class="ggl <if condition="$site eq 1 OR !$site">current</if>">
				<div class="li-main">
					<a href="/shishang.html" class="one">时尚</a>
					<span class="hide-nav">
						<eq name="board" value="shizhuang">
							<a href="/shizhuang/" class="cur">时装<i></i></a>
						<else />
							<a href="/shizhuang/">时装</a>
						</eq>

						<eq name="board" value="mingxing">
							<a href="/mingxing/" class="cur">明星<i></i></a>
						<else />
							<a href="/mingxing/">明星</a>
						</eq>

						<eq name="board" value="dapei">
							<a href="/dapei/" class="cur">搭配<i></i></a>
						<else />
							<a href="/dapei/">搭配</a>
						</eq>

						<eq name="board" value="jiepai">
							<a href="/jiepai/" class="cur">街拍<i></i></a>
						<else />
							<a href="/jiepai/">街拍</a>
						</eq>
						
						<eq name="board" value="bozhu">
							<a href="/bozhu/" class="cur">博主<i></i></a>
						<else />
							<a href="/bozhu/">博主</a>
						</eq>

						<eq name="board" value="youpin">
							<a href="/youpin/" class="cur">优品<i></i></a>
						<else />
							<a href="/youpin/">优品</a>
						</eq>

						<eq name="board" value="xiuchang">
							<a href="/xiuchang/" class="cur">秀场<i></i></a>
						<else />
							<a href="/xiuchang/">秀场</a>
						</eq>

						<eq name="board" value="dapian">
							<a href="/dapian/" class="cur">大片<i></i></a>
						<else />
							<a href="/dapian/">大片</a>
						</eq>
					</span>
				</div>
			</li>

            <li id="meir" class="ggl <eq name="site" value="2">current</eq>">
				<div class="li-main">
					<a href="/meirong.html" class="one">美容</a>
					<span class="hide-nav">
						<eq name="board" value="hufu">
							<a href="/hufu/" class="cur">护肤<i></i></a>
						<else />
							<a href="/hufu/">护肤</a>
						</eq>

						<eq name="board" value="caizhuang">
							<a href="/caizhuang/" class="cur">彩妆<i></i></a>
						<else />
							<a href="/caizhuang/">彩妆</a>
						</eq>

						<eq name="board" value="meifa">
							<a href="/meifa/" class="cur">美发<i></i></a>
						<else />
							<a href="/meifa/">美发</a>
						</eq>

						<eq name="board" value="meijia">
							<a href="/meijia/" class="cur">美甲<i></i></a>
						<else />
							<a href="/meijia/">美甲</a>
						</eq>

						<eq name="board" value="yimei">
							<a href="/yimei/" class="cur">医美<i></i></a>
						<else />
							<a href="/yimei/">医美</a>
						</eq>
					</span>
				</div>
			</li>

            <li id="sheh" class="ggl <eq name="site" value="3">current</eq>">
				<div class="li-main">
					<a href="/shenghuo.html" class="one">生活</a>
					<span class="hide-nav">
						<eq name="board" value="jiankang">
							<a href="/jiankang/" class="cur">健康<i></i></a>
						<else />
							<a href="/jiankang/">健康</a>
						</eq>

						<eq name="board" value="qinzi">
							<a href="/qinzi/" class="cur">亲子<i></i></a>
						<else />
							<a href="/qinzi/">亲子</a>
						</eq>
						
						<eq name="board" value="jianfei">
							<a href="/jianfei/" class="cur">减肥<i></i></a>
						<else />
							<a href="/jianfei/">减肥</a>
						</eq>
						
						<eq name="board" value="qinggan">
							<a href="/qinggan/" class="cur">情感<i></i></a>
						<else />
							<a href="/qinggan/">情感</a>
						</eq>

						<eq name="board" value="xingzuo">
							<a href="/xingzuo/" class="cur">星座<i></i></a>
						<else />
							<a href="/xingzuo/">星座</a>
						</eq>

						<eq name="board" value="shuma">
							<a href="/shuma/" class="cur">数码<i></i></a>
						<else />
							<a href="/shuma/">数码</a>
						</eq>
					</span>
				</div>
			</li>

            <li id="yule" class="ggl <eq name="site" value="4">current</eq>">
				<div class="li-main">
					<a href="/yule.html" class="one">娱乐</a>
					<span class="hide-nav">
						<eq name="board" value="zongyi">
							<a href="/zongyi/" class="cur">综艺<i></i></a>
						<else />
							<a href="/zongyi/">综艺</a>
						</eq>

						<eq name="board" value="yingshi">
							<a href="/yingshi/" class="cur">影视<i></i></a>
						<else />
							<a href="/yingshi/">影视</a>
						</eq>

						<eq name="board" value="xingwen">
							<a href="/xingwen/" class="cur">星闻<i></i></a>
						<else />
							<a href="/xingwen/">星闻</a>
						</eq>
						
						<eq name="board" value="bagua">
							<a href="/bagua/" class="cur">八卦<i></i></a>
						<else />
							<a href="/bagua/">八卦</a>
						</eq>
					</span>
				</div>
			</li>
        </ul>

        <div class="sy-search">
            <span class="icon_search"></span>
            <div class="content">
				  <form onsubmit="return goSearch()">
						<input name="q" type="text" id="t_keywords" class="i-input" placeholder="请输入想搜索的关键字">
						<input type="button" value="搜 索" onclick="return goSearch()" class="i-button">
				  </form>
              <div class="close"></div>
            </div>
        </div>
    </div>
</div>