<?php
	if(!$cid){
		if(strpos($_SERVER['REQUEST_URI'],'/method/pichome/') !== false){
			$cid = -1;
		}
	}
?>

<header class="mui-bar mui-bar-nav y7-header">
	<div class="y7-header-bar">
		<a class="mui-pull-right y7-search j-y7-search-trigger"><img src="__PUBLIC__/Home/qilimobile/img/search@2x.png"><span>取消</span></a>
	  	<h1 class="mui-title"><img src="__PUBLIC__/Home/qilimobile/img/logo@2x.png"></h1>
	</div>
	<section class="y7-search-bar y7-search-bar-anim j-y7-search-bar"  id="y7-search">
		<form>
			<input name="q" placeholder="输入您想要搜索的内容" type="text" />
			<button class="mui-btn mui-btn-link">搜索</button>
		</form>
	</section>

	<div id="nav" class="ui-navigator">
        <ul class="ui-navigator-list">
			<li <eq name="cid" value="">class="ui-state-active"</eq>><a href="/">首页</a></li>

			<classify model="2" id="1,2,99,1371,5,293,214,1372,270,1500,917,918,951,303,281,277,192,10,952">
				<eq name="cid" value="$classify.id">
					<li class="ui-state-active"><a href="{$classify.url}">{$classify['title']}</a></li>
				<else />
					<li><a href="{$classify.url}">{$classify['title']}</a></li>
				</eq>
			</classify>

			<li <eq name="cid" value="-1">class="ui-state-active"</eq>><a href="/pic/">图库</a></li>
        </ul>
    </div>
</header>