<div class="topbar list-topbar">
    <div class="goback"><a href=""><span class="arr">返回</span></a></div>
    <div class="topbar-tit"><block name="title"></block>{$jfzt?$jfzt['title']:''}</div>
    <div class="sear-box"><span class="search"></span><span class="nav"></span></div>
    <div class="searbox">
        <form action="http://s.96u.com/cse/search" method="GET" id="bdcs-search-form">
            <input type="hidden" class="sear-input" name="s" value="5693182300236230235" id="sear-input">
            <input type="hidden" class="sear-input" name="nsid" value="3">
            <input type="hidden" class="sear-input" name="entry" value="1">
            <input type="hidden" class="sear-input" name="ie" value="utf8">
            <input type="text" class="sear-input" name="q" id="bdcs-search-form-input" placeholder="请输入搜索词..." autocomplete="off">
            <input type="submit" class="sear_btn" value="">
        </form>
    </div>
</div>
{~W('Home/Jf96umobile/popNav')}
<block name="bar"></block>
<block name="downnav"></block>