<footer>
    <div class="main-nav">
        <a href="{$Think.config.MOBILE_STATIC_URL}" >首页</a>
        <a href="{:staticUrlMobile('lists',1645, 'Down')}">游戏库</a>
        <a href="{$Think.config.MOBILE_STATIC_URL}/top/">排行</a>
        <a href="{:staticUrlMobile('lists',1831, 'Down')}">下载</a>
        <a href="{:staticUrlMobile('lists',1622, 'Document')}">资讯</a>
    </div>
    <p class="foot-top"><a href="{$Think.config.STATIC_URL}">访问电脑版</a><a href="#">返回顶部</a></p>
</footer>
<script src="__PUBLIC__/Home/jf96umobile/js/jquery.js"></script>
<script src="__PUBLIC__/Home/jf96umobile/js/swiper.js"></script>
<script src="__PUBLIC__/Home/jf96umobile/js/app.js"></script>
<script src="__PUBLIC__/Home/jf96umobile/js/hits.js"></script>