<extend name="Home@gfw/Base/common" />
<block name="style">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/gfw/css/layout.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/gfw/css/login.css"/>
</block>
<block name="body">
<!--main-->

<!--注册-->
<div class="main" id="reg-wraper">
    <div class="reg-top">
        <div class="reg-top-title">QQ用户: {$nickname} 您好,请您先绑定注册</div>
        <div class="reg-top-login"><em>已有官方网账户？</em><a href="{:U('Index/bindLogin')}">点击绑定</a></div>
    </div>
    <div class="reg-body">
    
        <form class="reg-form" id="bindRegister" method="post" action="{:U('Api/bindReg')}">
            <div class="info_list text"><em>用户名：</em><input type="text"  placeholder="请填写您的邮箱地址" id="username" name="username" class="username"></div>
            <div class="info_list text"><em>密码：</em><input type="password" name="password" id="password" class="password"></div>
            <div class="info_list text"><em>重复密码：</em><input type="password" placeholder="请再次输入您的密码" name="password_c" id="password_c" class="repassword"></div>
            <div class="info_list btn"><input name="type" type="hidden" value="{$type}" /><input name="token" type="hidden" value="{$token}" /><input id="regBtn" type="submit" class="submit" value="确认绑定"></div>
        </form>
    </div>
</div>

</block>
<block name="script">
<script type="text/javascript" src="__PUBLIC__/Home/gfw/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/gfw/js/ucValidate.js"></script>
</block>