<extend name="Home@gfw/Base/common" />
<block name="style">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/gfw/css/layout.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/gfw/css/login.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/gfw/css/validate.css"/>
</block>
<block name="body">
<!--注册-->
<div class="main" id="pass-wraper">
    <div class="pass-login">已有官方网账户了？<a href="{:U('Index/login')}" target="_blank">立即登录</a></div>
    <div class="pass-inwraper">
        <div class="pass-inwraper-title">找回密码<span></span></div>
        <div class="pass-inwraper-main">
            <ul class="pass-ul-title">
                <li class="yes"><span>1</span>填写用户名</li>
                <li class="yes"><span>2</span>验证身份</li>
                <li class="yes"><span>3</span>重置密码</li>
                <li><span>4</span>成功找回</li>
            </ul>
            <div class="pass-inwraper-input" id="reset-pass">
                <form class="pass-form" id="resetPwd" method="post" action="{:U('Api/resetPassWord')}">
                    <div class="info_list text pass"><em>新登录密码：</em><input type="password" name="password" id="password" placeholder="请您在此输入密码" class="password"></div>
                    <div class="info_list text"><em>确认登陆密码：</em><input type="password" name="password_c" id="password_c" placeholder="请您在此输入密码" class="repassword"></div>
                    <input name="uid" type="hidden" value="{$uid}" /><input name="oldPass" type="hidden" value="{$old_pass}" />
                    <div class="info_list btn"><input type="submit" class="submit" value="提交"></div>
                </form>
            </div>
        </div>
    </div>
</div>
</block>
<block name="script">
<script type="text/javascript" src="__PUBLIC__/Home/gfw/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/gfw/js/ucValidate.js"></script>
</block>