<notempty name="lists">
<div class="video-cnxh">
  <div class="fn-title fn-title-l">
    <h2>猜你喜欢</h2>
  </div>
  <div class="video-detail-box">
    <ul class="video-ul">
       <volist name="lists" id="vo">
          <li><a href="{:staticUrl('detail',$vo['id'],'Document')}" target="_blank" class="title"><img src="{:get_cover($vo['smallimg'],'path')}" alt="{$vo['title']}"><i class="ico"></i><b class="bg"></b></a>
            <p class="info"><a href="{:staticUrl('detail',$vo['id'],'Document')}" target="_blank" class="tit">{$vo['title']}</a><span class="text">{$vo['description']}</span></p>
          </li>
       </volist>
    </ul>
  </div>
</div>
</notempty>