

<footer>
    <div class="about" data-sudaclick="main_fnav">
    <ul class="aboutLink">
    <li> <a href="{:C('MOBILE_STATIC_URL')}">首页</a></li>
    <li><a href="{:getWidgetPath('33')}">资讯</a></li>
    <li><a href="{:getWidgetPath('34')}">攻略</a></li>
    <li><a href="{:getWidgetPath('35')}">礼包</a></li>
    </ul>
      <span><a href="{:C('MOBILE_STATIC_URL')}">备案编号：湘ICP备14002623号</a></span></BR>
     <span class="index_tel"><a href="javascript:viod(0)">电话：0731-85868798</a></span>
    </div>
  </footer>
  <div class="backtop"><a href="#">返回顶部</a></div>
<script type="text/javascript" src="__PUBLIC__/Home/7230mobile/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/7230mobile/js/wap.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/7230mobile/js/global.js"></script>
<block name="script"></block>