<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$SEO.title}</title>
<meta name="keywords" content="{$SEO.keywords}">
<meta name="description" content="{$SEO.description}">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=2.0,user-scalable=0">
<meta name="format-detection" content="telephone=no">
<meta name="applicable-device" content="mobile" />
<block name="style"></block>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/7230mobile/css/base.css"/>
<script language="javascript"> window.DYNAMIC_SERVER_URL = '{:C("DYNAMIC_SERVER_URL")}';</script>