<extend name="Home@afs/Base/common" />
<block name="style">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/afs/css/copy.css"/>
</block>
<block name="body">
    <!--main-->
  <div id="main" class="map">
      <div class="map_left">
        <ul class="nav">     
            <li class="on"><a href="{:getWidgetPath('35')}">关于我们</a><i></i></li>
            <li><a href="{:getWidgetPath('36')}">联系我们</a><i></i></li>
            <li><a href="{:getWidgetPath('34')}">网站地图</a><i></i></li>
        </ul>
      </div>
      <div class="map_right">
            <div class="about">
                <div class="title">关于我们</div>
               <p>
     安粉丝(http://www.anfensi.com)全称《安粉丝手游网》成立于2011年，是长沙趣游旗下的重点移动网站，经过4年多的沉淀与努力我们不断完善，成为一个优秀的安卓资源平台门户型网站。目前也有粉丝忠实用户超300万，并拥有，安卓粉丝微信，微博，QQ空间等渠道资源。2015年为全新改版，增加了礼包，开服，开测，评测等功能频道，我们至力于打造一个优质的媒介及联动平台。<br />
    <br />
    在这里，我们希望你得到的，是这样一份工作，在工作中，你不仅完成它，还能在完成它的过程中，得到成长，得到历练，更重要的是，得到充实，得到快乐。<br />
    在这里，我们希望你得到的，不仅仅是一份工作，而是更为丰富的人生，更为精彩的生活，和更为有趣的经历。我们希望，在当乐的每一个人，都能展示自己天赋的一面，在当乐，在当乐的每一个人，都能展示自己真实的一面。<br />
    我们崇尚团队的工作理念，崇尚个人的拼搏精神，崇尚做事的务实态度，崇尚工作的高效简洁。在当乐，更崇尚人与人之间的真诚，崇尚像家一样集体的温暖。 
</p>
<p>
    <br />
</p>
         
            </div>         
      </div>
  </div>
  <div style=" clear:both"></div>
</block>