<extend name="Home@afs/Base/common" />
<block name="style">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/afs/css/copy.css"/>
</block>
<block name="body">
    <!--main-->
  <div id="main" class="map">
      <div class="map_left">
        <ul class="nav">     
            <li><a href="{:getWidgetPath('35')}">关于我们</a><i></i></li>
            <li class="on"><a href="{:getWidgetPath('36')}">联系我们</a><i></i></li>
            <li><a href="{:getWidgetPath('34')}">网站地图</a><i></i></li>
        </ul>
      </div>
      <div class="map_right">  
            <div class="about">
                <div class="title">联系我们</div>
				<p>
    软件收录dev@anfensi.com
</p>
<p>
    商务合作anfensi@qq.com
</p>
<p>
    投诉建议zhangbin@anfensi.com
</p>
<p>
    友情链接QQ:2474606656 
</p>
<p>
    <br />
</p>
            </div>         
      </div>
  </div>
  <div style=" clear:both"></div>
</block>