<div class="topbar">
    <div class="main1200 topbar-main">
        <div class="fl">96U手游网—最好玩的手机游戏网站！</div>
        <div class="fr">
            <div class="schome"><a class="sethome" href="http://www.96u.com/top/" target="_blank">手游排行榜</a> | <a class="setup" href="http://www.96u.com/top/" target="_blank">手游排行榜2016</a></div>
            <a href="{$Think.config.MOBILE_STATIC_URL}" target="_blank" class="mobile">手机版</a>
        </div>
    </div>
</div>
<div class="head">
    <div class="main1200">
        <a href="{$Think.config.STATIC_URL}" class="logo fl" title="96u手游网"><img src="__PUBLIC__/Home/jf96u/images/logo.jpg" alt="96u手游网"></a>
        <div class="serbox fr">
            <form action="http://s.96u.com/cse/search" method="get" id="Search_form" target="_blank" name="Search_form" class="">
                <input type="hidden" name="s" value="5693182300236230235">
                <input type="text" name="q" id="searchBox" autocomplete="off" class="" placeholder="请在此输入想了解的内容">
                <button type="submit" id="searchBtn" class="btn-submit">搜索</button>
            </form>
        </div>
    </div>
</div>