<extend name="Home@dongdong/Base/common" />
<block name="style">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Down/dongdong/css/yxlist.css"/>
</block>

<block name="body">
<div class="page_main">
    <!--推荐-->
    <div id="game_rec">
        <p class="rec"><b>推荐</b>
            <a href="" target="_blank">侠盗猎车侠盗猎车5</a>|<a href="" target="_blank">古剑奇谭2NBA</a>
        </p>

        <p class="hot"><b>热门</b><a href="" target="_blank">cs七龙珠2.3</a>|<a href="" target="_blank">侠盗猎车5</a></p>

        <p class="new"><b>最新</b><a href="" target="_blank">侠盗侠盗猎车猎车5</a>|<a href="" target="_blank">侠盗猎车5</a></p>
    </div>
    <!--banner-->
    <div id="banner">
        <div class="lunbo">
            <ul>
                <li><a href="1111" target="_blank"><img src="images/banner1.jpg" alt="这是图片的标片的标片的标题哦" title="11111这是一些图骗的简介这是一些图骗的简介骗的简介这1111是一些图骗的简介"></a></li>
                <li><a href="2222" target="_blank"><img src="images/banner2.jpg" alt="22222222" title="22222这是一些图骗的简介这是一些图骗的简介骗的简介这是一些图骗的简介"></a></li>
                <li><a href="33333" target="_blank"><img src="images/banner3.jpg" alt="33333333333" title="33333这是一些图骗的简介这是一些图骗的简介简介这是一些图骗的简介"></a></li>
                <li><a href="4444" target="_blank"><img src="images/banner4.jpg" alt="4444444444" title="44444这是一些图骗的简介这是一些图简介这是一些图骗的简介这是一些图骗的简介"></a></li>
            </ul>
            <div class="cont"></div>
        </div>
        <div class="new_game">
            <div class="title"><i>新游戏</i></div>
            <div class="new_game_wrap">
                <ul class="new_game_m">
                    <li class="app">
                        <div class="app-main">
                            <a href="" target="_blank"><img src="images/app.jpg" alt="app介绍信息"></a>
                            <div class="info">
                                <i>名称：<a href="" target="_blank">这是游戏的标题哦</a></i>
                                <i>类型：<em>回合 仙侠</em></i>
                                <i>状态：<em>删档封测</em></i>
                                <i class="hot"><s>热度：</s><em class="star4"></em></i>
                            </div>
                        </div>
                        <a href="" class="apk">立即下载</a>
                    </li>
                    <li class="app">
                        <div class="app-main">
                            <a href="" target="_blank"><img src="images/app.jpg" alt="app介绍信息"></a>
                            <div class="info">
                                <i>名称：<a href="" target="_blank">222222222</a></i>
                                <i>类型：<em>回合 仙侠</em></i>
                                <i>状态：<em>删档封测</em></i>
                                <i class="hot">热度：<em class="star4"></em></i>
                            </div>
                        </div>
                        <a href="" class="apk">立即下载</a>
                    </li>
                    <li class="app">
                        <div class="app-main">
                            <a href="" target="_blank"><img src="images/app.jpg" alt="app介绍信息"></a>
                            <div class="info">
                                <i>名称：<a href="" target="_blank">3333</a></i>
                                <i>类型：<em>回合 仙侠</em></i>
                                <i>状态：<em>删档封测</em></i>
                                <i class="hot">热度：<em class="star4"></em></i>
                            </div>
                        </div>
                        <a href="" class="apk">立即下载</a>
                    </li>
                </ul>
            </div>
            <div class="circle"></div>
        </div>
    </div>
    <!--游戏分类-->
    <div class="wraper yxfl">
        <div class="wraper_l">
            <dl>
                <dt><span class="dt_l">角色扮演</span><span class="dt_r"><a href="" target="_blank">+更多</a></span></dt>
                <dd>
                    <ul>
                        <li><a href="" target="_blank"><img src="images/app.jpg" alt="上古侠盗猎车卷轴"><span>上古侠盗猎车卷轴</span></a></li>
                        <li><a href="" target="_blank"><img src="images/app.jpg" alt="上古侠盗猎车卷轴"><span>上古侠盗猎车卷轴</span></a></li>
                        <li><a href="" target="_blank"><img src="images/app.jpg" alt="上古侠盗猎车卷轴"><span>上古侠盗猎车卷轴</span></a></li>
                        <li><a href="" target="_blank"><img src="images/app.jpg" alt="上古侠盗猎车卷轴"><span>上古侠盗猎车卷轴</span></a></li>
                        <li><a href="" target="_blank"><img src="images/app.jpg" alt="上古侠盗猎车卷轴"><span>上古侠盗猎车卷轴</span></a></li>
                        <li><a href="" target="_blank"><img src="images/app.jpg" alt="上古侠盗猎车卷轴"><span>上古侠盗猎车卷轴</span></a></li>
                        <li><a href="" target="_blank"><img src="images/app.jpg" alt="上古侠盗猎车卷轴"><span>上古侠盗猎车卷轴</span></a></li>
                        <li><a href="" target="_blank"><img src="images/app.jpg" alt="上古侠盗猎车卷轴"><span>上古侠盗猎车卷轴</span></a></li>
                        <li><a href="" target="_blank"><img src="images/app.jpg" alt="上古侠盗猎车卷轴"><span>上古侠盗猎车卷轴</span></a></li>
                        <li><a href="" target="_blank"><img src="images/app.jpg" alt="上古侠盗猎车卷轴"><span>上古侠盗猎车卷轴</span></a></li>
                    </ul>
                </dd>
            </dl>
            <dl>
                <dt><span class="dt_l">角色扮演</span><span class="dt_r"><a href="" target="_blank">+更多</a></span></dt>
                <dd>
                    <ul>
                        <li><a href="" target="_blank"><img src="images/app.jpg" alt="上古侠盗猎车卷轴"><span>上古侠盗猎车卷轴</span></a></li>
                        <li><a href="" target="_blank"><img src="images/app.jpg" alt="上古侠盗猎车卷轴"><span>上古侠盗猎车卷轴</span></a></li>
                        <li><a href="" target="_blank"><img src="images/app.jpg" alt="上古侠盗猎车卷轴"><span>上古侠盗猎车卷轴</span></a></li>
                        <li><a href="" target="_blank"><img src="images/app.jpg" alt="上古侠盗猎车卷轴"><span>上古侠盗猎车卷轴</span></a></li>
                        <li><a href="" target="_blank"><img src="images/app.jpg" alt="上古侠盗猎车卷轴"><span>上古侠盗猎车卷轴</span></a></li>
                        <li><a href="" target="_blank"><img src="images/app.jpg" alt="上古侠盗猎车卷轴"><span>上古侠盗猎车卷轴</span></a></li>
                        <li><a href="" target="_blank"><img src="images/app.jpg" alt="上古侠盗猎车卷轴"><span>上古侠盗猎车卷轴</span></a></li>
                        <li><a href="" target="_blank"><img src="images/app.jpg" alt="上古侠盗猎车卷轴"><span>上古侠盗猎车卷轴</span></a></li>
                        <li><a href="" target="_blank"><img src="images/app.jpg" alt="上古侠盗猎车卷轴"><span>上古侠盗猎车卷轴</span></a></li>
                        <li><a href="" target="_blank"><img src="images/app.jpg" alt="上古侠盗猎车卷轴"><span>上古侠盗猎车卷轴</span></a></li>
                    </ul>
                </dd>
            </dl>
            <dl>
                <dt><span class="dt_l">角色扮演</span><span class="dt_r"><a href="" target="_blank">+更多</a></span></dt>
                <dd>
                    <ul>
                        <li><a href="" target="_blank"><img src="images/app.jpg" alt="上古侠盗猎车卷轴"><span>上古侠盗猎车卷轴</span></a></li>
                        <li><a href="" target="_blank"><img src="images/app.jpg" alt="上古侠盗猎车卷轴"><span>上古侠盗猎车卷轴</span></a></li>
                        <li><a href="" target="_blank"><img src="images/app.jpg" alt="上古侠盗猎车卷轴"><span>上古侠盗猎车卷轴</span></a></li>
                        <li><a href="" target="_blank"><img src="images/app.jpg" alt="上古侠盗猎车卷轴"><span>上古侠盗猎车卷轴</span></a></li>
                        <li><a href="" target="_blank"><img src="images/app.jpg"><span>上古侠盗猎车卷轴</span></a></li>
                        <li><a href="" target="_blank"><img src="images/app.jpg"><span>上古侠盗猎车卷轴</span></a></li>
                        <li><a href="" target="_blank"><img src="images/app.jpg"><span>上古侠盗猎车卷轴</span></a></li>
                        <li><a href="" target="_blank"><img src="images/app.jpg"><span>上古侠盗猎车卷轴</span></a></li>
                        <li><a href="" target="_blank"><img src="images/app.jpg"><span>上古侠盗猎车卷轴</span></a></li>
                        <li><a href="" target="_blank"><img src="images/app.jpg"><span>上古侠盗猎车卷轴</span></a></li>
                    </ul>
                </dd>
            </dl>
            <dl>
                <dt><span class="dt_l">角色扮演</span><span class="dt_r"><a href="" target="_blank">+更多</a></span></dt>
                <dd>
                    <ul>
                        <li><a href="" target="_blank"><img src="images/app.jpg" alt="上古侠盗猎车卷轴"><span>上古侠盗猎车卷轴</span></a></li>
                        <li><a href="" target="_blank"><img src="images/app.jpg" alt="上古侠盗猎车卷轴"><span>上古侠盗猎车卷轴</span></a></li>
                        <li><a href="" target="_blank"><img src="images/app.jpg"><span>上古侠盗猎车卷轴</span></a></li>
                        <li><a href="" target="_blank"><img src="images/app.jpg"><span>上古侠盗猎车卷轴</span></a></li>
                        <li><a href="" target="_blank"><img src="images/app.jpg" alt="上古侠盗猎车卷轴"><span>上古侠盗猎车卷轴</span></a></li>
                        <li><a href="" target="_blank"><img src="images/app.jpg"><span>上古侠盗猎车卷轴</span></a></li>
                        <li><a href="" target="_blank"><img src="images/app.jpg" alt="上古侠盗猎车卷轴"><span>上古侠盗猎车卷轴</span></a></li>
                        <li><a href="" target="_blank"><img src="images/app.jpg" alt="上古侠盗猎车卷轴"><span>上古侠盗猎车卷轴</span></a></li>
                        <li><a href="" target="_blank"><img src="images/app.jpg"><span>上古侠盗猎车卷轴</span></a></li>
                        <li><a href="" target="_blank"><img src="images/app.jpg" alt="上古侠盗猎车卷轴"><span>上古侠盗猎车卷轴</span></a></li>
                    </ul>
                </dd>
            </dl>
        </div>
    </div>
</block>