<volist name="tree" id="list" key="top">
        <div class="novel-cate">
            <div class="hd">
                <h3>{$list.title}</h3>
            </div>
            <volist name="list['_']" id="two" key="k">
                <div class="cate-item">
                    <div class="hd">
                        <h4 <if condition="($top eq 1) AND ($k eq 1) ">class="colorWord"</if>><empty name="two['_']"><i class="hd-cur1"></i><else /><i></i></empty>
                        <a href="{:staticUrl('lists',$two['id'],'Down')}">{$two.title|msubstr=0,10,'utf-8',false}</a>
                        </h4>
                    </div>
                    <ul <eq name="top" value="1">style="display:block;"</eq>>
                    <volist name="two['_']" id="three" key="k">
                        <li <if condition="$k eq count($two['_'])">class="nob"</if>><a href="{:staticUrl('lists',$three['id'],'Down')}" <eq name="k" value="1">class="colorWord"</eq>><i></i>{$three.title|msubstr=0,8,'utf-8',false}</a></li>
                    </volist>
                    </ul>
                </div>
                <!-----cate-item   -end----->
            </volist>
        </div>
        <!-----novel-cate   -end----->
    </volist>