<div class="boxright" id="csgj">
    <div class="tool">
        <div class="commontitle"> <b>怀孕测试小工具</b> </div>
        <ul>
            <li><a href="/tools/anquanqi/" class="imgcont" target="_blank"><img src="http://www.qbaobei.com/UploadFiles/qqgjx/2013/1/201301141412485098.gif" /><span>安全期</span></a></li>
            <li><a href="/tools/yuchanqi/" class="imgcont" target="_blank"><img src="http://www.qbaobei.com/UploadFiles/qqgjx/2013/1/201301101712144613.gif" /><span>预产期计算器</span></a></li>
            <li><a href="/tools/bbzhiliaoku/" class="imgcont" target="_blank"><img src="http://www.qbaobei.com/UploadFiles/qqgjx/2013/2/201302191524428705.gif" /><span>宝宝纸尿裤尺寸</span></a></li>
            <li><a href="/tools/hyrlb/" class="imgcont" target="_blank"><img src="http://www.qbaobei.com/UploadFiles/qqgjx/2013/4/201304261114142070.gif" /><span>怀孕日历表</span></a></li>
        </ul>
    </div>
    <div class="tool">
        <div class="commontitle"> <b>亲亲小工具</b> </div>
        <ul>
            <li><a href="/tools/anquanqi/" class="imgcont" target="_blank"><img src="http://www.qbaobei.com/UploadFiles/qqgjx/2013/1/201301141412485098.gif" /><span>安全期</span></a></li>
            <li><a href="/tools/yuchanqi/" class="imgcont" target="_blank"><img src="http://www.qbaobei.com/UploadFiles/qqgjx/2013/1/201301101712144613.gif" /><span>预产期计算器</span></a></li>
            <li><a href="/tools/bbzhiliaoku/" class="imgcont" target="_blank"><img src="http://www.qbaobei.com/UploadFiles/qqgjx/2013/2/201302191524428705.gif" /><span>宝宝纸尿裤尺寸</span></a></li>
            <li><a href="/tools/hyrlb/" class="imgcont" target="_blank"><img src="http://www.qbaobei.com/UploadFiles/qqgjx/2013/4/201304261114142070.gif" /><span>怀孕日历表</span></a></li>
            <li><a href="/tools/snsnycb/" class="imgcont" target="_blank"><img src="http://www.qbaobei.com/UploadFiles/qqgjx/2013/2/201302011427331610.gif" /><span>生男生女预测</span></a></li>
            <li><a href="/tools/yimiaojiezhong/" class="imgcont" target="_blank"><img src="http://www.qbaobei.com/UploadFiles/qqgjx/2013/2/201302210934228992.gif" /><span>疫苗接种时间表</span></a></li>
        </ul>
    </div>
    <p class="get_more"><a href="http://www.qbaobei.com/tools/" target="_blank">查看更多测试工具>></a></p>
</div>