<ul class="zaoj_video">
    <li><a href="http://www.qbaobei.com/plans/ergetop100/" target="_blank" class="picBox"><img src="http://www.qbaobei.com/UploadFiles/indexv3/2013/8/201308291638295139.jpg" alt="儿歌大全100首"><span></span><b></b></a>
      <p class="info"><a href="http://www.qbaobei.com/plans/ergetop100/" target="_blank">儿歌大全100首</a><span>童年是五彩缤纷的，动听优美、琅琅上口的儿歌旋律伴随我们健康成长。亲亲宝贝网提供最新儿歌视频大全100首在线观看及下载。立志于为儿童打造优良试听环境，支持播放器下载</span></p>
    </li>
    <li><a href="http://www.qbaobei.com/plans/tongyaodaquan/" target="_blank" class="picBox"><img src="http://www.qbaobei.com/UploadFiles/indexv3/2013/8/201308291632556304.jpg" alt="童谣大全"><span></span><b></b></a>
      <p class="info"><a href="http://www.qbaobei.com/plans/tongyaodaquan/" target="_blank">童谣大全</a><span>一首好的童谣，可以启发儿童的思维，开拓眼界，增长知识，对儿童的教育有很大的帮助。经典的童谣，牢记在心，代代传唱。 而新的时代也呼唤新童谣的诞生，使新时代的儿童得到精神上的滋润、哺育，更好地成长！</span></p>
    </li>
</ul>