<div class="content">
  <h2><a target="_blank" class="yahei" href="{:staticUrl('detail', $headline1['id'],'Document')}">{$headline1.title}</a></h2>
  <ul class="list">
  <volist name="lists1" id="vo">
       <switch name="key" >
           <case value="0"><li><a target="_blank" href="{:staticUrl('detail', $vo['id'],'Document')}">{$vo.title|msubstr=###,0,12,'utf-8',false}</a> |</case>
       <case value="1"><a target="_blank" href="{:staticUrl('detail', $vo['id'],'Document')}">{$vo.title|msubstr=###,0,12,'utf-8',false}</a></li></case>
       <case value="2"><li><a target="_blank" href="{:staticUrl('detail', $vo['id'],'Document')}">{$vo.title|msubstr=###,0,12,'utf-8',false}</a> | </case>
       <case value="3"><a target="_blank" href="{:staticUrl('detail', $vo['id'],'Document')}">{$vo.title|msubstr=###,0,12,'utf-8',false}</a></li></case>
       <default />
       </switch>
  </volist>
  </ul>
</div>
<div class="content">
  <h2><a target="_blank" class="yahei" href="{:staticUrl('detail',$headline2['id'],'Document')}">{$headline2.title}</a></h2>
  <ul class="list">
  <volist name="lists2" id="vo">
       <switch name="key" >
       <case value="0"><li><a target="_blank" href="{:staticUrl('detail', $vo['id'],'Document')}">{$vo.title|msubstr=###,0,12,'utf-8',false}</a> |</case>
       <case value="1"><a target="_blank" href="{:staticUrl('detail', $vo['id'],'Document')}">{$vo.title|msubstr=###,0,12,'utf-8',false}</a></li></case>
       <case value="2"><li><a target="_blank" href="{:staticUrl('detail', $vo['id'],'Document')}">{$vo.title|msubstr=###,0,12,'utf-8',false}</a> | </case>
       <case value="3"><a target="_blank" href="{:staticUrl('detail', $vo['id'],'Document')}">{$vo.title|msubstr=###,0,12,'utf-8',false}</a></li></case>
       <default />
       </switch>
  </volist>
  </ul>
</div>
