<P class="wjgz">玩家关注榜<i></i></P>
<div class="gzbd" id="testServer">
    <p class="nav"><i class="cur">开测排行</i><i>开服排行</i></p>
    <p class="yxxx"><i>测试时间</i><i class="tb">图标</i><i>游戏名</i><i id="testTitle">测试状态</i><i>游戏分类</i><i>评分</i><i>下载</i><i>礼包</i><i>厂商</i><i>玩家关注</i></p>
    <ul class="current">
        <volist name="test" id="val">
            <li><i>{:date('Y-m-d',$val['start_time'])}</i><a href="{:$val['androidId']?staticUrl('detail',$val['androidId'],'Down'):'javascript:void(0)'}" target="{$val['androidId']?'_blank':'_self'}" class="pic"><img src="{:get_cover($val['cover_id'],'path')}"></a><a href="{:$val['androidId']?staticUrl('detail',$val['androidId'],'Down'):'javascript:void(0)'}" target="{$val['androidId']?'_blank':'_self'}" class="tit">{$val['title']}</a><i>{$val['server']}</i><i>{:showText($val['game_type'],'game_type',false,'Package')}</i><i>{$val['score']}分</i><i class="down"><a {:$val['androidId']?('href="'.staticUrl('detail',$val['androidId'],'Down').'" target="_blank"'):''} class="anzhuo {$val['androidId']?'':'az-now'}"></a><a {:$val['IOS']?('href="'.staticUrl('detail',$val['IOS'],'Down').'" target="_blank"'):''} class="apple {$val['IOS']?'':'ap-now'}"></a></i>
                <a href="{:$val['packageId']?staticUrl('detail',$val['packageId'],'Package'):'javascript:void(0)'}" target="{$val['packageId']?'_blank':'_self'}" class="lb"></a><i>{$val['company']?$val['company']:'未知'}</i><i>3000人关注</i></li>
        </volist>
    </ul>
    <ul>
        <volist name="server" id="val">
            <li><i>{:date('Y-m-d',$val['start_time'])}</i><a href="{:$val['androidId']?staticUrl('detail',$val['androidId'],'Down'):'javascript:void(0)'}" target="{$val['androidId']?'_blank':'_self'}" class="pic"><img src="{:get_cover($val['cover_id'],'path')}"></a><a href="{:$val['androidId']?staticUrl('detail',$val['androidId'],'Down'):'javascript:void(0)'}" target="{$val['androidId']?'_blank':'_self'}" class="tit">{$val['title']}</a><i>{$val['server']}</i><i>{:showText($val['game_type'],'game_type',false,'Package')}</i><i>{$val['score']}分</i><i class="down"><a {:$val['androidId']?('href="'.staticUrl('detail',$val['androidId'],'Down').'" target="_blank"'):''} class="anzhuo {$val['androidId']?'':'az-now'}"></a><a {:$val['IOS']?('href="'.staticUrl('detail',$val['IOS'],'Down').'" target="_blank"'):''} class="apple {$val['IOS']?'':'ap-now'}"></a></i>
                <a href="{:$val['packageId']?staticUrl('detail',$val['packageId'],'Package'):'javascript:void(0)'}" target="{$val['packageId']?'_blank':'_self'}" class="lb"></a><i>{$val['company']?$val['company']:'未知'}</i><i>3000人关注</i></li>
        </volist>
    </ul>
</div>