<div class="foot">
    <div class="foot-inwrap">
    <p class="link"><a href="{:C('STATIC_URL')}/website/" target="_blank">网站大全</a> |
    <a href="{:C('STATIC_URL')}/product/" target="_blank">产品信息</a> | 
    <a href="{:getWidgetPath('72', true)}" target="_blank" rel="nofollow">网站地图</a> |
    <a href="{:getWidgetPath('70', true)}" target="_blank" rel="nofollow">联系我们</a> |
    <a href="{:getWidgetPath('71', true)}" target="_blank" rel="nofollow">免责声明</a>
    </p>
    <p>官方网 版权所有 免责声明:站内会员言论仅代表个人观点,并不代表本站同意其说法或描述,本站不承担由此引起的法律责任 ©2011-2013</p>
    </div>
</div>

