<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$SEO.title}</title>
<meta name="keywords" content="{$SEO.keywords}"/>
<meta name="description" content="{$SEO.description}"/>
<meta property="qc:admins" content="33433433776751661671236375" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/gfw/css/base.css"/>
<script type="text/javascript" src="__PUBLIC__/static/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/gfw/js/global.js"></script>
<script type="text/javascript">var DYNAMIC_SERVER_URL = '{:C('DYNAMIC_SERVER_URL')}';</script>
<script type="text/javascript">var I_URL = '{:C('I_URL')}';</script>
<script type="text/javascript" src="http://cbjs.baidu.com/js/m.js"></script>
<block name="style"></block>
