<div id="header-main" class="gf1000">
    <div class="logo cfl"> <a href="{:C('STATIC_URL')}" target="_blank"><img src="__PUBLIC__/Home/gfw/images/logo.jpg" width="225" height="46" /></a> </div>
    <div class="h-search cfl">
        <form action="http://s.guanfang123.com/cse/search" method="get" id="Search_form" name="Search_form" target="_blank" class="head_search_box">
        <input type="hidden" value="12152045780379238154" name="s">

            <input type="text" name="q" id="searchbox" autocomplete="off" class="" value="输入你想搜索的网站或产品">
            <button type="submit" id="searchbtn" class="btn-submit">官方搜索</button>
        </form>
    </div>
    <div class="button cfr"><a href="{:C('I_URL')}/Website/create"><i class="button-icon"></i><span class="btext">免费发布信息</span></a> </div>
</div>