<div id="top">
    <div id="top-nav" class="gf1000">
        <p class="cfl">官方网，用心做最值得信赖的网站！</p>
        <ul class="cfr">
            <li class="login"><a href="{:C('I_URL')}/i.php?a=login">登录</a></li>
            <li class="reg"><a href="{:C('I_URL')}/i.php?a=register">免费注册</a></li>
            <li class="line">|</li>
            <li><a href="{:C('I_URL')}">个人中心</a></li>
            <li class="line">|</li>
            <li><a href="{:getWidgetPath('72', true)}" target="_blank">网站导航</a></li>
            <li class="line">|</li>
            <li><a href="{:getWidgetPath('74', true)}" target="_blank"> 帮助</a></li>
            <li class="line">|</li>
            <li><a href="javascript:void(0);" id="setHome">设为首页</a></li>
            <li class="line">|</li>
            <li><a href="javascript:void(0);" id="addFavorites" data-name="{:C('WEB_SITE_TITLE')}" data-url="{:C('STATIC_URL')}">加入收藏</a></li>
        </ul>
    </div>
</div>