<section>
    <div class="top_tit"><span>猜你喜欢</span></div>
    <div id="down_cont">
        <div id="down_table"><volist name="tags" id="val"><span{$i == 1?' class="cur"':''}>{$val['title']}</span></volist></div>
        <div id="table_cont">
            <div id="table_ul" class="ul_li">
                <volist name="tagDown" id="val">
                    <ul>
                        <volist name="val" id="vo">
                            <li><a href="{:staticUrlMobile('detail',$vo['id'],'Down')}"><img src="{:get_cover($vo['smallimg'],'path')}" /><span class="jx_title">{$vo['title']}</span><span class="jx_size">{:format_size($vo['size'])}</span><span class="jx_xz">下载</span></a></li>
                        </volist>
                    </ul>
                </volist>
            </div>
        </div>
    </div>
</section>