<extend name="Public/base"/>

<block name="body">
	<div class="main-title">
		<h2>{:isset($info['id'])?'编辑':'新增'}{$name}</h2>
	</div>
	<div class="tab-wrap">
		<ul class="tab-nav nav">
			<li data-tab="tab1" class="current"><a href="javascript:void(0);">基 础</a></li>
			
		</ul>
		<div class="tab-content">
			<form action="{:U()}" method="post" class="form-horizontal">
				<!-- 基础 -->
				<div id="tab1" class="tab-pane in tab1">
					<div class="form-item">
						<label class="item-label">
							站点名称<span class="check-tips">（站点名称不能为空）</span>
						</label>
						<div class="controls">
							<input type="text" name="site_name" class="text input-large" value="{$info.site_name|default=''}">
						</div>
					</div>
					<div class="form-item">
						<label class="item-label">
							站点地址<span class="check-tips">（站点地址不能为空）</span>
						</label>
						<div class="controls">
							<input type="text" name="site_url" class="text input-large" value="{$info.site_url|default=''}">
						</div>
					</div>
					<div class="form-item">
						<label class="item-label">
							描述
						</label>
						<div class="controls">
							<label class="textarea">
								<textarea  name="description">{$info.description|default=''}</textarea>
							</label>
						</div>
					</div>
					<div class="form-item">
						<label class="item-label">
							下载名称
						</label>
						<div class="controls">
							<label class="textarea">
								<textarea  name="download_name">{$info.download_name|default=''}</textarea>
							</label>
						</div>
					</div>
					<div class="form-item">
						<label class="item-label">
							下载地址
						</label>
						<div class="controls">
							<label class="textarea">
								<textarea  name="download_url">{$info.download_url|default=''}</textarea>
							</label>
						</div>
					</div>
					<div class="form-item">
						<label class="item-label">
							自动填充(当填写此项，如果有选择了这个预设站点的下载项为空，会自动填充)
						</label>
						<div class="controls">
							<label class="textarea">
								<textarea  name="autofill">{$info.autofill|default=''}</textarea>
							</label>
						</div>
					</div>
					<div class="form-item">
						<label class="item-label">
							链接方式
						</label>
						<div class="controls">
							<select name="is_lb">
								<option value="1" <eq name="info['is_lb']" value="1">selected</eq>>显示全部分站</option>
								<option value="0" <eq name="info['is_lb']" value="0">selected</eq>>不显示，自动负载均衡</option>
							</select>
						</div>
					</div>
					<div class="form-item">
						<label class="item-label">
							设置默认
						</label>
						<div class="controls">
							<select name="is_default">
								<option value="1" <eq name="info['is_default']" value="1">selected</eq>>是</option>
								<option value="0" <eq name="info['is_default']" value="0">selected</eq>>否</option>
							</select>
						</div>
					</div>



					</div>


					<div class="form-item">
						<input type="hidden" name="id" value="{$info.id|default=''}">
						<button type="submit" id="submit" class="btn submit-btn ajax-post" target-form="form-horizontal">确 定</button>
						<button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
					</div>
				</form>
			</div>
		</div>
	</block>

	<block name="script">
		<script type="text/javascript">
		
		$(function(){
			showTab();
		});
		//导航高亮
		highlight_subnav('{:U('PresetSite/index')}');
		</script>
	</block>
