<!DOCTYPE html>
<html>
<head>
    <include file="Home@qbaobeimobile/Public/mobile2/head" />
</head>
<body>
<include file="Home@qbaobeimobile/Public/mobile2/header" />
<include file="Home@qbaobeimobile/Public/mobile2/body" />
<footer>
    <include file="Home@qbaobeimobile/Public/mobile2/foot" />
</footer>
<script type="text/javascript" src="__PUBLIC__/Home/qbaobeimobile2/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/qbaobeimobile2/js/swiper.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/qbaobeimobile2/js/nativeShare.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/qbaobeimobile2/js/app.js"></script>
<block name="script"></block>
</body>
</html>