<!DOCTYPE html>
<html>
<head>
    <include file="Home@qbaobeimobile/Public/head" />
</head>
<body>
<!---头部--->
<header class="index-head">
    <include file="Home@qbaobeimobile/Public/headerIndex" />
    <include file="Home@qbaobeimobile/Public/nav" />
    <include file="Home@qbaobeimobile/Public/headerSearch" />
</header>
<!---头部END--->

<!---body--->
<include file="Home@qbaobeimobile/Public/body" />
<!---bodyEND--->

<!---脚部--->
<footer>
<include file="Home@qbaobeimobile/Public/foot" />
<include file="Home@qbaobeimobile/Public/link" />
</footer>

<!---脚部END--->
<script type="text/javascript" src="__PUBLIC__/Home/qbaobeimobile/js/zepto.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/qbaobeimobile/js/iscrollc.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/qbaobeimobile/js/qqbb.js"></script>
<!---JS--->
<block name="script"></block>
<!---JS--->
</body>
</html>