<!DOCTYPE html>
<html>
<head>
    <include file="Home@qbaobeimobile/Public/mobile2/head" />
</head>
<body>
<!---头部--->
<include file="Home@qbaobeimobile/Public/mobile2/headerCate" />
<!---头部END--->

<!---body--->
<include file="Home@qbaobeimobile/Public/mobile2/body" />
<!---bodyEND--->

<!---脚部--->
<footer>
    <include file="Home@qbaobeimobile/Public/mobile2/foot" />
</footer>

<!---脚部END--->
<script type="text/javascript" src="__PUBLIC__/Home/qbaobeimobile2/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/qbaobeimobile2/js/swiper.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/qbaobeimobile2/js/app.js"></script>
<!---JS--->
<block name="script"></block>
<!---JS--->
</body>
</html>