<p class="bqp">
<notempty name="links['shipin']">
<a href="{$links['shipin']}" target="_blank" title="{$down['title']}攻略">视频</a>
</notempty>
<notempty name="links['gonglve']">
<a href="{$links['gonglve']}" target="_blank" title="{$down['title']}评测">攻略</a>
</notempty>
<notempty name="links['pingce']">
<a href="{$links['pingce']}" target="_blank" title="{$down['title']}视频">评测</a>
</notempty>
<notempty name="links['jietu']">
<a href="{$links['jietu']}" target="_blank" title="{$down['title']}截图">截图</a>
</notempty>
</p>
