<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>404错误</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
<meta name="format-detection" content="telephone=no"/>
<link rel="stylesheet" type="text/css" href="/Public/Home/afsmobile/css/base.css"/>
<link rel="stylesheet" type="text/css" href="/Public/Home/afsmobile/css/game.css"/>
</head>

<body>
    <header id="inpage_head">
        <span class="back"></span>
        <b>404错误</b>
        <a href="http://m.anfensi.com/search.html" class="search"></a>
    </header>
   <!--404 error-->
    <section class="main-wrap normal-module">
        <div class="main-404">
            <p class="main-404-words">很抱歉，页面不存在~</p>
        </div>
        <p class="text-center"><a href="http://m.anfensi.com/" class="text-play">您可以快速返回安粉丝首页</a></p>
    </section>
    <!--footer-->
    <footer>
        <a href="http://m.anfensi.com/">手机版</a><a href="http://www.anfensi.com/">网页版</a><a href="http://m.anfensi.com/">返回首页</a>
    </footer>
<script type="text/javascript" src="/Public/Home/afsmobile/js/zepto.js"></script>
<script type="text/javascript" src="/Public/Home/afsmobile/js/afs.js"></script>
<div style="display:none;">
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1257361955'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "w.cnzz.com/q_stat.php%3Fid%3D1257361955' type='text/javascript'%3E%3C/script%3E"));</script>
</div>
</body>
</html>
