<!--footer-->
    <!--footer-->
    <footer class="syFooter">
        <a href="http://www.anfensi.com">电脑版</a>
        <p>@m.anfensi.com<br/> 湘ICP备15016493号-1电脑版</p>
    </footer>
    <div class="backtop"><a href="http://m.anfensi.com/">返回顶部</a></div>
<script type="text/javascript" src="__PUBLIC__/Home/afsmobile/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/afsmobile/js/afs.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/afsmobile/js/ScrollPic.js"></script>
<block name="script"></block>
