<script language="javascript"> window.DYNAMIC_SERVER_URL = "{:C('DYNAMIC_SERVER_URL')}";</script>
<!-- 广告位：文章和下载详情公共广告位 -->
<script type="text/javascript" src="__PUBLIC__/Home/afsmobile/js/global_ad.js"></script>
<header id="inpage_head"> <span class="back"></span> <b><i><a href="http://m.anfensi.com/danji/">单机</a><a href="http://m.anfensi.com/shouyou/">网游</a><a href="http://m.anfensi.com/soft/">软件</a><a href="http://m.anfensi.com/zixun/">资讯</a></i></b> <a href="http://m.anfensi.com/search.html" class="search"></a> </header>