<script language="javascript"> window.DYNAMIC_SERVER_URL = '{:C('DYNAMIC_SERVER_URL')}';</script>
<div>
    <p><em>资讯</em><span><a href="{:C('MOBILE_STATIC_URL')}/yugao/">新游预告</a><a href="{:C('MOBILE_STATIC_URL')}/xinwen/">手游新闻</a><a href="{:C('MOBILE_STATIC_URL')}/pingce/">手游评测</a><a href="{:C('MOBILE_STATIC_URL')}/wenda/">手游问答</a><a href="{:C('MOBILE_STATIC_URL')}/ziliao/">手游资料</a></span></p>
    <p><em>下载</em><span>
            <a href="{:getWidgetPath('16')}">安卓单机</a>
            <a href="{:getWidgetPath('18')}">角色扮演</a>
            <a href="{:getWidgetPath('20')}">射击飞行</a>
            <a href="{:getWidgetPath('21')}">策略塔防</a>
            <a href="{:getWidgetPath('22')}">棋牌桌游</a>
            <a href="{:getWidgetPath('31')}">动作游戏</a>
            <a href="{:getWidgetPath('24')}">竞速游戏</a>
            <a href="{:getWidgetPath('25')}">益智休闲</a>
            <a href="{:getWidgetPath('17')}">手机网游</a>
            <a href="{:getWidgetPath('19')}">RPG游戏</a>
            <a href="{:getWidgetPath('26')}">动作游戏</a>
            <a href="{:getWidgetPath('27')}">塔防游戏</a>
            <a href="{:getWidgetPath('30')}">策略游戏</a>
            <a href="{:getWidgetPath('29')}">三国游戏</a>
            <a href="{:getWidgetPath('28')}">卡牌游戏</a>
            </span></p>
    <!--   <p><em>专区</em><span><a href="">游戏攻略</a><a href="">游戏新闻</a><a href="">游戏评测</a></span></p>-->
</div>