<meta charset="utf-8">
<title>{$SEO.title}</title>
<meta name="keywords" content="{$SEO.keywords}"/>
<meta name="description" content="{$SEO.description}"/>
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
<meta name="format-detection" content="telephone=no"/>
<meta name="applicable-device" content="mobile" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/gfwmobile/css/base.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/gfwmobile/css/layout.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/gfwmobile/css/gfw.css"/>
<script type="text/javascript" src="__PUBLIC__/static/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/gfwmobile/js/ScrollPic.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/gfwmobile/js/gfw.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/gfwmobile/js/global.js"></script>
<!-- <script type="text/javascript" src="http://cbjs.baidu.com/js/m.js"></script> -->
<block name="style"></block>