<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <include file="Home@gfw/Public/head" />
</head>
<body>
    <!---头部--->
   <include file="Home@gfw/Public/header" />
    <!---头部END--->

    <!---body--->
    <include file="Home@gfw/Public/body" />
    <!---bodyEND--->

    <!---脚部--->
	 <include file="Home@gfw/Public/foot" />
   
    <!---脚部END--->

    <!---JS--->
    <block name="script"></block>
    <!---JS--->
</body>
</html>