<!DOCTYPE html>
<html>
<head>
    <include file="Home@gfw/Public/head" />
</head>
<body>
    <!---头部--->
    <include file="Home@gfw/Public/headerTop" />
    <div id="header">
        <include file="Home@gfw/Public/headerSearch" />
        <include file="Home@gfw/Public/navBaike" />
    </div>
    <!---头部END--->

    <!---body--->
    <include file="Home@gfw/Public/body" />
    <!---bodyEND--->

    <!---脚部--->
    <include file="Home@gfw/Public/foot" />

    <!---脚部END--->

    <!---JS--->
    <block name="script"></block>
    <!---JS--->
</body>
</html>