<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>专区下载</title>
<link rel="stylesheet" type="text/css" href="/public/home/7230/css/base.css"/>
<link rel="stylesheet" type="text/css" href="/public/home/7230/css/zqys.css"/>
<link id="size-stylesheet" rel="stylesheet" type="text/css" href="" />
</head>

<body>

<div class="top_zq">
    <p>
        <a href=""><img src="images/logozq.jpg"> 7230手游网</a>|<a href="" target="_blank">资讯</a>|<a href="" target="_blank">攻略</a>|<a href="" target="_blank">下载</a>|<a href="" target="_blank">原创</a>|<a href="" target="_blank">礼包</a>|<a href="" target="_blank">测试表</a>|<a href="" target="_blank">专题</a>|<a href="" target="_blank">排行</a>|
    </p>
</div>
<div class="yxtj_zq">
    <p>
        <a href="" target="_blank" class="pic"><img src="images/pic3.jpg"><i>卡</i></a>
        <span class="yxbt"><a href="">这是游戏的标题</a>
        <i class="blue">标签1</i>
        <i class="green">标签签2</i>
        <i class="deepb">标签3</i>
        <i class="yellow">标签4</i></span>
        <span class="rankzq"><i class="demo3"><em></em><input class="knob" value="80"></i><s>3000</s></span>
        <span class="info">到家了放假了美女了看到你玫琳凯玫琳凯都没了打开吗V多了可没V来到美丽了放假了美女了看到你玫琳凯玫琳凯都没了打开吗了放假了美女了看到你玫琳凯玫琳凯都没了打开吗了放假了美女了看到你玫琳凯玫琳凯都没了打开吗了放假了美女了看到你玫琳凯玫琳凯都没了打开吗没V吗。</span>
    </p>
    
</div>
<div class="nav_zq">
<div>
    <span class="left">
        <a href="" target="_blank">首页</a>|
        <a href="" target="_blank">资讯</a>|
        <a href="" target="_blank">资料</a>|
        <a href="" target="_blank">攻略</a>|
        <a href="" target="_blank">问答</a>|
        <a href="" target="_blank">视频</a>|
        <a href="" target="_blank" class="cur">下载</a>|
        
    </span>
        <form action="" method="get" id="Search_form" name="Search_form" target="_blank" class="">
           <input type="text" name="keyword" id="searchBox" autocomplete="off" class="" value="输入你想搜索的游戏..." >
           <button type="submit" id="searchBtn" class="btn-submit"></button>
        </form>
    <span class="share">分享</span>
    </div>
</div>
<div id="zqmain">
    <p class="page-nav">当前位置：<a href="">首页</a>　天天风之旅下载</p>
    <div class="zqdown-nav"><i class="cur" id="pg">苹果下载</i><i id="az">安卓下载</i><i id="pc">PC版下载</i><i id="tv">TV版下载</i></div>
    <div class="zqdown">
        <div class="zq_yxjj current">
            <p class="yxjj">
                <a href="" target="_blank" class="pic"><img src="images/pic3.jpg"></a>
                <span class="yxxq">
                    <a href="" target="_blank">天天风之旅</a>
                    <b>
                        <i>游戏大小：148.00MB</i>
                        <i>下载次数：12584次</i>
                        <i>费用：免费</i>
                        <i>游戏版本：10.02.01</i>
                        <i>游戏类型：射击游戏 角色扮演</i>
                        <i>语言：中文</i>
                        <i>更新时间：2014-11-01</i>
                    </b>
                </span>
                <span class="ewm"><img src="images/ewm.jpg"><b>扫扫二维码立即下载</b></span>
            </p>
           <p class="down"><a href="">苹果版下载</a></p>
       </div>
               <div class="zq_yxjj">
            <p class="yxjj">
                <a href="" target="_blank" class="pic"><img src="images/pic3.jpg"></a>
                <span class="yxxq">
                    <a href="" target="_blank">天天风之旅</a>
                    <b>
                        <i>游戏大小：148.00MB</i>
                        <i>下载次数：12584次</i>
                        <i>费用：免费</i>
                        <i>游戏版本：10.02.01</i>
                        <i>游戏类型：射击游戏 角色扮演</i>
                        <i>语言：中文</i>
                        <i>更新时间：2014-11-01</i>
                    </b>
                </span>
                <span class="ewm"><img src="images/ewm.jpg"><b>扫扫二维码立即下载</b></span>
            </p>
           <p class="down"><a href="">安卓版下载</a></p>
       </div>
               <div class="zq_yxjj">
            <p class="yxjj">
                <a href="" target="_blank" class="pic"><img src="images/pic3.jpg"></a>
                <span class="yxxq">
                    <a href="" target="_blank">天天风之旅</a>
                    <b>
                        <i>游戏大小：148.00MB</i>
                        <i>下载次数：12584次</i>
                        <i>费用：免费</i>
                        <i>游戏版本：10.02.01</i>
                        <i>游戏类型：射击游戏 角色扮演</i>
                        <i>语言：中文</i>
                        <i>更新时间：2014-11-01</i>
                    </b>
                </span>
                <span class="ewm"><img src="images/ewm.jpg"><b>扫扫二维码立即下载</b></span>
            </p>
           <p class="down"><a href="">PC版下载</a></p>
       </div>
               <div class="zq_yxjj">
            <p class="yxjj">
                <a href="" target="_blank" class="pic"><img src="images/pic3.jpg"></a>
                <span class="yxxq">
                    <a href="" target="_blank">天天风之旅</a>
                    <b>
                        <i>游戏大小：148.00MB</i>
                        <i>下载次数：12584次</i>
                        <i>费用：免费</i>
                        <i>游戏版本：10.02.01</i>
                        <i>游戏类型：射击游戏 角色扮演</i>
                        <i>语言：中文</i>
                        <i>更新时间：2014-11-01</i>
                    </b>
                </span>
                <span class="ewm"><img src="images/ewm.jpg"><b>扫扫二维码立即下载</b></span>
            </p>
           <p class="down"><a href="">TV版下载</a></p>
       </div>
       <p class="info"><b>游戏介绍</b><i>天天风之旅是腾讯最新推出的一款跑酷手游，玩法类似于天天酷跑，最大亮点就是游戏的画面和人设方面了。在画面上更加细致，不管是人物还天天风之旅是腾讯最新推出的一款跑酷手游，玩法类似于天天酷跑，最大亮点就是游戏的画面和人设方面了。在画面上更加细致，不管是人物还.</i></p>
       <p class="yxjt"><b>游戏截图</b><i><img src="images/pic1.jpg"><img src="images/pic1.jpg"><img src="images/pic1.jpg"></i></p>
        <div id="pinglun">
            <b class="title">网友点评</b>
            <form action="" method="" name="" id="pl">
            <p><input type="text" value="请输入用户名" id="user"><span><i class="qd">值得期待，赞！</i><i class="jy">打个酱油！</i><i class="ca">踩一脚！</i></span></p>
            <p class="bot"><b></b><textarea></textarea><input type="submit" value="发表评论" id="btn"></p>
            </form>
            <ul>
                <li>
                    <span><b>7230网友 123123</b><em>第1楼</em></span>
                    <span class="info">这是评论的内容部分，天天风之旅可玩性非常高！画风可爱，游戏设置花样多，太好玩了！</span>
                    <span class="zchf"><i class="zc">支持（20）</i><i class="hf">回复（20）</i></span>
                </li>
                <li>
                    <span><b>7230网友 123123</b><em>第2楼</em></span>
                    <span class="info">这是评论的内容部分，这是评论的内容部分这是评论的内容部分这是评论的内容部分这是评论的内容部分这是评论的内容部分，这是评论的内容部分</span>
                    <span class="zchf"><i class="zc">支持（20）</i><i class="hf">回复（20）</i></span>
                </li>
            </ul>
            <p class="more"><a href="">点击查看更多精彩评论>></a></p>
        </div>
    </div>
    <!------推荐游戏------> 
    <div class="djdzw" id="lunbo">
        <p class="title"><i></i>大家都在玩<a href="" target="_blank" class="more"></a></p>
        <ul>
            <li><a href="" target="_blank"><img src="images/pic3.jpg"></a><a href="" class="tit" target="_blank">愤怒的小鸟</a></li>
            <li><a href="" target="_blank"><img src="images/pic3.jpg"></a><a href="" class="tit" target="_blank">愤怒的小鸟</a></li>
            <li><a href="" target="_blank"><img src="images/pic3.jpg"></a><a href="" class="tit" target="_blank">愤怒的小鸟</a></li>
            <li><a href="" target="_blank"><img src="images/pic3.jpg"></a><a href="" class="tit" target="_blank">愤怒的小鸟</a></li>
            <li><a href="" target="_blank"><img src="images/pic3.jpg"></a><a href="" class="tit" target="_blank">愤怒的小鸟</a></li>
            <li><a href="" target="_blank"><img src="images/pic3.jpg"></a><a href="" class="tit" target="_blank">愤怒的小鸟</a></li>
            <li><a href="" target="_blank"><img src="images/pic3.jpg"></a><a href="" class="tit" target="_blank">愤怒的小鸟</a></li>
            <li><a href="" target="_blank"><img src="images/pic3.jpg"></a><a href="" class="tit" target="_blank">愤怒的小鸟</a></li>
            <li><a href="" target="_blank"><img src="images/pic3.jpg"></a><a href="" class="tit" target="_blank">愤怒的小鸟</a></li>
            <li><a href="" target="_blank"><img src="images/pic3.jpg"></a><a href="" class="tit" target="_blank">愤怒的小鸟</a></li>
            <li><a href="" target="_blank"><img src="images/pic3.jpg"></a><a href="" class="tit" target="_blank">愤怒的小鸟</a></li>
            <li><a href="" target="_blank"><img src="images/pic3.jpg"></a><a href="" class="tit" target="_blank">愤怒的小鸟</a></li>
        </ul>
    </div> 
</div>
<!----footer---->
<div style="clear:both"></div>
<div id="footer">
    <div class="foot-top">
        <ul>
            <li class="zx"><i>资讯</i><a href="" target="_blank">新游</a><a href="" target="_blank">活动</a><a href="" target="_blank">业界</a></li>
            <li class="lm"><i>栏目</i><a href="" target="_blank">周游世界</a><a href="" target="_blank">周游世界</a><a href="" target="_blank">周游世界</a><a href="" target="_blank">专辑</a><a href="" target="_blank">专区</a></li>
            <li class="cp"><i>产品</i><a href="" target="_blank">周游世界</a><a href="" target="_blank">周游世界</a><a href="" target="_blank">周游世界</a><a href="" target="_blank">专辑</a><a href="" target="_blank">专区</a></li>
            <li class="hz"><i>合作</i><a href="" target="_blank">周游世界</a><a href="" target="_blank">周游世界</a><a href="" target="_blank">周游世界</a></li>
            <li class="fx">
                <a href="" class="logo"></a>
                <form action="/search.asp" method="get" id="Search_form" name="Search_form" target="_blank" class="">
                   <input type="text" name="keyword" id="searchBox" autocomplete="off" class="" value="输入你想搜索的游戏...">
                   <button type="submit" id="searchBtn" class="btn-submit"></button>
                </form>
                <span class="fxan">
                <!-- JiaThis Button BEGIN -->
                <div class="jiathis_style_32x32">
                    <a class="jiathis_button_qzone"></a>
                    <a class="jiathis_button_tsina"></a>
                    <a class="jiathis_button_tqq"></a>
                    <a class="jiathis_button_weixin"></a>
                    <a class="jiathis_button_renren"></a>
                    <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                </div>
                <!-- JiaThis Button END -->
                </span>
            </li>
        </ul>
    </div>
    <div class="foot-bottom">
        <span><b>友情链接：</b><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a>
        <a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a>
        <a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a>
        <a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a>
        <a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a>
        <a href="" target="_blank">手游排行榜</a>
        <p><a href="" target="_blank">关于本站</a>|<a href="" target="_blank">免责声明</a>|<a href="" target="_blank">网站合作</a>|<a href="" target="_blank">友情链接</a> </p>
        <p>Copyright © 2012 7230手机门户(www.7230.com).All Right severed 备案编号：湘ICP备14002623号</a></p>
        </span>
    </div>
</div>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/news.js"></script>
<script type="text/javascript" src="js/jquery.knob.js"></script>
<script type="text/javascript" src="js/excanvas.js"></script>
<script type="text/javascript" src="js/iepngfix_tilebg.js"></script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
</body>
</html>
