<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>专区列表</title>
<link rel="stylesheet" type="text/css" href="/public/home/7230/css/base.css"/>
<link rel="stylesheet" type="text/css" href="/public/home/7230/css/ycpd.css"/>
<link id="size-stylesheet" rel="stylesheet" type="text/css" href="" />
</head>
<body>
<div id="head">
    <div id="top">
        <img src="images/logo.jpg">
        <form action="/search.asp" method="get" id="Search_form" name="Search_form" target="_blank" class="">
           <input type="text" name="keyword" id="searchBox" autocomplete="off" class="" value="输入你想搜索的游戏...">
           <button type="submit" id="searchBtn" class="btn-submit"></button>
        </form>
    </div>
    <div id="nav">
        <ul>
            <li><a href="" target="_blank">首页</a></li>
            <li>资讯
                <span>
                    <a href="" target="_blank">新游</a>
                    <a href="" target="_blank">活动</a>
                    <a href="" target="_blank">业界</a>
                </span>
            </li>
            <li>攻略
                <span>
                    <a href="" target="_blank">网游攻略</a>
                    <a href="" target="_blank">单机攻略</a>
                </span>
            </li>
            <li>下载</li>
            <li>原创</li>
            <li>礼包</li>
            <li>测试表</li>
            <li>专题</li>
            <li>排行</li>
        </ul>
    </div>
    <p id="nav2"></p>
</div>
<div style=" clear:both"></div>
<!-----head-END----->
<div id="zixun-main">
    <p class="page-nav">当前位置：<a href="">首页</a>　0度试玩</p>
    <div id="ycpd-left">
        <div class="zqlb">
            <p class="title">热门专区<a href="" target="_blank">更多+</a></p>
            <span>
                <p class="ycwz"><a href="" target="_blank" class="pic"><img src="images/pic2.jpg"></a><a href="" target="_blank" class="tit">这是文章可是</a></p>
                <p class="ycwz"><a href="" target="_blank" class="pic"><img src="images/pic2.jpg"></a><a href="" target="_blank" class="tit">这是文章可以改写的标题</a></p>
                <p class="ycwz"><a href="" target="_blank" class="pic"><img src="images/pic2.jpg"></a><a href="" target="_blank" class="tit">这是文章可以改写的标题</a></p>   
            </span>
        </div>
        <div class="zqlb">
            <p class="title">所有专区<a href="" target="_blank">更多+</a></p>
            <span>
                <p class="ycwz"><a href="" target="_blank" class="pic"><img src="images/pic2.jpg"></a><a href="" target="_blank" class="tit">这是文章可是</a></p>
                <p class="ycwz"><a href="" target="_blank" class="pic"><img src="images/pic2.jpg"></a><a href="" target="_blank" class="tit">这是文章可以改写的标题</a></p>
                <p class="ycwz"><a href="" target="_blank" class="pic"><img src="images/pic2.jpg"></a><a href="" target="_blank" class="tit">这是文章可以改写的标题</a></p>   
                <p class="ycwz"><a href="" target="_blank" class="pic"><img src="images/pic2.jpg"></a><a href="" target="_blank" class="tit">这是文章可是</a></p>
                <p class="ycwz"><a href="" target="_blank" class="pic"><img src="images/pic2.jpg"></a><a href="" target="_blank" class="tit">这是文章可以改写的标题</a></p>
                <p class="ycwz"><a href="" target="_blank" class="pic"><img src="images/pic2.jpg"></a><a href="" target="_blank" class="tit">这是文章可以改写的标题</a></p> 
                <p class="ycwz"><a href="" target="_blank" class="pic"><img src="images/pic2.jpg"></a><a href="" target="_blank" class="tit">这是文章可是</a></p>
                <p class="ycwz"><a href="" target="_blank" class="pic"><img src="images/pic2.jpg"></a><a href="" target="_blank" class="tit">这是文章可以改写的标题</a></p>
                <p class="ycwz"><a href="" target="_blank" class="pic"><img src="images/pic2.jpg"></a><a href="" target="_blank" class="tit">这是文章可以改写的标题</a></p>   
                <p class="ycwz"><a href="" target="_blank" class="pic"><img src="images/pic2.jpg"></a><a href="" target="_blank" class="tit">这是文章可是</a></p>
                <p class="ycwz"><a href="" target="_blank" class="pic"><img src="images/pic2.jpg"></a><a href="" target="_blank" class="tit">这是文章可以改写的标题</a></p>
                <p class="ycwz"><a href="" target="_blank" class="pic"><img src="images/pic2.jpg"></a><a href="" target="_blank" class="tit">这是文章可以改写的标题</a></p> 
                <div style=" clear:both"></div>
                <!----fenye--->
                <p id="fenye">
                    <a href="" class="one">首页</a><a href="" class="prev">上一页</a>
                    <a href="">1</a><a href="" class="cur">2</a><a href="">3</a><a href="">4</a>
                    <a href="">5</a><a href="">6</a><a href="">7</a><a href="">8</a><a href="">9</a>
                    <a href="">10</a><a href="" class="next">下一页</a><a href="" class="last">尾页</a>
                </p>
                <!---fenye---->
            </span> 
        </div>
    </div>
    <!----left -END-->
    <div id="zx-right">
        <div class="recom" id="recomtab">
            <p class="title">今日推荐<a href="" target="_blank" class="more"></a></p>
            <span>
                <p class="recom-top">
                    <a href="" target="_blank" class="pic3"><img src="images/pic3.jpg"></a>
                    <b>
                        <a href="" target="_blank" class="title">放开那三国</a>
                        <i><s>评分：8.3分</s><s>卡牌游戏</s></i>
                        <i class="info">开拍游戏的时代怎能少了时代怎能少了代怎能少了时代怎...</i>
                    </b>
                </p>
                <p class="down"><a href="" class="mfxz">免费下载</a><a href="" class="glzq">攻略专区</a></p>
            </span>
        </div>
        <!---今日推荐(recommended) END---->
        
        <div class="paih" id="paihtab">
            <p class="title"><i class="cur">排行榜</i><i>最新</i></p>
            <ul class="cur ulTab">
                <li><span><a href="" target="_blank" class="pic4"><img src="images/pic3.jpg"></a><a href="" target="_blank" class="title">《叫我MT》这是游戏的标题一</a><b>RPG,动作</b><u class="demo2"><em></em><input class="knob" value="79"></u></span></li>
                <li><span><a href="" target="_blank" class="pic4"><img src="images/pic3.jpg"></a><a href="" target="_blank" class="title">《叫我MT》这是游戏的标题一</a><b>RPG,动作</b><u class="demo2"><em></em><input class="knob" value="79"></u></span></li>
                <li><span><a href="" target="_blank" class="pic4"><img src="images/pic3.jpg"></a><a href="" target="_blank" class="title">《叫我MT》这是游戏的标题一</a><b>RPG,动作</b><u class="demo2"><em></em><input class="knob" value="79"></u></span></li>
                <li><span><a href="" target="_blank" class="pic4"><img src="images/pic3.jpg"></a><a href="" target="_blank" class="title">《叫我MT》这是游戏的标题一</a><b>RPG,动作</b><u class="demo2"><em></em><input class="knob" value="79"></u></span></li>
                <li><span><a href="" target="_blank" class="pic4"><img src="images/pic3.jpg"></a><a href="" target="_blank" class="title">《叫我MT》这是游戏的标题一</a><b>RPG,动作</b><u class="demo2"><em></em><input class="knob" value="79"></u></span></li>
                <li><span><a href="" target="_blank" class="pic4"><img src="images/pic3.jpg"></a><a href="" target="_blank" class="title">《叫我MT》这是游戏的标题一</a><b>RPG,动作</b><u class="demo2"><em></em><input class="knob" value="79"></u></span></li>
                <li><span><a href="" target="_blank" class="pic4"><img src="images/pic3.jpg"></a><a href="" target="_blank" class="title">《叫我MT》这是游戏的标题一</a><b>RPG,动作</b><u class="demo2"><em></em><input class="knob" value="79"></u></span></li>
                <li><span><a href="" target="_blank" class="pic4"><img src="images/pic3.jpg"></a><a href="" target="_blank" class="title">《叫我MT》这是游戏的标题一</a><b>RPG,动作</b><u class="demo2"><em></em><input class="knob" value="79"></u></span></li>
                <li><span><a href="" target="_blank" class="pic4"><img src="images/pic3.jpg"></a><a href="" target="_blank" class="title">《叫我MT》这是游戏的标题一</a><b>RPG,动作</b><u class="demo2"><em></em><input class="knob" value="79"></u></span></li>
                <li><span><a href="" target="_blank" class="pic4"><img src="images/pic3.jpg"></a><a href="" target="_blank" class="title">《叫我MT》这是游戏的标题一</a><b>RPG,动作</b><u class="demo2"><em></em><input class="knob" value="79"></u></span></li>
            </ul>
            <ul class="ulTab">
                <li><span><a href="" target="_blank" class="pic4"><img src="images/pic3.jpg"></a><a href="" target="_blank" class="title">《叫我MT》这是游戏的标题一</a><b>RPG,动作</b><u class="demo2"><em></em><input class="knob" value="79"></u></span></li>
                <li><span><a href="" target="_blank" class="pic4"><img src="images/pic3.jpg"></a><a href="" target="_blank" class="title">《叫我MT》这是游戏的标题一</a><b>RPG,动作</b><u class="demo2"><em></em><input class="knob" value="79"></u></span></li>
                <li><span><a href="" target="_blank" class="pic4"><img src="images/pic3.jpg"></a><a href="" target="_blank" class="title">《叫我MT》这是游戏的标题一</a><b>RPG,动作</b><u class="demo2"><em></em><input class="knob" value="79"></u></span></li>
                <li><span><a href="" target="_blank" class="pic4"><img src="images/pic3.jpg"></a><a href="" target="_blank" class="title">《叫我MT》这是游戏的标题一</a><b>RPG,动作</b><u class="demo2"><em></em><input class="knob" value="79"></u></span></li>
            </ul>
        </div>
    </div>
</div>
<div style="clear:both"></div>
<div id="footer">
    <div class="foot-top">
        <ul>
            <li class="zx"><i>资讯</i><a href="" target="_blank">新游</a><a href="" target="_blank">活动</a><a href="" target="_blank">业界</a></li>
            <li class="lm"><i>栏目</i><a href="" target="_blank">周游世界</a><a href="" target="_blank">周游世界</a><a href="" target="_blank">周游世界</a><a href="" target="_blank">专辑</a><a href="" target="_blank">专区</a></li>
            <li class="cp"><i>产品</i><a href="" target="_blank">周游世界</a><a href="" target="_blank">周游世界</a><a href="" target="_blank">周游世界</a><a href="" target="_blank">专辑</a><a href="" target="_blank">专区</a></li>
            <li class="hz"><i>合作</i><a href="" target="_blank">周游世界</a><a href="" target="_blank">周游世界</a><a href="" target="_blank">周游世界</a></li>
            <li class="fx">
                <a href="" class="logo"></a>
                <form action="/search.asp" method="get" id="Search_form" name="Search_form" target="_blank" class="">
                   <input type="text" name="keyword" id="searchBox" autocomplete="off" class="" value="输入你想搜索的游戏...">
                   <button type="submit" id="searchBtn" class="btn-submit"></button>
                </form>
                <span class="fxan">
                    <!-- JiaThis Button BEGIN -->
                    <div class="jiathis_style_32x32">
                        <a class="jiathis_button_qzone"></a>
                        <a class="jiathis_button_tsina"></a>
                        <a class="jiathis_button_tqq"></a>
                        <a class="jiathis_button_weixin"></a>
                        <a class="jiathis_button_renren"></a>
                        <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                    </div>
                    <!-- JiaThis Button END -->
                </span>
            </li>
        </ul>
    </div>
    <div class="foot-bottom">
        <span>
            <b>友情链接：</b>
            <a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a>
            <a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a>
            <a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a>
            <a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a>
            <a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a>
            <a href="" target="_blank">手游排行榜</a>
            <p><a href="" target="_blank">关于本站</a>|<a href="" target="_blank">免责声明</a>|<a href="" target="_blank">网站合作</a>|<a href="" target="_blank">友情链接</a></p>
            <p>Copyright © 2012 7230手机门户(www.7230.com).All Right severed 备案编号：湘ICP备14002623号</p>
        </span>
    </div>
</div>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/news.js"></script>
<script type="text/javascript" src="js/jquery.knob.js"></script>
<script type="text/javascript" src="js/excanvas.js"></script>
<script type="text/javascript" src="js/iepngfix_tilebg.js"></script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
</body>
</html>
