<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>专区视频</title>
<link rel="stylesheet" type="text/css" href="/public/home/7230/css/base.css"/>
<link rel="stylesheet" type="text/css" href="/public/home/7230/css/zqys.css"/>
<link id="size-stylesheet" rel="stylesheet" type="text/css" href="" />
</head>

<body>

<div class="top_zq">
    <p>
        <a href=""><img src="images/logozq.jpg"> 7230手游网</a>|<a href="" target="_blank">资讯</a>|<a href="" target="_blank">攻略</a>|<a href="" target="_blank">下载</a>|<a href="" target="_blank">原创</a>|<a href="" target="_blank">礼包</a>|<a href="" target="_blank">测试表</a>|<a href="" target="_blank">专题</a>|<a href="" target="_blank">排行</a>|
    </p>
</div>
<div class="yxtj_zq">
    <p>
        <a href="" target="_blank" class="pic"><img src="images/pic3.jpg"><i>卡</i></a>
        <span class="yxbt"><a href="">这是游戏的标题</a>
        <i class="blue">标签1</i>
        <i class="green">标签签2</i>
        <i class="deepb">标签3</i>
        <i class="yellow">标签4</i></span>
        <span class="rankzq"><i class="demo3"><em></em><input class="knob" value="80"></i><s>3000</s></span>
        <span class="info">到家了放假了美女了看到你玫琳凯玫琳凯都没了打开吗V多了可没V来到美丽了放假了美女了看到你玫琳凯玫琳凯都没了打开吗了放假了美女了看到你玫琳凯玫琳凯都没了打开吗了放假了美女了看到你玫琳凯玫琳凯都没了打开吗了放假了美女了看到你玫琳凯玫琳凯都没了打开吗没V吗。</span>
    </p>
    
</div>
<div class="nav_zq">
<div>
    <span class="left">
        <a href="" target="_blank">首页</a>|
        <a href="" target="_blank">资讯</a>|
        <a href="" target="_blank">资料</a>|
        <a href="" target="_blank">攻略</a>|
        <a href="" target="_blank">问答</a>|
        <a href="" target="_blank" class="cur">视频</a>|
        <a href="" target="_blank">下载</a>|
        
    </span>
        <form action="" method="get" id="Search_form" name="Search_form" target="_blank" class="">
           <input type="text" name="keyword" id="searchBox" autocomplete="off" class="" value="输入你想搜索的游戏..." >
           <button type="submit" id="searchBtn" class="btn-submit"></button>
        </form>
    <span class="share">分享</span>
    </div>
</div>
<div id="zqmain">
  <p class="page-nav">当前位置：<a href="">首页</a>　天天风之旅攻略</p>
  <div class="zqmain-left">
      <div class="zqgl-top">
          <p><b class="blue">新手指南</b><a href="" target="_blank">新手注手注手注手注手注手注手注手注册</a><a href="" target="_blank">新手玩法</a><a href="" target="_blank">新手注册</a><a href="" target="_blank">新手玩法</a>
          <a href="" target="_blank">新手注册</a><a href="" target="_blank">新手玩法</a><a href="" target="_blank">新手注册</a><a href="" target="_blank">新手玩法</a><a href="" target="_blank">新手注册</a><a href="" target="_blank">新手玩法</a>
          <a href="" target="_blank">新手注册</a><a href="" target="_blank">新手玩法</a><a href="" target="_blank">新手注册</a></p>
          <p><b class="green">热点速递</b><a href="" target="_blank">新手注册</a><a href="" target="_blank">新手玩法</a><a href="" target="_blank">新手注册</a><a href="" target="_blank">新手玩法</a>
          <a href="" target="_blank">新手注册</a><a href="" target="_blank">新手玩法</a><a href="" target="_blank">新手注册</a><a href="" target="_blank">新手玩法</a><a href="" target="_blank">新手注册</a><a href="" target="_blank">新手玩法</a>
          <a href="" target="_blank">新手注册</a><a href="" target="_blank">新手玩法</a></p>
      </div>
      <div class="zqsp-bottom">
            <p class="title">全部视频</p>
          <ul>
              <li><a href="" target="_blank"><img src="images/pic1.jpg"><i></i></a><a href="" class="tit">愤怒的小鸟</a></li>
              <li><a href="" target="_blank"><img src="images/pic1.jpg"><i></i></a><a href="" class="tit">愤怒的小鸟</a></li>
              <li><a href="" target="_blank"><img src="images/pic1.jpg"><i></i></a><a href="" class="tit">愤怒的小鸟</a></li>
              <li><a href="" target="_blank"><img src="images/pic1.jpg"><i></i></a><a href="" class="tit">愤怒的小鸟</a></li>
              <li><a href="" target="_blank"><img src="images/pic1.jpg"><i></i></a><a href="" class="tit">愤怒的小鸟</a></li>
              <li><a href="" target="_blank"><img src="images/pic1.jpg"><i></i></a><a href="" class="tit">愤怒的小鸟</a></li>
              <li><a href="" target="_blank"><img src="images/pic1.jpg"><i></i></a><a href="" class="tit">愤怒的小鸟</a></li>
              <li><a href="" target="_blank"><img src="images/pic1.jpg"><i></i></a><a href="" class="tit">愤怒的小鸟</a></li>
              <li><a href="" target="_blank"><img src="images/pic1.jpg"><i></i></a><a href="" class="tit">愤怒的小鸟</a></li>
              <li><a href="" target="_blank"><img src="images/pic1.jpg"><i></i></a><a href="" class="tit">愤怒的小鸟</a></li>
              <li><a href="" target="_blank"><img src="images/pic1.jpg"><i></i></a><a href="" class="tit">愤怒的小鸟</a></li>
              <li><a href="" target="_blank"><img src="images/pic1.jpg"><i></i></a><a href="" class="tit">愤怒的小鸟</a></li>
              <li><a href="" target="_blank"><img src="images/pic1.jpg"><i></i></a><a href="" class="tit">愤怒的小鸟</a></li>
              <li><a href="" target="_blank"><img src="images/pic1.jpg"><i></i></a><a href="" class="tit">愤怒的小鸟</a></li>
              <li><a href="" target="_blank"><img src="images/pic1.jpg"><i></i></a><a href="" class="tit">愤怒的小鸟</a></li>
          </ul>
        <!----fenye--->
        <p id="fenye"><a href="" class="one">首页</a><a href="" class="prev">上一页</a><a href="">1</a><a href="" class="cur">2</a><a href="">3</a><a href="">4</a><a href="">5</a><a href="">6</a><a href="">7</a>
        <a href="">8</a><a href="">9</a><a href="">10</a><a href="" class="next">下一页</a><a href="" class="last">尾页</a></p>
        <!---fenye---->
      </div>
  </div>
  <!-----右边开始----->
  <div class="zqmain-right" id="nm-right">
  <!----游戏下载---->
  <p class="game_down">
      <b>游戏下载</b>
      <a href="" class="andro">安卓版</a><a href="" class="apple">苹果版</a><a href="" class="pc">电脑版</a>
  </p>
  <div class="xslb_zq zdcd">
    <b>新手礼包<i class="zqzd"></i></b>
    <div class="zdcd-m">
        <span class="yxtz">该游戏目前没有可用礼包，点击查看更多<a href="" target="_blank">新手礼包</a></span>
        <p><a href="" target="_blank">愤怒的小鸟圣诞礼包</a><a href="" target="_blank" class="lq">领取</a></p>
        <p><a href="" target="_blank">愤怒的小鸟圣诞礼包</a><a href="" target="_blank" class="yd">预定</a></p>
        <p><a href="" target="_blank">愤怒的小鸟圣诞礼包</a><a href="" target="_blank" class="th">淘号</a></p>
        <p><a href="" target="_blank">愤怒的小鸟圣诞礼包</a><a href="" target="_blank" class="lq">领取</a></p>
        <p><a href="" target="_blank">愤怒的小鸟圣诞礼包</a><a href="" target="_blank" class="yd">预定</a></p>
    </div>
  </div>
  <div class="xslb_kfb zdcd">
    <b>开服表<i class="zqzd"></i></b>
    <div class="zdcd-m">
        <span class="yxtz">该游戏目前没有可用礼包，点击查看更多<a href="" target="_blank">开服表</a></span>
        <p><a href="" target="_blank">愤怒的小鸟</a><i>11.03</i><a href="" target="_blank">月光林地</a><a href="" target="_blank" class="zq">专区</a></p>
        <p><a href="" target="_blank">愤怒的小鸟</a><i>11.03</i><a href="" target="_blank">月光林地</a><a href="" target="_blank" class="zq">专区</a></p>
        <p><a href="" target="_blank">愤怒的小鸟</a><i>11.03</i><a href="" target="_blank">月光林地</a><a href="" target="_blank" class="zq">专区</a></p>
        <p><a href="" target="_blank">愤怒的小鸟</a><i>11.03</i><a href="" target="_blank">月光林地</a><a href="" target="_blank" class="zq">专区</a></p>
        <p><a href="" target="_blank">愤怒的小鸟</a><i>11.03</i><a href="" target="_blank">月光林地</a><a href="" target="_blank" class="zq">专区</a></p>
    </div>
  </div>
<!---最新入库游戏(new games)---->
  <div class="newgame">
    <p class="title">最新入库游戏<a href="" target="_blank" class="more"></a></p>
    <ul>
        <li><a href="" target="_blank" class="pic3"><img src="images/pic3.jpg"></a><a href="" target="_blank" class="title">叫我MT是游戏的标题一</a></li>
        <li><a href="" target="_blank" class="pic3"><img src="images/pic3.jpg"></a><a href="" target="_blank" class="title">叫我MT是游戏的标题一</a></li>
        <li><a href="" target="_blank" class="pic3"><img src="images/pic3.jpg"></a><a href="" target="_blank" class="title">叫我MT是游戏的标题一</a></li>
        <li><a href="" target="_blank" class="pic3"><img src="images/pic3.jpg"></a><a href="" target="_blank" class="title">叫我MT是游戏的标题一</a></li>
        <li><a href="" target="_blank" class="pic3"><img src="images/pic3.jpg"></a><a href="" target="_blank" class="title">叫我MT是游戏的标题一</a></li>
        <li><a href="" target="_blank" class="pic3"><img src="images/pic3.jpg"></a><a href="" target="_blank" class="title">叫我MT是游戏的标题一</a></li>
        <li><a href="" target="_blank" class="pic3"><img src="images/pic3.jpg"></a><a href="" target="_blank" class="title">叫我MT是游戏的标题一</a></li>
        <li><a href="" target="_blank" class="pic3"><img src="images/pic3.jpg"></a><a href="" target="_blank" class="title">叫我MT是游戏的标题一</a></li>
        <li><a href="" target="_blank" class="pic3"><img src="images/pic3.jpg"></a><a href="" target="_blank" class="title">叫我MT是游戏的标题一</a></li>
        <li><a href="" target="_blank" class="pic3"><img src="images/pic3.jpg"></a><a href="" target="_blank" class="title">叫我MT是游戏的标题一</a></li>
        <li><a href="" target="_blank" class="pic3"><img src="images/pic3.jpg"></a><a href="" target="_blank" class="title">叫我MT是游戏的标题一</a></li>
        <li><a href="" target="_blank" class="pic3"><img src="images/pic3.jpg"></a><a href="" target="_blank" class="title">叫我MT是游戏的标题一</a></li>
    </ul>
 </div>
</div>
</div>
<!----footer---->
<div style="clear:both"></div>
<div id="footer">
    <div class="foot-top">
        <ul>
            <li class="zx"><i>资讯</i><a href="" target="_blank">新游</a><a href="" target="_blank">活动</a><a href="" target="_blank">业界</a></li>
            <li class="lm"><i>栏目</i><a href="" target="_blank">周游世界</a><a href="" target="_blank">周游世界</a><a href="" target="_blank">周游世界</a><a href="" target="_blank">专辑</a><a href="" target="_blank">专区</a></li>
            <li class="cp"><i>产品</i><a href="" target="_blank">周游世界</a><a href="" target="_blank">周游世界</a><a href="" target="_blank">周游世界</a><a href="" target="_blank">专辑</a><a href="" target="_blank">专区</a></li>
            <li class="hz"><i>合作</i><a href="" target="_blank">周游世界</a><a href="" target="_blank">周游世界</a><a href="" target="_blank">周游世界</a></li>
            <li class="fx">
                <a href="" class="logo"></a>
                <form action="/search.asp" method="get" id="Search_form" name="Search_form" target="_blank" class="">
                   <input type="text" name="keyword" id="searchBox" autocomplete="off" class="" value="输入你想搜索的游戏...">
                   <button type="submit" id="searchBtn" class="btn-submit"></button>
                </form>
                <span class="fxan">
                <!-- JiaThis Button BEGIN -->
                <div class="jiathis_style_32x32">
                    <a class="jiathis_button_qzone"></a>
                    <a class="jiathis_button_tsina"></a>
                    <a class="jiathis_button_tqq"></a>
                    <a class="jiathis_button_weixin"></a>
                    <a class="jiathis_button_renren"></a>
                    <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                </div>
                <!-- JiaThis Button END -->
                </span>
            </li>
        </ul>
    </div>
    <div class="foot-bottom">
        <span><b>友情链接：</b><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a>
        <a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a>
        <a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a>
        <a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a>
        <a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a>
        <a href="" target="_blank">手游排行榜</a>
        <p><a href="" target="_blank">关于本站</a>|<a href="" target="_blank">免责声明</a>|<a href="" target="_blank">网站合作</a>|<a href="" target="_blank">友情链接</a> </p>
        <p>Copyright © 2012 7230手机门户(www.7230.com).All Right severed 备案编号：湘ICP备14002623号</a></p>
        </span>
    </div>
</div>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/news.js"></script>
<script type="text/javascript" src="js/jquery.knob.js"></script>
<script type="text/javascript" src="js/excanvas.js"></script>
<script type="text/javascript" src="js/iepngfix_tilebg.js"></script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
</body>
</html>
