<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>专区首页</title>
<link rel="stylesheet" type="text/css" href="/public/home/7230/css/base.css" />
<link rel="stylesheet" type="text/css" href="/public/home/7230/css/zq.css" />
</head>

<body>

<div class="top_zq">
    <p>
        <a href=""><img src="images/logozq.jpg"> 7230手游网</a>|<a href="" target="_blank">资讯</a>|<a href="" target="_blank">攻略</a>|<a href="" target="_blank">下载</a>|<a href="" target="_blank">原创</a>|<a href="" target="_blank">礼包</a>|<a href="" target="_blank">测试表</a>|<a href="" target="_blank">专题</a>|<a href="" target="_blank">排行</a>|
    </p>
</div>
<div class="yxtj_zq">
    <p>
        <a href="" target="_blank" class="pic"><img src="images/pic3.jpg"><i>卡</i></a>
        <span class="yxbt"><a href="">这是游戏的标题</a>
        <i class="blue">标签1</i>
        <i class="green">标签签2</i>
        <i class="deepb">标签3</i>
        <i class="yellow">标签4</i></span>
        <span class="rankzq"><i class="demo3"><em></em><input class="knob" value="80"></i><s>3000</s></span>
        <span class="info">到家了放假了美女了看到你玫琳凯玫琳凯都没了打开吗V多了可没V来到美丽了放假了美女了看到你玫琳凯玫琳凯都没了打开吗了放假了美女了看到你玫琳凯玫琳凯都没了打开吗了放假了美女了看到你玫琳凯玫琳凯都没了打开吗了放假了美女了看到你玫琳凯玫琳凯都没了打开吗没V吗。</span>
    </p>
    
</div>
<div class="nav_zq">
<div>
	<div class="dragable" widget="menus">
    <span class="left">
        <a href="../" target="_blank" class="cur">首页</a>
        <volist name="menus" id="v">
        |<a href="{$v.url_token}" target="_blank">{$v.title}</a>
        </volist>
        <!--a href="" target="_blank">资料</a>|
        <a href="" target="_blank">攻略</a>|
        <a href="" target="_blank">问答</a>|
        <a href="" target="_blank">视频</a-->     
    </span>
    </div>
        <form action="" method="get" id="Search_form" name="Search_form" target="_blank" class="">
           <input type="text" name="keyword" id="searchBox" autocomplete="off" class="" value="输入你想搜索的游戏..." >
           <button type="submit" id="searchBtn" class="btn-submit"></button>
        </form>
    <span class="share">分享</span>
    </div>
</div>
<div id="zqmain">
  <div class="zqmain-left">
      <!---图文推荐部分----->
      <div class="bigpic">
          <div class="left">
              <a href="" target="_blank" class="pic"><img src="images/pic1.jpg"><s>2014十大游戏景点介绍</s><i></i></a>
              <p><b class="blue">新手指南</b><a href="" target="_blank">新手注册</a><a href="" target="_blank">新手玩法</a><a href="" target="_blank">新手注册</a><a href="" target="_blank">新手玩法</a>
              <a href="" target="_blank">新手注册</a><a href="" target="_blank">新手玩法</a><a href="" target="_blank">新手注册</a></p>
              <p><b class="green">高手进阶</b><a href="" target="_blank">新手注册</a><a href="" target="_blank">新手玩法</a><a href="" target="_blank">新手注册</a><a href="" target="_blank">新手玩法</a><a href="" target="_blank">新手注册</a><a href="" target="_blank">新手玩法</a></p>
          </div>
          <div class="right">
          <p><a href="" target="_blank" class="headtit">这是第一条游戏新闻标题</a><span><a href="" target="_blank">[这是第二条有戏的标题]</a><a href="" target="_blank">[这是第二条有戏的标题]</a></span>
          <a href="" target="_blank" class="headtit">这是第一条游戏新闻标题</a><span><a href="" target="_blank">[这是第二条有戏的标题]</a><a href="" target="_blank">[这是第二条有戏的标题]</a></span></p>
          <p class="news"><a href="" target="_blank"><b>[手游]</b>神奇宝贝降临《口袋妖怪坏》美区上线啦！</a><a href="" target="_blank"><b>[手游]</b>神奇宝贝降临《口袋妖怪坏》美区上线啦！</a>
          <a href="" target="_blank"><b>[手游]</b>神奇宝贝奇宝贝奇宝贝奇宝贝奇宝贝奇宝贝奇宝贝奇宝贝奇宝贝奇宝贝降临《口袋妖怪坏》美区上线啦！</a><a href="" target="_blank"><b>[手游]</b>神奇宝贝降临《口袋妖怪坏》美区上线啦！</a>
          <a href="" target="_blank"><b>[手游]</b>神奇宝贝降临《口袋妖怪坏》美区上线啦！</a><a href="" target="_blank"><b>[手游]</b>神奇宝贝降临《口袋妖怪坏》美区上线啦！</a>
          <a href="" target="_blank"><b>[手游]</b>神奇宝贝降临《口袋妖怪坏》美区上线啦！</a><a href="" target="_blank"><b>[手游]</b>神奇宝贝降临《口袋妖怪坏》美区上线啦！</a></p>
          </div>
      </div>
     <div class="yxgl" id="lunbo">
          <p class="title"><i></i>游戏攻略<a href="" target="_blank" class="more"></a></p>
          <p class="tptj"><span><a href="" target="_blank"><img src="images/pic1.jpg"></a><a href="" target="_blank" class="tit">这是游戏的标题</a></span>
          <span><a href="" target="_blank"><img src="images/pic1.jpg"></a><a href="" target="_blank" class="tit">这是游戏是游戏是游戏是游戏是游戏是游戏的标题</a></span>
          <span><a href="" target="_blank"><img src="images/pic1.jpg"></a><a href="" target="_blank" class="tit">这是游戏的标题</a></span></p>
          <ul>
              <li><i>11-01</i><a href="" target="_blank"><b>[单机] </b>这是标题这是标题这是标题这是标题这是标题</a></li>
              <li><i>11-01</i><a href="" target="_blank"><b>[单机] </b>这是标题这是标题这是标题这是标题这是标题</a></li>
              <li><i>11-01</i><a href="" target="_blank"><b>[单机] </b>这是标题这是标题这是标题这是标题这是标题</a></li>
              <li><i>11-01</i><a href="" target="_blank"><b>[单机] </b>这是标题这是标题这是标题这是标题这是标题</a></li>
              <li><i>11-01</i><a href="" target="_blank"><b>[单机] </b>这是标题这是标题这是标题这是标题这是标题</a></li>
              <li><i>11-01</i><a href="" target="_blank"><b>[单机] </b>这是标题这是标题这是标标题这是标题这是标题这是标题这是标题</a></li>
              <li><i>11-01</i><a href="" target="_blank"><b>[单机] </b>这是标题这是标题这是标题这是标题这是标题</a></li>
              <li><i>11-01</i><a href="" target="_blank"><b>[单机] </b>这是标题这是标题这是标题这是标题这是标题</a></li>
              <li><i>11-01</i><a href="" target="_blank"><b>[单机] </b>这是标题这是标题这是标题这是标题这是标题</a></li>
              <li><i>11-01</i><a href="" target="_blank"><b>[单机] </b>这是标题这是标题这是标题这是标题这是标题</a></li>
          </ul>
     </div> 
     <div class="yxpc" id="lunbo">
          <p class="title"><i></i>游戏评测<a href="" target="_blank" class="more"></a></p>
          <a href="" target="_blank" class="pic"><img src="images/pic1.jpg"><s>2014十大游戏景点介绍</s><i></i></a>
          <span><a href="" target="_blank">《爸爸去哪儿2》评测：快来和星爸萌娃一起跑酷一下！</a><i class="info">数据库库看看看看老师看了看了打开了电视米兰昆德拉发生了来了， 离开了大家佛罗
          伦萨队开了大家佛罗伦萨开库看看看看老师看了看了打开了电视米兰昆德拉发生了来了，昆德拉发生了来了， 离开了大家佛罗伦萨队开了大家佛罗伦萨开了大家佛罗伦萨开了大家佛罗伦萨开了大家佛罗伦萨省老师。</i></span>
     </div> 
     <div class="yxgl" id="lunbo">
          <p class="title"><i></i>游戏问答<a href="" target="_blank" class="more"></a></p>
          <ul>
              <li><i>11-01</i><a href="" target="_blank"><b>[单机] </b>这是标题这是标题这是标题这是标题这是标题</a></li>
              <li><i>11-01</i><a href="" target="_blank"><b>[单机] </b>这是标题这是标题这是标题这是标题这是标题</a></li>
              <li><i>11-01</i><a href="" target="_blank"><b>[单机] </b>这是标题这是标题这是标题这是标题这是标题</a></li>
              <li><i>11-01</i><a href="" target="_blank"><b>[单机] </b>这是标题这是标题这是标题这是标题这是标题</a></li>
              <li><i>11-01</i><a href="" target="_blank"><b>[单机] </b>这是标题这是标题这是标题这是标题这是标题</a></li>
              <li><i>11-01</i><a href="" target="_blank"><b>[单机] </b>这是标题这是标题这是标标题这是标题这是标题这是标题这是标题</a></li>
              <li><i>11-01</i><a href="" target="_blank"><b>[单机] </b>这是标题这是标题这是标题这是标题这是标题</a></li>
              <li><i>11-01</i><a href="" target="_blank"><b>[单机] </b>这是标题这是标题这是标题这是标题这是标题</a></li>
              <li><i>11-01</i><a href="" target="_blank"><b>[单机] </b>这是标题这是标题这是标题这是标题这是标题</a></li>
              <li><i>11-01</i><a href="" target="_blank"><b>[单机] </b>这是标题这是标题这是标题这是标题这是标题</a></li>
          </ul>
     </div> 
     <!-----游戏资料----->
    <div class="yxzl" id="lunbo">
        <p class="title"><i></i>游戏资料<a href="" target="_blank" class="more"></a></p>
        <div class="yxzl-m">
            <div class="nrmain">
              <span><b>角色图鉴</b><em>联盟</em><i class="cur">骑士</i><i>战士</i><i>法师</i><i>治疗</i><i>远程</i><em>部落</em><i>骑士</i><i>战士</i><i>法师</i><i>治疗</i><i>远程</i></span>
                  <ul class="cur">
                      <li><a href="" target="_blank"><img src="images/pic3.jpg"></a><a href="" target="_blank" class="tit">人物名称</a></li>
                      <li><a href="" target="_blank"><img src="images/pic3.jpg"></a><a href="" target="_blank" class="tit">人物名称</a></li>
                      <li><a href="" target="_blank"><img src="images/pic3.jpg"></a><a href="" target="_blank" class="tit">人物名称</a></li>
                      <li><a href="" target="_blank"><img src="images/pic3.jpg"></a><a href="" target="_blank" class="tit">人物名称</a></li>
                      <li><a href="" target="_blank"><img src="images/pic3.jpg"></a><a href="" target="_blank" class="tit">人物名称</a></li>
                      <li><a href="" target="_blank"><img src="images/pic3.jpg"></a><a href="" target="_blank" class="tit">人物名称</a></li>
                      <li><a href="" target="_blank"><img src="images/pic3.jpg"></a><a href="" target="_blank" class="tit">人物名称</a></li>
                      <li><a href="" target="_blank"><img src="images/pic3.jpg"></a><a href="" target="_blank" class="tit">人物名称</a></li>
                      <li><a href="" target="_blank"><img src="images/pic3.jpg"></a><a href="" target="_blank" class="tit">人物名称</a></li>
                      <li><a href="" target="_blank"><img src="images/pic3.jpg"></a><a href="" target="_blank" class="tit">人物名称</a></li>
                      <li><a href="" target="_blank"><img src="images/pic3.jpg"></a><a href="" target="_blank" class="tit">人物名称</a></li>
                      <li><a href="" target="_blank"><img src="images/pic3.jpg"></a><a href="" target="_blank" class="tit">人物名称</a></li>
                  </ul>
            </div>
            <div class="nrmain">
              <span><b>角色图鉴</b><em>联盟</em><i class="cur">骑士</i><i>战士</i><i>法师</i><i>治疗</i><i>远程</i><em>部落</em><i>骑士</i><i>战士</i><i>法师</i><i>治疗</i><i>远程</i></span>
              <ul class="cur">
                  <li><a href="" target="_blank"><img src="images/pic3.jpg"></a><a href="" target="_blank" class="tit">人物名称</a></li>
                  <li><a href="" target="_blank"><img src="images/pic3.jpg"></a><a href="" target="_blank" class="tit">人物名称</a></li>
                  <li><a href="" target="_blank"><img src="images/pic3.jpg"></a><a href="" target="_blank" class="tit">人物名称</a></li>
                  <li><a href="" target="_blank"><img src="images/pic3.jpg"></a><a href="" target="_blank" class="tit">人物名称</a></li>
                  <li><a href="" target="_blank"><img src="images/pic3.jpg"></a><a href="" target="_blank" class="tit">人物名称</a></li>
              </ul>
            </div>
            <div class="nrmain">
              <span><b>角色图鉴</b><em>联盟</em><i class="cur">骑士</i><i>战士</i><i>法师</i><i>治疗</i><i>远程</i><em>部落</em><i>骑士</i><i>战士</i><i>法师</i><i>治疗</i><i>远程</i></span>
              <ul class="cur">
                  <li><a href="" target="_blank"><img src="images/pic3.jpg"></a><a href="" target="_blank" class="tit">人物名称</a></li>
                  <li><a href="" target="_blank"><img src="images/pic3.jpg"></a><a href="" target="_blank" class="tit">人物名称</a></li>
                  <li><a href="" target="_blank"><img src="images/pic3.jpg"></a><a href="" target="_blank" class="tit">人物名称</a></li>
                  <li><a href="" target="_blank"><img src="images/pic3.jpg"></a><a href="" target="_blank" class="tit">人物名称</a></li>
                  <li><a href="" target="_blank"><img src="images/pic3.jpg"></a><a href="" target="_blank" class="tit">人物名称</a></li>
              </ul>
            </div>
        </div>
    </div>  
    <!----关卡设置---->
     <div class="gksz" id="lunbo">
          <p class="title"><i></i>关卡设置<a href="" target="_blank" class="more"></a></p>
          <span><b>第一章节</b><i><a href="" target="_blank">第一关</a><a href="" target="_blank">第二关</a><a href="" target="_blank">第三关</a><a href="" target="_blank">第四关</a>
          <a href="" target="_blank">第五关</a><a href="" target="_blank">第六关</a><a href="" target="_blank">第七关</a><a href="" target="_blank">第八关</a>
          <a href="" target="_blank">第一关</a><a href="" target="_blank">第二关</a><a href="" target="_blank">第三关</a><a href="" target="_blank">第四关</a>
          <a href="" target="_blank">第五关</a><a href="" target="_blank">第六关</a><a href="" target="_blank">第七关</a><a href="" target="_blank">第八关</a>
          <a href="" target="_blank">第一关</a><a href="" target="_blank">第二关</a><a href="" target="_blank">第三关</a><a href="" target="_blank">第四关</a>
          <a href="" target="_blank">第五关</a><a href="" target="_blank">第六关</a><a href="" target="_blank">第七关</a><a href="" target="_blank">第八关</a></i></span>
          <span><b>第二章节</b><i><a href="" target="_blank">第一关</a><a href="" target="_blank">第二关</a><a href="" target="_blank">第三关</a><a href="" target="_blank">第四关</a>
          <a href="" target="_blank">第五关</a><a href="" target="_blank">第六关</a><a href="" target="_blank">第七关</a><a href="" target="_blank">第八关</a>
          <a href="" target="_blank">第一关</a><a href="" target="_blank">第二关</a><a href="" target="_blank">第三关</a><a href="" target="_blank">第四关</a>
          <a href="" target="_blank">第五关</a><a href="" target="_blank">第六关</a><a href="" target="_blank">第七关</a><a href="" target="_blank">第八关</a>
          <a href="" target="_blank">第一关</a><a href="" target="_blank">第二关</a><a href="" target="_blank">第三关</a><a href="" target="_blank">第四关</a>
          <a href="" target="_blank">第五关</a><a href="" target="_blank">第六关</a><a href="" target="_blank">第七关</a><a href="" target="_blank">第八关</a></i></span>
          <span><b>第二章节</b><i><a href="" target="_blank">第一关</a><a href="" target="_blank">第二关</a><a href="" target="_blank">第三关</a><a href="" target="_blank">第四关</a>
          <a href="" target="_blank">第五关</a><a href="" target="_blank">第六关</a><a href="" target="_blank">第七关</a><a href="" target="_blank">第八关</a>
          <a href="" target="_blank">第一关</a><a href="" target="_blank">第二关</a><a href="" target="_blank">第三关</a><a href="" target="_blank">第四关</a>
          <a href="" target="_blank">第五关</a><a href="" target="_blank">第六关</a><a href="" target="_blank">第七关</a><a href="" target="_blank">第八关</a></i></span>
     </div> 
    <!----关卡设置---->
     <div class="yxsp" id="lunbo">
          <p class="title"><i></i>游戏视频<a href="" target="_blank" class="more"></a></p>
          <p class="tptj">
              <span><a href="" target="_blank"><img src="images/pic1.jpg"></a><a href="" target="_blank" class="tit">这是游戏的标题</a><i></i></span>
              <span><a href="" target="_blank"><img src="images/pic1.jpg"></a><a href="" target="_blank" class="tit">这是游戏是游戏是游戏是游戏是游戏是游戏的标题</a><i></i></span>
              <span><a href="" target="_blank"><img src="images/pic1.jpg"></a><a href="" target="_blank" class="tit">这是游戏的标题</a><i></i></span>
          </p>
     </div> 
  </div>
  <!-----右边开始----->
  <div class="zqmain-right" id="nm-right">
  <!----游戏下载---->
  <div class="zqmain-rm">
      <p class="game_down">
          <b>游戏下载</b>
          <a href="" class="andro">安卓版</a><a href="" class="apple">苹果版</a><a href="" class="pc">电脑版</a>
      </p>
   </div>
      <div class="xslb_zq zdcd">
        <b>新手礼包<i class="zqzd"></i></b>
        <div class="zdcd-m">
            <span class="yxtz">该游戏目前没有可用礼包，点击查看更多<a href="" target="_blank">新手礼包</a></span>
            <p><a href="" target="_blank">愤怒的小鸟圣诞礼包</a><a href="" target="_blank" class="lq">领取</a></p>
            <p><a href="" target="_blank">愤怒的小鸟圣诞礼包</a><a href="" target="_blank" class="yd">预定</a></p>
            <p><a href="" target="_blank">愤怒的小鸟圣诞礼包</a><a href="" target="_blank" class="th">淘号</a></p>
            <p><a href="" target="_blank">愤怒的小鸟圣诞礼包</a><a href="" target="_blank" class="lq">领取</a></p>
            <p><a href="" target="_blank">愤怒的小鸟圣诞礼包</a><a href="" target="_blank" class="yd">预定</a></p>
        </div>
      </div>

      <div class="xslb_kfb zdcd">
        <b>开服表<i class="zqzd"></i></b>
        <div class="zdcd-m">
            <span class="yxtz">该游戏目前没有可用礼包，点击查看更多<a href="" target="_blank">开服表</a></span>
            <p><a href="" target="_blank">愤怒的小鸟</a><i>11.03</i><a href="" target="_blank">月光林地</a><a href="" target="_blank" class="zq">专区</a></p>
            <p><a href="" target="_blank">愤怒的小鸟</a><i>11.03</i><a href="" target="_blank">月光林地</a><a href="" target="_blank" class="zq">专区</a></p>
            <p><a href="" target="_blank">愤怒的小鸟</a><i>11.03</i><a href="" target="_blank">月光林地</a><a href="" target="_blank" class="zq">专区</a></p>
            <p><a href="" target="_blank">愤怒的小鸟</a><i>11.03</i><a href="" target="_blank">月光林地</a><a href="" target="_blank" class="zq">专区</a></p>
            <p><a href="" target="_blank">愤怒的小鸟</a><i>11.03</i><a href="" target="_blank">月光林地</a><a href="" target="_blank" class="zq">专区</a></p>
        </div>
      </div>

<!---最新入库游戏(new games)---->
  <div class="newgame" id="zq-newgame">
    <p class="title">最新入库游戏<a href="" target="_blank" class="more"></a></p>
    <ul>
        <li><a href="" target="_blank" class="pic3"><img src="images/pic3.jpg"></a><a href="" target="_blank" class="title">叫我MT是游戏的标题一</a></li>
        <li><a href="" target="_blank" class="pic3"><img src="images/pic3.jpg"></a><a href="" target="_blank" class="title">叫我MT是游戏的标题一</a></li>
        <li><a href="" target="_blank" class="pic3"><img src="images/pic3.jpg"></a><a href="" target="_blank" class="title">叫我MT是游戏的标题一</a></li>
        <li><a href="" target="_blank" class="pic3"><img src="images/pic3.jpg"></a><a href="" target="_blank" class="title">叫我MT是游戏的标题一</a></li>
        <li><a href="" target="_blank" class="pic3"><img src="images/pic3.jpg"></a><a href="" target="_blank" class="title">叫我MT是游戏的标题一</a></li>
        <li><a href="" target="_blank" class="pic3"><img src="images/pic3.jpg"></a><a href="" target="_blank" class="title">叫我MT是游戏的标题一</a></li>
        <li><a href="" target="_blank" class="pic3"><img src="images/pic3.jpg"></a><a href="" target="_blank" class="title">叫我MT是游戏的标题一</a></li>
        <li><a href="" target="_blank" class="pic3"><img src="images/pic3.jpg"></a><a href="" target="_blank" class="title">叫我MT是游戏的标题一</a></li>
        <li><a href="" target="_blank" class="pic3"><img src="images/pic3.jpg"></a><a href="" target="_blank" class="title">叫我MT是游戏的标题一</a></li>
        <li><a href="" target="_blank" class="pic3"><img src="images/pic3.jpg"></a><a href="" target="_blank" class="title">叫我MT是游戏的标题一</a></li>
        <li><a href="" target="_blank" class="pic3"><img src="images/pic3.jpg"></a><a href="" target="_blank" class="title">叫我MT是游戏的标题一</a></li>
        <li><a href="" target="_blank" class="pic3"><img src="images/pic3.jpg"></a><a href="" target="_blank" class="title">叫我MT是游戏的标题一</a></li>
    </ul>
 </div>
</div>
</div>
<!----footer---->
<div style="clear:both"></div>
<div id="footer">
    <div class="foot-top">
        <ul>
            <li class="zx"><i>资讯</i><a href="" target="_blank">新游</a><a href="" target="_blank">活动</a><a href="" target="_blank">业界</a></li>
            <li class="lm"><i>栏目</i><a href="" target="_blank">周游世界</a><a href="" target="_blank">周游世界</a><a href="" target="_blank">周游世界</a><a href="" target="_blank">专辑</a><a href="" target="_blank">专区</a></li>
            <li class="cp"><i>产品</i><a href="" target="_blank">周游世界</a><a href="" target="_blank">周游世界</a><a href="" target="_blank">周游世界</a><a href="" target="_blank">专辑</a><a href="" target="_blank">专区</a></li>
            <li class="hz"><i>合作</i><a href="" target="_blank">周游世界</a><a href="" target="_blank">周游世界</a><a href="" target="_blank">周游世界</a></li>
            <li class="fx">
                <a href="" class="logo"></a>
                <form action="/search.asp" method="get" id="Search_form" name="Search_form" target="_blank" class="">
                   <input type="text" name="keyword" id="searchBox" autocomplete="off" class="" value="输入你想搜索的游戏...">
                   <button type="submit" id="searchBtn" class="btn-submit"></button>
                </form>
                <span class="fxan">
                <!-- JiaThis Button BEGIN -->
                <div class="jiathis_style_32x32">
                    <a class="jiathis_button_qzone"></a>
                    <a class="jiathis_button_tsina"></a>
                    <a class="jiathis_button_tqq"></a>
                    <a class="jiathis_button_weixin"></a>
                    <a class="jiathis_button_renren"></a>
                    <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                </div>
                <!-- JiaThis Button END -->
                </span>
            </li>
        </ul>
    </div>
    <div class="foot-bottom">
        <span><b>友情链接：</b><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a>
        <a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a>
        <a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a>
        <a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a>
        <a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a>
        <a href="" target="_blank">手游排行榜</a>
        <p><a href="" target="_blank">关于本站</a>|<a href="" target="_blank">免责声明</a>|<a href="" target="_blank">网站合作</a>|<a href="" target="_blank">友情链接</a> </p>
        <p>Copyright © 2012 7230手机门户(www.7230.com).All Right severed 备案编号：湘ICP备14002623号</a></p>
        </span>
    </div>
</div>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/news.js"></script>
<script type="text/javascript" src="js/jquery.knob.js"></script>
<script type="text/javascript" src="js/excanvas.js"></script>
<script type="text/javascript" src="js/iepngfix_tilebg.js"></script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
</body>
</html>
