<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<include file="Home@7230mobile/Public/head"/>
</head>
<body>
<!-- 头部 -->
<script type="text/javascript" src="__PUBLIC__/Home/7230mobile/js/global_ad.js"></script>
<!--#include virtual="/head.html"-->
<!-- /头部 -->
<!-- 主体 -->
<include file="Home@7230mobile/Public/body"/>
<!-- /主体 -->
<!-- 底部 -->
<!-- 底部 -->
<!--#include virtual="/foot.html"-->
<!-- /底部 -->
<block name="script"></block>
</body>
</html>
