<if condition="!empty($webSiteList)">
<ul class="art-list company">
	<volist name="webSiteList" id="website">
		<?php 
			if(!empty($website['path_detail'])){
				$path_detail = $website['path_detail'];
				$path_url = str_replace('{id}',$website['id'],$path_detail);
			}else{
				$path_url = 'website/'.$website['id'];
			}
			$path_url = $path_url.'.html';
		?>
		<li>
			<a href="{:C('MOBILE_STATIC_URL')}/{:$path_url}">{:$website['title']}</a>
			<if condition="$i elt 3"><span></span></if>
		</li>
	</volist>
</ul>
</if>