<extend name="Home@qilimobile/Base/common" />

<block name="body">
<include file="Home@qilimobile/Base/nav" />
<style>html,.nofind-btn,.mui-content{background-color:#ffffff;}</style>
<div class="mui-content">
	<div class="nofind-pic" style="padding:0"><img src="__PUBLIC__/Home/qilimobile/img/nofind.jpg"></div>
    <p class="nofind-btn"><a href="/" class="fresh">首页</a><a href="javascript:history.go(-1)" class="back">返回</a></p>
</div>
</block>

<block name="script">
<script src="__PUBLIC__/Home/qilimobile/js/index.js"></script>
</block>