<!DOCTYPE html>
<html>
<head>
    <include file="Home@qbaobei/Public/Teach/headList" />
    <!---style--->
    <block name="style"></block>
    <!---style--->
</head>
<body>
<!---头部--->
<include file="Home@qbaobei/Public/Teach/header" />
<!---头部END--->
<!---导航-->
<include file="Home@qbaobei/Public/Teach/nav" />
<!---导航END--->
<!---body--->
<include file="Home@qbaobei/Public/body" />
<!---bodyEND--->
<!---友情链接--->

<!---友情链接END--->
<!---脚部--->
<include file="Home@qbaobei/Public/Teach/listFooter" />

<!---脚部END--->

<!---JS--->
<block name="script"></block>
<!---JS--->
</body>
</html>