
<!DOCTYPE html>
<html>
<head>
    <include file="Home@afsmobile/Public/head"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Zq/afsmobile/css/yxzq.css" />
</head>

<body>
<header id="inpage_head">
    <span class="back"></span>
    <b>{$batch['title']}</b>
    <em id="head-nav"></em>
</header>
<!--弹出菜单-->
<div id="case-main">
    <include file="Home@afsmobile/Public/popup" />
</div>
<!--zq-->
<section class="zqsy tj_list">
    <!--开服表-->
    <div class="kfb">
        <div class="tit"><p class="time">时间</p><p class="name">状态</p></div>
        <ul>
            <div class="dragable" widget="mobileServer" style=" width: 100%; height: 30px; border: 1px solid #ff0000;">
            <volist name="mobileServer" id="val">
            <li><p class="time">{:date('m-d H:i',$val['start_time'])}</p><p class="name">{$val['server']}</p></li>
            </volist>
            </div>
        </ul>
    </div>
    <div class="page">{$page}</div>
</section>
<!--footer-->
<include file="Home@afsmobile/Public/zq/foot"/>
</body>
</html>
