<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
 <include file="Home@jf96u/Public/head"/>
</head>
<body>
<!-- 顶部--->
<include file="Home@jf96u/Public/topbar"/>
<!-- 顶部END--->
<!---导航--->
<include file="Home@jf96u/Public/nav"/>
<!---导航END--->

<!---body--->
<include file="Home@jf96u/Public/body" />
<!---bodyEND--->

<!---脚部--->
<include file="Home@jf96u/Public/foot" />

<!---脚部END--->

<!---JS--->
<block name="script"></block>
<!---JS--->
</body>
</html>