<extend name="Home@7230/Base/common"/>

<block name="style">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Document/7230/css/zixun.css"/>
</block>

<block name="body">
<!--评论列表-->
<div id="pllist">
    <p class="page-nav">当前位置：<a href="{:staticUrl('index')}">首页</a> >> <a href="{:staticUrl('detail',$id,$model)}">{$info.title}</a> 评论列表</p>
    <div id="yxpl">
        <p class="title"><i>{$info.title}</i></p>
        <b>简介：</b>{$info.description}
    </div>
    <p class="goback"><a href="{:staticUrl('detail',$id,$model)}">返回上一页</a></p>
    <!--评论-->
     <div id="pinglun">
        <p class="title"><i>全部评论</i></p>
        <ul>
          <volist name="lists" id="v">
            <li>
                <span><b>{$sp+$key+1}楼</b><b class="yh">{$v.uname}</b><em>发表于：{$v.add_time|time_format="Y-m-d H:i:s"}</em></span>
                <span class="neir">{$v.message}</span>
                <!--<span class="zchf"><a href="" class="zc">支持（55）</a><a href="" class="hf">回复</a></span>-->
            </li>
          </volist>           
        </ul>
        <div class="page">{$page}</div>
        <p class="title"><i>我也说一句</i></p>
        <form action="" method="" name="" id="pl"  data-id="{$id}" data-model="{$model}">
            <p><input type="text" value="游客" id="user"><span><i class="qd">值得期待，赞！</i><i class="jy"> 打个酱油！</i><i class="ca">踩一脚！</i></span></p>
            <p class="bot"><b></b><textarea></textarea><input type="button" value="发表评论" id="btn"></p>
        </form>
    </div>
</div>
</block>
