<header class='header top'><a href="http://m.pc6.com" id="logo">pc6下载站</a>
    <p id="mcate"><b>分类</b></p>
    <div id="mcateCont">
        <p><span class="cur">网游分类</span><span>游戏分类</span><span>软件分类</span></p>
        <ul class="on">
            <li><a href="http://m.pc6.com/x/Catalogid/631/0/"><span>即时网游</span>2百+款游戏</a></li>
            <li><a href="http://m.pc6.com/x/Catalogid/632/0/"><span>回合网游</span>1百+款游戏</a></li>
            <li><a href="http://m.pc6.com/x/Catalogid/633/0/"><span>休闲养成</span>2百+款游戏</a></li>
            <li><a href="http://m.pc6.com/x/Catalogid/634/0/"><span>角色扮演</span>3百+款游戏</a></li>
            <li><a href="http://m.pc6.com/x/Catalogid/636/0/"><span>其他网游</span>1百+款游戏</a></li>
            <li><a href="http://m.pc6.com/x/Catalogid/694/0/"><span>仙侠网游</span>1百+款游戏</a></li>
            <li><a href="http://m.pc6.com/x/Catalogid/695/0/"><span>动作竞技</span>2百+款游戏</a></li>
            <li><a href="http://m.pc6.com/x/Catalogid/696/0/"><span>卡牌游戏</span>2百+款游戏</a></li>
            <li><a href="http://m.pc6.com/x/Catalogid/697/0/"><span>策略塔防</span>3百+款游戏</a></li>
            <li><a href="http://m.pc6.com/x/Catalogid/700/0/"><span>三国网游</span>1百+款应用</a></li>
        </ul>
        <ul>
            <li><a href="http://m.pc6.com/x/Catalogid/594/2/"><span>益智休闲</span>3千+款游戏</a></li>
            <li><a href="http://m.pc6.com/x/Catalogid/595/2/"><span>卡牌棋牌</span>1千+款游戏</a></li>
            <li><a href="http://m.pc6.com/x/Catalogid/591/2/"><span>角色扮演</span>1千+款游戏</a></li>
            <li><a href="http://m.pc6.com/x/Catalogid/592/2/"><span>飞行射击</span>1千+款游戏</a></li>
            <li><a href="http://m.pc6.com/x/Catalogid/597/2/"><span>动作游戏</span>1千+款游戏</a></li>
            <li><a href="http://m.pc6.com/x/Catalogid/593/2/"><span>体育竞技</span>5百+款游戏</a></li>
            <li><a href="http://m.pc6.com/x/Catalogid/596/2/"><span>赛车游戏</span>5百+款游戏</a></li>
            <li><a href="http://m.pc6.com/x/Catalogid/637/2/"><span>音乐游戏</span>1百+款游戏</a></li>
            <li><a href="http://m.pc6.com/x/Catalogid/598/2/"><span>养成经营</span>5百+款游戏</a></li>
            <li><a href="http://m.pc6.com/x/Catalogid/711/2/"><span>策略塔防</span>6百+款游戏</a></li>
            <li><a href="http://m.pc6.com/x/Catalogid/638/2/"><span>修改版游戏</span>5百+款游戏</a></li>
            <li><a href="http://m.pc6.com/x/Catalogid/712/2/"><span>冒险解谜</span>6百+款游戏</a></li>
            <li><a href="http://m.pc6.com/x/Catalogid/713/2/"><span>儿童教育</span>5百+款游戏</a></li>
            <li><a href="http://m.pc6.com/x/Catalogid/714/2/"><span>其他游戏</span>9百+款游戏</a></li>
        </ul>
        <ul>
            <li><a href="http://m.pc6.com/x/Catalogid/589/2/"><span>即时聊天</span>5百+款应用</a></li>
            <li><a href="http://m.pc6.com/x/Catalogid/588/2/"><span>图片拍照</span>6百+款应用</a></li>
            <li><a href="http://m.pc6.com/x/Catalogid/584/2/"><span>影音播放</span>1千+款应用</a></li>
            <li><a href="http://m.pc6.com/x/Catalogid/585/2/"><span>生活服务</span>5百+款应用</a></li>
            <li><a href="http://m.pc6.com/x/Catalogid/583/2/"><span>网络通讯</span>2千+款应用</a></li>
            <li><a href="http://m.pc6.com/x/Catalogid/590/2/"><span>手机qq</span>5百+款应用</a></li>
            <li><a href="http://m.pc6.com/x/Catalogid/709/2/"><span>健康美食</span>5百+款应用</a></li>
            <li><a href="http://m.pc6.com/x/Catalogid/707/2/"><span>社交社区</span>3百+款应用</a></li>
            <li><a href="http://m.pc6.com/x/Catalogid/582/2/"><span>系统工具</span>5百+款应用</a></li>
            <li><a href="http://m.pc6.com/x/Catalogid/586/2/"><span>安全防护</span>2百+款应用</a></li>
            <li><a href="http://m.pc6.com/x/Catalogid/587/2/"><span>资讯阅读</span>5百+款应用</a></li>
            <li><a href="http://m.pc6.com/x/Catalogid/600/2/"><span>地图出行</span>5百+款应用</a></li>
            <li><a href="http://m.pc6.com/x/Catalogid/703/2/"><span>学习理财</span>5百+款应用</a></li>
            <li><a href="http://m.pc6.com/x/Catalogid/599/2/"><span>美女壁纸</span>7百+款应用</a></li>
            <li><a href="http://m.pc6.com/x/Catalogid/704/2/"><span>商务办公</span>9百+款应用</a></li>
            <li><a href="http://m.pc6.com/x/Catalogid/627/2/"><span>动态壁纸</span>5百+款应用</a></li>
            <li><a href="http://m.pc6.com/x/Catalogid/628/2/"><span>趣味娱乐</span>1千+款应用</a></li>
            <li><a href="http://m.pc6.com/x/Catalogid/705/2/"><span>主题美化</span>5百+款应用</a></li>
            <li><a href="http://m.pc6.com/x/Catalogid/706/2/"><span>桌面扩展</span>7百+款应用</a></li>
            <li><a href="http://m.pc6.com/x/Catalogid/708/2/"><span>游戏辅助</span>8百+款应用</a></li>
        </ul>
    </div>
    <form action="http://s.pc6.com/cse/search" method="get" target="_blank" class="bdcs-search-form" id="bdcs-search-form">
        <div class="soBox">
            <div class="soInput">
                <input type="hidden" name="s" value="12026392560237532321">
                <input type="hidden" name="entry" value="1">
                <input type="hidden" name="ie" value="gbk">
                <input type="hidden" name="nsid" value="3">
                <input type="hidden" name="ie" value="gbk">
                <input type="text" name="q" class="bdcs-search-form-input" id="bdcs-search-form-input" placeholder="" autocomplete="off">
            </div>
            <div class="soBtn">
                <input type="submit" class="bdcs-search-form-submit " id="bdcs-search-form-submit" value="搜索">
            </div>
        </div>
    </form>
</header>
<nav id="nav">
    <ul class="mainNav">
        <li class="cur"><a href="http://m.pc6.com">首页</a></li>
        <li><a href="http://m.pc6.com/ruanj.html">应用</a></li>
        <li><a href="http://m.pc6.com/wangyou.html">网游</a></li>
        <li><a href="http://m.pc6.com/youxi.html">单机</a></li>
        <li><a href="http://m.pc6.com/article.html">资讯</a></li>
    </ul>
    <p class="pullNav"><span><i></i></span></p>
    <ul class="moreNav">
        <li><a href="http://m.pc6.com/k.html">专题</a></li>
        <li><a href="http://m.pc6.com/ku.html">手游库</a></li>
    </ul>
</nav>
<div class="nav-top" id="nav-top" >
    <ul class="n_c">
           <empty name="pid">
            <li <PHP>if(CONTROLLER_NAME=='Detail'){echo "";}else{echo "class='cur'";}</PHP>><a href="{:C('MOBILE_STATIC_URL')}">礼包首页</a></li>
            <else />
            <li><a href="{:C('MOBILE_STATIC_URL')}">礼包首页</a></li>
        </empty>
        <li 
        <eq name="pid" value="1">class="cur"</eq>
        ><a href="{:C('MOBILE_STATIC_URL')}/libao/">礼包大全</a>
        </li>
        <li 
        <eq name="pid" value="4">class="cur"</eq>
        ><a href="{:getWidgetPath('61')}">新手礼包</a>
        </li>
    </ul>
</div>
