<script language="javascript"> window.DYNAMIC_SERVER_URL = '{:C('DYNAMIC_SERVER_URL')}';</script>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no" />
<meta name="description" content="{$SEO.description}" />
<meta name="keywords" content="{$SEO.keywords}" />
<title>{$SEO.title}</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Package/pc6mobile/css/wap.css"/>
<script>
        var ovb_183_mobile = true;
    </script>
<script src="__PUBLIC__/Package/pc6mobile/js/hanawa.js?sjE" type="text/javascript" charset="utf-8"></script>