<extend name="Public/base"/>

<block name="body">
	<div class="main-title">
		<h2>标签管理</h2>
	</div>

	<!-- 表格列表 -->
	<div class="tb-unit posr">
		<div class="tb-unit-bar">
			<a class="btn" href="/hehuayuan.php?s=/Tags/add.html">新 增</a>
		</div>
		<div class="category">
			<div class="hd cf">
				<div class="fold">折叠</div>
				<div class="order">排序</div>
				<div class="name">名称</div>
			</div>
			{:R('Tags/tree', array($tree))}
		</div>
	</div>
	<!-- /表格列表 -->
</block>

<block name="script">
	<script type="text/javascript">
		(function($){
			/* 分类展开收起 */
			$(".category dd").prev().find(".fold i").addClass("icon-unfold")
				.click(function(){
					var self = $(this);
					if(self.hasClass("icon-unfold")){
						self.closest("dt").next().slideUp("fast", function(){
							self.removeClass("icon-unfold").addClass("icon-fold");
						});
					} else {
						self.closest("dt").next().slideDown("fast", function(){
							self.removeClass("icon-fold").addClass("icon-unfold");
						});
					}
				});

			//全部分类收起
			var fold_obj = $(".category dd").prev().find(".fold i")

			fold_obj.closest("dt").next().slideUp("fast", function(){
				fold_obj.removeClass("icon-unfold").addClass("icon-fold");
			});

			/* 三级分类删除新增按钮 */
			//$(".category dd dd .add-sub").remove();

                                        //多级分类动态添加CSS
                                        var c_start = 1; //开始层级
                                        var tab_sign_width = 55; //tab-sign宽度基数
                                        var position_left = -55; //position_left移动基数

                                        myAttr($(".category"),c_start);

                                        function myAttr(obj, c_now){
                                            //找到dl子元素
                                            if (c_now==1){
                                                obj= obj.children("dl");
                                            }else{
                                                obj= $(obj.children("dd")[0]).children("dl");
                                            }
                                             //alert('this:'+obj.length);                                           
                                            //如果存在则赋值CSS
                                            if (obj.length > 0){
                                                ++c_now;
                                                obj.each( function() {
                                                    var c_obj = $(this);  
                                                    if (c_now>2){ 
                                                       //alert(c_obj.find("input[name='title']").val());   
                                                       //alert((tab_sign_width*(c_now-1)));                                                  
                                                        c_obj.find("dt .tab-sign").css({
                                                           //"display": "block",
                                                           "width": (tab_sign_width*(c_now-2))+"px",
                                                           "background-position": (position_left+(tab_sign_width*(c_now-3)))+"px  -120px"
                                                        });
                                                    }
                                                    //alert(c_obj.children('dd')[0]);
                                                    myAttr(c_obj,c_now);
                                                });                                          
                                            }else{
                                                //不存在则返回
                                                return;
                                            }
                                        }

			/* 实时更新分类信息 */
			$(".category")
				.on("submit", "form", function(){
					var self = $(this);
					$.post(
						self.attr("action"),
						self.serialize(),
						function(data){
							/* 提示信息 */
							var name = data.status ? "success" : "error", msg;
							msg = self.find(".msg").addClass(name).text(data.info)
									  .css("display", "inline-block");
							setTimeout(function(){
								msg.fadeOut(function(){
									msg.text("").removeClass(name);
								});
							}, 1000);
						},
						"json"
					);
					return false;
				})
                .on("focus","input",function(){
                    $(this).data('param',$(this).closest("form").serialize());

                })
                .on("blur", "input", function(){
                    if($(this).data('param')!=$(this).closest("form").serialize()){
                        $(this).closest("form").submit();
                    }
                });
		})(jQuery);
	</script>
</block>
