<extend name="Home@qbaobeimobile/Base/commonCate" />
<block name="style">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/qbaobeimobile2/css/video.css"/>
</block>
<block name="breadcrumbnav">
    <a href="{$Think.config.MOBILE_STATIC_URL}">首页</a> > 热门标签
</block>
<block name="body"> 
  <!--导航-->
  <nav class="home-nav">
    <div class="swiper-container2">
      <div class="swiper-wrapper"> {~W('Home/Qbaobeimobile/tagscates')} </div>
    </div>
  </nav>
  <!--弹出菜单-->
  <div class="pop-navbox">
      <div class="pop-cata-wrap">
        <ul class="pop-cata-ul">
          <volist name="lists" id="vo">
            <li><a href="{:C('MOBILE_STATIC_URL')}/tag/{$vo['name']}/">{$vo['title']}</a></li>
          </volist>
        </ul>
      </div>
  </div>
</block><block name="script"><script type="text/javascript" src="__PUBLIC__/Home/qbaobeimobile2/js/jquery.cookie.js"></script><script type="text/javascript" src="__PUBLIC__/Home/qbaobeimobile2/js/cookie.js?t={$alias}"></script></block>