<extend name="Public/base" />

<block name="body">
    <!-- 标题栏 -->
    <div class="main-title">
        <h2>
            <strong><a href="{:U('Package/edit?cate_id='.$document['category_id'].'&id='.$document['id'])}#Card">{$document.title}</a></strong> {$name}列表
        </h2>
    </div>
    <div>
        <!--<a href="{:U('add')}" class="btn">增加{$name}</a>-->
    </div>

    <!-- 数据列表 -->
    <div class="data-table table-striped">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>文章ID</th>
                    <th>号码</th>
                    <th>获取时间</th>
                    <th>礼包中心ID</th>
                    <th>状态</th>
                    <th>领取状态</th>
                    <th>领取IP</th>
                    <th>领取用户</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <notempty name="_list">
                <volist name="_list" id="vo">
                <tr>
                    <td>{$vo.id}</td>
                    <td>{$vo.did}</td>
                    <td>{$vo.number}</td>
                    <td>{:time_format($vo['get_time'])}</td>
                    <td>{$vo.center_cid}</td>
                    <td>{$vo.status_text}</td>
                    <td>{$vo.draw_status_text}</td>
                    <td>{$vo.ip}</td>
                    <td>{$vo.user_id}</td>
                    <td>
                        <a href="{:U('edit?id='.$vo['id'])}">编辑</a>
                        <!--<a title="{$vo.status|show_status_op}" href="{:U('setStatus?ids='.$vo['id'].'&status='.abs(1-$vo['status']))}" class="ajax-get">{$vo.status|show_status_op}</a>-->
                        <a title="删除" href="{:U('remove?id='.$vo['id'])}" class="confirm ajax-get">删除</a>
                    </td>
                </tr>
                </volist>
                <else/>
                <td colspan="6" class="text-center"> 暂无数据! </td>
                </notempty>
            </tbody>
        </table>
    </div>
    <!-- 分页 -->
    <div class="page">
        {$_page}
    </div>
</block>
