<header class="mui-bar mui-bar-nav">
	<a class="mui-pull-left y7-back" href="javascript:history.go(-1)"><span class="arr"></span>返回</a>

	<div class="y7-header-bar">
		<a class="mui-pull-right y7-search j-y7-search-trigger"><img src="__PUBLIC__/Home/qilimobile/img/search@2x.png"><span>取消</span></a>
	  	<h1 class="mui-title"><img src="__PUBLIC__/Home/qilimobile/img/logo@2x.png"></h1>
	</div>
	<section class="y7-search-bar y7-search-bar-anim j-y7-search-bar"  id="y7-search">
		<form>
			<input name="q" placeholder="输入您想要搜索的内容" type="text" />
			<button class="mui-btn mui-btn-link">搜索</button>
		</form>
	</section>
</header>