<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <include file="Home@afs/Public/head" />
</head>
<body>
<!---头部--->
<!--#include virtual="/head.html"-->
<include file="Home@afs/Public/header_zt" />
<!---头部END--->

<!---body--->
<include file="Home@afs/Public/body" />
<!---bodyEND--->

<!---脚部--->
<!--#include virtual="/foot.html"-->


<!---脚部END--->

<!---JS--->
<block name="script"></block>
<!---JS--->
</body>
</html>