<div class="wrapper footer">
    <a rel="nofollow" href="http://www.qbaobei.com/webroot/introduce.html" target="_blank"> 关于我们</a> |
    <a rel="nofollow" href="http://www.qbaobei.com/webroot/contact.html" target="_blank"> 联系我们</a> |
    <a rel="nofollow" href="http://www.qbaobei.com/webroot/copyright.html" target="_blank">版权声明</a> |
    <a rel="nofollow" href="http://www.qbaobei.com/webroot/careers.html" target="_blank">招聘信息</a> |
    <a rel="nofollow" href="http://www.qbaobei.com/webroot/sitemap.html" target="_blank">网站地图</a> |
    <a rel="nofollow" href="http://bb.qbaobei.com/help/help.aspx" target="_blank">帮助中心</a>
    <br /> &copy; 2011
    <a rel="nofollow" href="http://www.qbaobei.com" target="_blank" title="亲亲宝贝网"> 亲亲宝贝网</a> 版权所有 粤ICP证B2-20070459
    <a href="http://www.miibeian.gov.cn" target="_blank" rel="nofollow">粤ICP备08036625号-8</a>
    <a href="http://www.qbaobei.com/images/20110810/wangluoshiting.jpg" target="_blank" title="信息网络传播视听节目许可证" rel="nofollow">网络视听许可证1911597号</a>
    <a href="http://www.qbaobei.com/images/xukezheng.jpg" target="_blank" title="增值电信业务经营许可证:粤B2-20070459" rel="nofollow">增值电信业务经营许可证:粤B2-20070459</a>
    <div style="display: none">
        <script src="http://www.qbaobei.com/Templates/oldweb/scripts/g.js" language="JavaScript" charset="gb2312"></script>
        <script type="text/javascript">
            var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
            document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F924d0463dac9e0c1d9e2258dfc2a6b6b' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script src="http://www.qbaobei.com/Templates/oldweb/scripts/g.js" language="JavaScript" charset="gb2312"></script>
    </div>
    <br />
    <a rel="nofollow" href="http://www.sznet110.gov.cn" target="_blank" title="公安亭"><img src="http://www.qbaobei.com/templates/oldweb/images/qbaobei/sznet110gangting.gif" /></a>
    <a rel="nofollow" href="http://www.sznet110.gov.cn/webrecord/innernet/Welcome.jsp?bano=44030000201311" target="_blank" title="网安"><img src="http://www.qbaobei.com/templates/oldweb/images/qbaobei/sznet110anwang.gif" /></a>
    <a rel="nofollow" class="cservice" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=630186001&site=亲亲宝贝网&menu=yes"> <img border="0" src="http://www.qbaobei.com/templates/oldweb/images/qbaobei/qq_online.gif" alt="亲亲在线" title="亲亲在线"></a>
    <a rel="nofollow" class="cservice" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=627502351&site=亲亲宝贝网&menu=yes"> <img border="0" src="http://www.qbaobei.com/templates/oldweb/images/qbaobei/qq_hotline.gif" alt="亲亲热线" title="亲亲热线"> </a>
    <a rel="nofollow" class="cservice" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1443794050&site=亲亲宝贝网&menu=yes"> <img border="0" src="http://www.qbaobei.com/templates/oldweb/images/qbaobei/qq_small.gif" alt="亲亲小编" title="亲亲小编"></a>
</div>