<!--到顶部 begin-->
<style>
a.gotop {background-color: #FAFAFA;border: 1px solid #E0E0E0;color: #D4D4D4;cursor: pointer;display: block;height: 54px;outline: medium none;position: fixed;right: 0;top: 560px;width: 54px;text-decoration: none;}
a.gotop i {display: block;font-size: 30px;font-style: normal;height: 24px;line-height: 50px;overflow: hidden;text-align: center;}
a.gotop b {display: block;font-size: 10px;font-style: normal;height: 16px;line-height: 2px;overflow: hidden;text-align: center;}
</style>
<a class="gotop" title="返回顶部" href="#"><i>◆</i><b>■</b></a> 
<!--到顶部 end--> 