<script language="javascript"> window.DYNAMIC_SERVER_URL = '{:C("DYNAMIC_SERVER_URL")}';</script>
<!--bef top nav-->
<div class="QB_Top_Wrap">
  <div class="t_nav cfix">
    <ul class="nav_l">
      <li><a class="home" href="http://www.qbaobei.com"></a></li>
      <li><a class="song" href="http://erge.qbaobei.com" target="_blank"></a></li>
      <li><a class="pubc" href="http://bbs.qbaobei.com" target="_blank"></a></li>
      <li><a class="jiaoyu" href="http://www.qbaobei.com/jiaoyu/" target="_blank"></a></li>
    </ul>
    <div class="nav_r"> <span class="sina_2">
      <wb:follow-button uid="1629678220" type="red_1" width="67" height="24" ></wb:follow-button>
      </span> <a href="http://e.t.qq.com/qbaobeicom" target="_blank"  class="qq" title="关注我们 腾讯微博"></a> <a href="http://e.weibo.com/wwwqbaobeicom" target="_blank" class="sina" title="关注我们 新浪微博"></a> </div>
  </div>
  <div class="nav_b"></div>
</div>
<!--end top nav--> 

<!--bef logo nav-->
<div class="QB_logo_head">
  <div class="logo_h_l"> <a class="logo" href="http://www.qbaobei.com/">亲亲宝贝</a>
    <h2>全球精品育儿门户</h2>
  </div>
  <div class="logo_h_r">
    <div class="search">
      <input class="s_txt" id="newSearchkey" type="text" value="胎教"/>
      <input class="s_sub" type="button" value=""/>
    </div>
    <div class="s_info"> <a class="green" target="_blank" href="http://www.qbaobei.com/search.aspx?keyword=%E6%89%8B%E5%B7%A5">手工</a><a class="orange" target="_blank" href="http://www.qbaobei.com/search.aspx?keyword=%E5%AE%9D%E5%AE%9D%E8%BE%85%E9%A3%9F">宝宝辅食</a><a class="orange_2" target="_blank" href="http://www.qbaobei.com/search.aspx?keyword=%E7%94%9F%E7%94%B7%E7%94%9F%E5%A5%B3">生男生女</a> </div>
  </div>
</div>
<!--end logo nav--> 
﻿<!--bef nav-->
<div class="QB_nav">
  <ul class="inner_nav">
    <li class="tab_nav i_nav_1" data-nav="1"> <a target="_blank" class="tile" href="http://www.qbaobei.com/yuerbaodian/"></a> <a target="_blank" href="http://www.qbaobei.com/jiankang/">孕产育儿</a> <a target="_blank" href="http://www.qbaobei.com/naifen/">奶粉</a> <a target="_blank" href="http://www.qbaobei.com/jkms/">美食</a> <a target="_blank" href="http://www.qbaobei.com/plans/">专题</a> <a target="_blank" class="tb active" href="javascript:;"></a> </li>
    <li class="spt"></li>
    <li class="tab_nav i_nav_2" data-nav="2"> <a target="_blank" class="tile" href="http://bbs.qbaobei.com/"></a> <a target="_blank" href="http://bbs.qbaobei.com/forum.php?mod=forumdisplay&fid=144">同城交流</a> <a target="_blank" href="http://bbs.qbaobei.com/forum.php?mod=forumdisplay&fid=24">网站活动</a><a target="_blank" href="http://bbs.qbaobei.com/forum.php?mod=forumdisplay&fid=13">怀胎十月</a><a target="_blank" href="http://bbs.qbaobei.com/forum.php?mod=forumdisplay&fid=33">宝宝健康</a><a target="_blank" class="tb" href="javascript:;"></a> </li>
    <li class="spt"></li>
    <li class="tab_nav i_nav_4" data-nav="4"> <a target="_blank" class="tile" href="http://www.qbaobei.com/baobaoleyuan"></a> <a target="_blank" href="http://erge.qbaobei.com/">儿歌</a> <a target="_blank" href="http://gushi.qbaobei.com/">故事</a> <a target="_blank" href="http://game.qbaobei.com/">游戏</a><a target="_blank" class="tb" href="javascript:;"></a> </li>
  </ul>
  <div class="list_nav">
    <div class="mi_nav list_nav_1" data-nav="1"><a target="_blank" href="http://www.qbaobei.com/tuku/">图库</a> <a target="_blank" href="http://www.qbaobei.com/tools/">工具</a> <a target="_blank" href="http://www.qbaobei.com/qbaobeiweek/">亲周刊</a> <a target="_blank" href="http://www.qbaobei.com/plans/huati/">亲亲说</a> </div>
    <div class="mi_nav list_nav_2" data-nav="2"> <a target="_blank" href="http://bbs.qbaobei.com/forum.php?mod=forumdisplay&fid=19">早教幼教</a> <a target="_blank" href="http://bbs.qbaobei.com/forum.php?mod=forumdisplay&fid=45">情感天空</a> <a target="_blank" href="http://bbs.qbaobei.com/forum.php?mod=forumdisplay&fid=152">淘宝小铺</a> <a target="_blank" href="http://bbs.qbaobei.com/forum.php?mod=forumdisplay&fid=46">吃喝玩乐</a>
      <!--<a href="http://bbs.qbaobei.com/forum.php?mod=forumdisplay&fid=1147">团购试用</a>
			<a href="http://bbs.qbaobei.com/forum.php?mod=forumdisplay&fid=149">母婴用品</a>
			<a href="http://bbs.qbaobei.com/forum.php?mod=forumdisplay&fid=150">早教机构</a>
			<a href="http://bbs.qbaobei.com/forum.php?mod=forumdisplay&fid=152">淘宝店铺</a>--> 
    </div>
    <div class="mi_nav list_nav_4" data-nav="4"> <a target="_blank" href="http://donghua.qbaobei.com/">动画</a><a target="_blank" href="http://zhishi.qbaobei.com/">知识</a> </div>
  </div>
</div>
<script type="text/javascript">
    $(".inner_nav").on('mouseover', '.tab_nav', function () {
        var l = $(this).data('nav');
        $(this).addClass('active');
		$(this).find(".tb").addClass("active");
        $(".list_nav .mi_nav").removeClass('active');
        $(".list_nav .list_nav_" + l).addClass('active');
    });
	$(".inner_nav").on('mouseout', '.tab_nav', function () {
        var l = $(this).data('nav');
        $(this).addClass('active');
		$(this).find(".tb").removeClass("active");
        $(".list_nav .mi_nav").removeClass('active');
        $(".list_nav .list_nav_" + l).removeClass('active');
    });
    $(".list_nav").on('mouseover', '.mi_nav', function () {
        var l = $(this).data('nav');
        $(this).addClass('active');
        $(".list_nav .mi_nav").removeClass('active');
        $(".list_nav .list_nav_" + l).addClass('active');
		$(".inner_nav .i_nav_" + l).find(".tb").addClass('active');
    });
    $(".list_nav").on('mouseout', '.mi_nav', function () {
        var l = $(this).data('nav');
        $(this).removeClass('active');
        $(".inner_nav .i_nav_" + l).removeClass('active');
		$(".inner_nav .i_nav_" + l).find(".tb").removeClass('active');
    });
</script> 
<!--end nav--> 