<meta name="baidu-site-verification" content="8E8XbYAJahDhEumF" />
<meta http-equiv="Cache-Control" content="max-age=31536000" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="亲亲宝贝网,亲亲宝贝,育儿,早教" name="Keywords" />
<meta content="亲亲宝贝网--中国最专业的育儿网站。爱的小家，学习．记录．分享。儿歌童谣、宝宝小家、育儿文萃、亲子论坛、网上商城等多个频道各具特色。这里是孕育希望的摇篮，让每一位充满爱意的父母，带着宝宝畅游知识的海洋，让爱回归大众。" name="Description" />
<meta name="author" content="亲亲宝贝网" />
<meta name="copyright" content="亲亲宝贝网享有版权" />
<title>儿歌童谣-【亲亲宝贝网★中国最专业的育儿网站】宝宝主页|怀孕|母婴健康|幼儿教育|妈妈论坛_亲亲宝贝网</title>
<!--[if IE]>
    <link href="/Template/Qbaobei/Skin/v3/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
<![endif]-->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/qbaobei/css/screen.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/qbaobei/css/style.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/qbaobei/css/img_sprit.css"/>
<script type="text/javascript" src="__PUBLIC__/Home/qbaobei/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/qbaobei/js/lazyload.js"></script>
<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="__PUBLIC__/Home/qbaobei/js/slide.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/qbaobei/js/index.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/qbaobei/js/common.js"></script>
<!-- 请置于所有广告位代码之前 -->
<script type="text/javascript" src="http://cbjs.baidu.com/js/m.js"></script>
<style>
div {
	margin: 0;
	padding: 0;
	font-size: 12px;
}
.scrol {
	width: 210px;
	height: 58px;
	line-height: 58px;
	float: right;
	margin-right: 10px;
	overflow: hidden;
}
.sc_cont {
	width: 9999px;
}
.sc_conts, .sc_conts1, .sc_conts2 {
	color: #333;
	float: left;
}
</style>