<!-- qbaobei_jiankang_tonglan2 -->
<div id='div-gpt-ad-1351223277233-0' style='width:728px; height:90px;'>
<!-- Baidu Button BEGIN --> 
<script type="text/javascript" id="bdshare_js" data="type=slide&amp;img=2&amp;pos=right&amp;uid=679504" ></script> 
<script type="text/javascript" id="bdshell_js"></script> 
<script type="text/javascript">
var bds_config={"bdTop":100};
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script> 
<!-- Baidu Button END -->
</div>