<div class="nav-left">
    <a href="{:C('MOBILE_STATIC_URL')}/product/" class="hywz top p1"><p>首页</p></a>
        <div class="hywz">
        <a href="{:getWidgetPath(86)}" class="ylxx1 p1"><p>网络产品</p></a>
            <a href="{:getWidgetPath(87)}" class="shfw p2"><p><span></span>生活消费</p></a>
        </div>
</div>
<div class="nav-main">
    <a href="{:getWidgetPath(88)}" class="whjy1 p2"><p><span></span>机械设备</p></a>
    <a href="{:getWidgetPath(89)}" class="zthj1 p2"><p><span></span>物料耗材</p></a>
</div>
<a href="{:getWidgetPath(90)}" class="nav-right1"><p><span></span>服务业</p></a>