<volist name="ranks" id="vo">
 <li>
          <div class="n_gameli">
            <div class="n_g_l"><img src="{:get_cover($vo['smallimg'],'path','1','66','66')}"></div>
            <div class="n_g_r">
              <div class="n_g_rt">
                <div class="n_g_rtl">
                  <div class="n_g_rtlt"><em>{$key+1}</em><a href="{:staticUrlMobile('detail', $vo['id'],'Down')}">
                    <h3>{$vo['title']}</h3>
                    </a><i class="{~W('Down/Afsmobile/viewTrend',array($vo['view']))}"></i></div>
                  <div class="n_g_rtlb"><i></i><span>{~W('Down/Afsmobile/viewHot',array($vo['view']))}万</span>热度&nbsp;&nbsp;{$vo['size']} </div>
                </div>
                <div class="yd_btn"> <a href="{:staticUrlMobile('detail', $vo['id'],'Down')}" class="btn" rel="nofollow">下载</a> </div>
              </div>
              <div class="n_g_rb">{$vo['description']}</div>
            </div>
          </div>
        </li>
</volist>
