<extend name="Home@7230mobile/Base/commonDown" />
<block name="style">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/7230mobile/css/game.css"/>
</block>
<block name="body">
<header class="wytop">
    <span class="back"></span>
    <b>单机排行榜</b>
    <a href="" class="search"></a>
</header>
<!-- 首页搜索 和 新闻-->
<section class="news_wrap" id="syxw">
    <div class="glnav">
        <i class="cur">下载排行</i>
        <i>热门推荐</i>
        <i>最新上架</i>
    </div>
    <div>
        <ul class="rank_box">
            <li><a href=""><img src="iamges/6.jpg" alt="狂野飙车7:极速热力"></a><a href="" class="down_btn">下载</a><h6><a href="">1狂野飙车7:极速热力</a></h6><p>CGWR：<span>7.5分</span></p><p>车枪球 <i>|</i> 免费 <i>|</i> 10.6MB</p></li>
            <li><a href=""><img src="iamges/6.jpg" alt="火影忍者"></a><a href="" class="down_btn">下载</a><h6><a href="">火影忍者</a></h6><p>CGWR：<span>7.1分</span></p><p>卡牌 <i>|</i> 免费 <i>|</i> 77.2M</p></li>
            <li><a href=""><img src="iamges/6.jpg" alt="神石传说之亚伦传"></a><a href="" class="down_btn">下载</a><h6><a href="">神石传说之亚伦传</a></h6><p>CGWR：<span>7.0分</span></p><p>角色扮演 <i>|</i> 免费 <i>|</i> 182.8MB</p></li>
            <li><a href=""><img src="iamges/6.jpg" alt="梦想海贼王"></a><a href="" class="down_btn">下载</a><h6><a href="">梦想海贼王</a></h6><p>CGWR：<span>7.0分</span></p><p>卡牌 <i>|</i> 免费 <i>|</i> 43.1M</p></li>
            <li><a href=""><img src="iamges/6.jpg" alt="暗黑复仇者"></a><a href="" class="down_btn">下载</a><h6><a href="">暗黑复仇者</a></h6><p>CGWR：<span>6.5分</span></p><p>角色扮演 <i>|</i> 免费 <i>|</i> 49.8MB</p></li>
        </ul>
    </div>
    <a class="get_more" href="">展开查看更多<span></span></a>
</section>
<!-- 热门工具 -->
<section class="tool_wrap">
    <h3>热门工具<i></i></h3>
    <div class="tool_box" data-sudaclick="main_hottool">
        <ul>
            <li>
                <a href=""><img alt="新浪游戏APP" src="iamges/6.jpg"></a>
                <h6><a href="">新浪游戏APP</a></h6>
                <p><a href="">( 礼包、资讯、视频、排行榜)</a></p>
                <a class="tool_btn" href=""></a>
            </li>
            <li>
                <a href=""><img alt="新浪新手卡中心" src="iamges/6.jpg"></a>
                <h6><a href="">新浪新手卡中心</a></h6>
                <p><a href="">(手游发卡顶呱呱)</a></p>
                <a class="tool_btn" href=""></a>
            </li>
        </ul>
    </div>
</section>
</block>