<extend name="Home@7230mobile/Base/common"/>
<block name="style">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/7230mobile/css/libao.css"/>
</block>
<block name="body">
	<!-- 发号中心 和 存号箱 -->
	<section class="libao">
		<div class="lb">
			<a href="javascript:void(0);" class="cur">发号中心<i>|</i></a>
			<a href="">存号箱</a>
		</div>
		<!-- 搜索 -->
		<div class="search_wrap">
			<form method="get" action=""  class="search" id="sub">
				<input type="text" name="k" class="sipt" id="sipt" placeholder="搜礼包" value="">
				<a href="javascript:void(0)" class="sbtn" id="sbtn" ></a>
			</form>
		</div>
	</section>
<!-- 热门礼包 -->
	<section class="gift_wrap" data-sudaclick="main_hlibao">
		<div class="gift_box">
			<ul>
				<li>
					<h4><a href="lbxq.html">《武侠Q传》iOS版独家礼包</a></h4>
					<div class="gift">
						<a href="lbxq.html"><img alt="《武侠Q传》iOS版独家礼包" src="iamges/6.jpg"></a>
						<div class="gift_cont">
							<div>
								<span>剩余：</span><strong><i style="width:38%;"></i></strong><span class="percent">38%</span>
							</div>
														<div>
								<span>截止：2014-11-15</span>
							</div>
													</div>
						<a class="card_btn ling" href="">领号</a>
					</div>
				</li>
								<li>
					<h4><a href="">《乱斗西游》新浪独家特权卡</a></h4>
					<div class="gift">
						<a href=""><img alt="《乱斗西游》新浪独家特权卡" src="iamges/6.jpg"></a>
						<div class="gift_cont">
							<div>
								<span>剩余：</span><strong><i style="width:0%;"></i></strong><span class="percent">0%</span>
							</div>
													</div>
						<a class="card_btn ding" href="">预订</a>
					</div>
				</li>
								<li>
					<h4><a href="">《新苍穹之剑》安卓版上线礼包</a></h4>
					<div class="gift">
						<a href=""><img alt="《新苍穹之剑》安卓版上线礼包" src="iamges/6.jpg"></a>
						<div class="gift_cont">
							<div>
								<span>剩余：</span><strong><i style="width:15%;"></i></strong><span class="percent">15%</span>
							</div>
														<div>
								<span>截止：2014-11-13</span>
							</div>
													</div>
						<a class="card_btn ling" href="">领号</a>
					</div>
				</li>
								<li>
					<h4><a href="">《超级MT》新手礼包</a></h4>
					<div class="gift">
						<a href=""><img alt="《超级MT》新手礼包" src="iamges/6.jpg"></a>
						<div class="gift_cont">
							<div>
								<span>剩余：</span><strong><i style="width:71%;"></i></strong><span class="percent">71%</span>
							</div>
													</div>
						<a class="card_btn ling" href="">领号</a>
					</div>
				</li>
							</ul>
		</div>
	<a class="recom_more" href="">更多新游推荐<span></span></a>
	</section>
	 {~W('Home/p7230Mobile/tools')}
</block>