<extend name="Home@jf96u/Base/common" />

<block name="style">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/jf96u/css/yxk.css">
</block>
<block name="body">
<div class="main1200">
    <div class="goback">当前位置：  <position /> > 新手游</div>
    <div class="container">
        <div class="down-home">
            <div class="fl cata-l">
                <div class="down-home-tit">
                    <div class="down-home-l">
                    <a href="" class="active">安卓游戏</a>
                <!--    <a href="">PC游戏</a>-->
                    <a href="">苹果游戏</a>
                    </div>
                    <a href="" target="_blank" class="more">更多</a>
                </div>
                <div class="down-nav">
                    <a href="" class="active">最新</a>
                    <a href="">最热</a>

                </div>
                <ul class="down-ul">
                    <li>
                        <a href="" target="_blank" title="口袋部队" class="pic"><img src="http://www.96u.com/uploads/allimg/151024/1580-1510240914050-L.jpg" alt="口袋部队"><span class="down">下载</span></a>
                        <div class="text">
                            <a href="" target="_blank" title="口袋部队" class="title">口袋部队</a>
                            <p>射击游戏</p>
                            <p>10-12 | 234.5M</p>
                            <p>版本：v23.3</p>
                            <p class="info">浮空炫斗手游《镇魔之剑》封测送好礼浮空炫斗手游《镇魔之剑》封测送好礼浮空炫斗手游《镇魔之剑》封测送好礼,浮空炫斗手游《镇魔之剑》封测送好礼浮空炫斗手游《镇魔之剑》封测送好礼</p>
                        </div>
                    </li>
                    <li>
                        <a href="" target="_blank" title="口袋部队" class="pic"><img src="http://www.96u.com/uploads/allimg/151024/1580-1510240914050-L.jpg" alt="口袋部队"><span class="down">下载</span></a>
                        <div class="text">
                            <a href="" target="_blank" title="口袋部队" class="title">口袋部队</a>
                            <p>射击游戏</p>
                            <p>10-12 | 234.5M</p>
                            <p>版本：v23.3</p>
                            <p class="info">浮空炫斗手游《镇魔之剑》封测送好礼浮空炫斗手游《镇魔之剑》封测送好礼浮空炫斗手游《镇魔之剑》封测送好礼,浮空炫斗手游《镇魔之剑》封测送好礼浮空炫斗手游《镇魔之剑》封测送好礼</p>
                        </div>
                    </li>
                    <li>
                        <a href="" target="_blank" title="口袋部队" class="pic"><img src="http://www.96u.com/uploads/allimg/151024/1580-1510240914050-L.jpg" alt="口袋部队"><span class="down">下载</span></a>
                        <div class="text">
                            <a href="" target="_blank" title="口袋部队" class="title">口袋部队</a>
                            <p>射击游戏</p>
                            <p>10-12 | 234.5M</p>
                            <p>版本：v23.3</p>
                            <p class="info">浮空炫斗手游《镇魔之剑》封测送好礼浮空炫斗手游《镇魔之剑》封测送好礼浮空炫斗手游《镇魔之剑》封测送好礼,浮空炫斗手游《镇魔之剑》封测送好礼浮空炫斗手游《镇魔之剑》封测送好礼</p>
                        </div>
                    </li>
                    <li>
                        <a href="" target="_blank" title="口袋部队" class="pic"><img src="http://www.96u.com/uploads/allimg/151024/1580-1510240914050-L.jpg" alt="口袋部队"><span class="down">下载</span></a>
                        <div class="text">
                            <a href="" target="_blank" title="口袋部队" class="title">口袋部队</a>
                            <p>射击游戏</p>
                            <p>10-12 | 234.5M</p>
                            <p>版本：v23.3</p>
                            <p class="info">浮空炫斗手游《镇魔之剑》封测送好礼浮空炫斗手游《镇魔之剑》封测送好礼浮空炫斗手游《镇魔之剑》封测送好礼,浮空炫斗手游《镇魔之剑》封测送好礼浮空炫斗手游《镇魔之剑》封测送好礼</p>
                        </div>
                    </li>
                    <li>
                        <a href="" target="_blank" title="口袋部队" class="pic"><img src="http://www.96u.com/uploads/allimg/151024/1580-1510240914050-L.jpg" alt="口袋部队"><span class="down">下载</span></a>
                        <div class="text">
                            <a href="" target="_blank" title="口袋部队" class="title">口袋部队</a>
                            <p>射击游戏</p>
                            <p>10-12 | 234.5M</p>
                            <p>版本：v23.3</p>
                            <p class="info">浮空炫斗手游《镇魔之剑》封测送好礼浮空炫斗手游《镇魔之剑》封测送好礼浮空炫斗手游《镇魔之剑》封测送好礼,浮空炫斗手游《镇魔之剑》封测送好礼浮空炫斗手游《镇魔之剑》封测送好礼</p>
                        </div>
                    </li>
                    <li>
                        <a href="" target="_blank" title="口袋部队" class="pic"><img src="http://www.96u.com/uploads/allimg/151024/1580-1510240914050-L.jpg" alt="口袋部队"><span class="down">下载</span></a>
                        <div class="text">
                            <a href="" target="_blank" title="口袋部队" class="title">口袋部队</a>
                            <p>射击游戏</p>
                            <p>10-12 | 234.5M</p>
                            <p>版本：v23.3</p>
                            <p class="info">浮空炫斗手游《镇魔之剑》封测送好礼浮空炫斗手游《镇魔之剑》封测送好礼浮空炫斗手游《镇魔之剑》封测送好礼,浮空炫斗手游《镇魔之剑》封测送好礼浮空炫斗手游《镇魔之剑》封测送好礼</p>
                        </div>
                    </li>
                    <li>
                        <a href="" target="_blank" title="口袋部队" class="pic"><img src="http://www.96u.com/uploads/allimg/151024/1580-1510240914050-L.jpg" alt="口袋部队"><span class="down">下载</span></a>
                        <div class="text">
                            <a href="" target="_blank" title="口袋部队" class="title">口袋部队</a>
                            <p>射击游戏</p>
                            <p>10-12 | 234.5M</p>
                            <p>版本：v23.3</p>
                            <p class="info">浮空炫斗手游《镇魔之剑》封测送好礼浮空炫斗手游《镇魔之剑》封测送好礼浮空炫斗手游《镇魔之剑》封测送好礼,浮空炫斗手游《镇魔之剑》封测送好礼浮空炫斗手游《镇魔之剑》封测送好礼</p>
                        </div>
                    </li>
                    <li>
                        <a href="" target="_blank" title="口袋部队" class="pic"><img src="http://www.96u.com/uploads/allimg/151024/1580-1510240914050-L.jpg" alt="口袋部队"><span class="down">下载</span></a>
                        <div class="text">
                            <a href="" target="_blank" title="口袋部队" class="title">口袋部队</a>
                            <p>射击游戏</p>
                            <p>10-12 | 234.5M</p>
                            <p>版本：v23.3</p>
                            <p class="info">浮空炫斗手游《镇魔之剑》封测送好礼浮空炫斗手游《镇魔之剑》封测送好礼浮空炫斗手游《镇魔之剑》封测送好礼,浮空炫斗手游《镇魔之剑》封测送好礼浮空炫斗手游《镇魔之剑》封测送好礼</p>
                        </div>
                    </li>
                    <li>
                        <a href="" target="_blank" title="口袋部队" class="pic"><img src="http://www.96u.com/uploads/allimg/151024/1580-1510240914050-L.jpg" alt="口袋部队"><span class="down">下载</span></a>
                        <div class="text">
                            <a href="" target="_blank" title="口袋部队" class="title">口袋部队</a>
                            <p>射击游戏</p>
                            <p>10-12 | 234.5M</p>
                            <p>版本：v23.3</p>
                            <p class="info">浮空炫斗手游《镇魔之剑》封测送好礼浮空炫斗手游《镇魔之剑》封测送好礼浮空炫斗手游《镇魔之剑》封测送好礼,浮空炫斗手游《镇魔之剑》封测送好礼浮空炫斗手游《镇魔之剑》封测送好礼</p>
                        </div>
                    </li>
                    <li>
                        <a href="" target="_blank" title="口袋部队" class="pic"><img src="http://www.96u.com/uploads/allimg/151024/1580-1510240914050-L.jpg" alt="口袋部队"><span class="down">下载</span></a>
                        <div class="text">
                            <a href="" target="_blank" title="口袋部队" class="title">口袋部队</a>
                            <p>射击游戏</p>
                            <p>10-12 | 234.5M</p>
                            <p>版本：v23.3</p>
                            <p class="info">浮空炫斗手游《镇魔之剑》封测送好礼浮空炫斗手游《镇魔之剑》封测送好礼浮空炫斗手游《镇魔之剑》封测送好礼,浮空炫斗手游《镇魔之剑》封测送好礼浮空炫斗手游《镇魔之剑》封测送好礼</p>
                        </div>
                    </li>
                    <li>
                        <a href="" target="_blank" title="口袋部队" class="pic"><img src="http://www.96u.com/uploads/allimg/151024/1580-1510240914050-L.jpg" alt="口袋部队"><span class="down">下载</span></a>
                        <div class="text">
                            <a href="" target="_blank" title="口袋部队" class="title">口袋部队</a>
                            <p>射击游戏</p>
                            <p>10-12 | 234.5M</p>
                            <p>版本：v23.3</p>
                            <p class="info">浮空炫斗手游《镇魔之剑》封测送好礼浮空炫斗手游《镇魔之剑》封测送好礼浮空炫斗手游《镇魔之剑》封测送好礼,浮空炫斗手游《镇魔之剑》封测送好礼浮空炫斗手游《镇魔之剑》封测送好礼</p>
                        </div>
                    </li>
                    <li>
                        <a href="" target="_blank" title="口袋部队" class="pic"><img src="http://www.96u.com/uploads/allimg/151024/1580-1510240914050-L.jpg" alt="口袋部队"><span class="down">下载</span></a>
                        <div class="text">
                            <a href="" target="_blank" title="口袋部队" class="title">口袋部队</a>
                            <p>射击游戏</p>
                            <p>10-12 | 234.5M</p>
                            <p>版本：v23.3</p>
                            <p class="info">浮空炫斗手游《镇魔之剑》封测送好礼浮空炫斗手游《镇魔之剑》封测送好礼浮空炫斗手游《镇魔之剑》封测送好礼,浮空炫斗手游《镇魔之剑》封测送好礼浮空炫斗手游《镇魔之剑》封测送好礼</p>
                        </div>
                    </li>
                    <li><a href="" target="_blank" title="口袋部队" class="pic"><img src="http://www.96u.com/uploads/allimg/151024/1580-1510240914050-L.jpg" alt="口袋部队"><span class="down">下载</span></a>
                        <div class="text">
                            <a href="" target="_blank" title="口袋部队" class="title">口袋部队</a>
                            <p>射击游戏</p>
                            <p>10-12 | 234.5M</p>
                            <p>版本：v23.3</p>
                            <p class="info">浮空炫斗手游《镇魔之剑》封测送好礼浮空炫斗手游《镇魔之剑》封测送好礼浮空炫斗手游《镇魔之剑》封测送好礼,浮空炫斗手游《镇魔之剑》封测送好礼浮空炫斗手游《镇魔之剑》封测送好礼</p>
                        </div>
                    </li>
                    <li><a href="" target="_blank" title="口袋部队" class="pic"><img src="http://www.96u.com/uploads/allimg/151024/1580-1510240914050-L.jpg" alt="口袋部队"><span class="down">下载</span></a>
                        <div class="text">
                            <a href="" target="_blank" title="口袋部队" class="title">口袋部队</a>
                            <p>射击游戏</p>
                            <p>10-12 | 234.5M</p>
                            <p>版本：v23.3</p>
                            <p class="info">浮空炫斗手游《镇魔之剑》封测送好礼浮空炫斗手游《镇魔之剑》封测送好礼浮空炫斗手游《镇魔之剑》封测送好礼,浮空炫斗手游《镇魔之剑》封测送好礼浮空炫斗手游《镇魔之剑》封测送好礼</p>
                        </div>
                    </li>
                    <li><a href="" target="_blank" title="口袋部队" class="pic"><img src="http://www.96u.com/uploads/allimg/151024/1580-1510240914050-L.jpg" alt="口袋部队"><span class="down">下载</span></a>
                        <div class="text">
                            <a href="" target="_blank" title="口袋部队" class="title">口袋部队</a>
                            <p>射击游戏</p>
                            <p>10-12 | 234.5M</p>
                            <p>版本：v23.3</p>
                            <p class="info">浮空炫斗手游《镇魔之剑》封测送好礼浮空炫斗手游《镇魔之剑》封测送好礼浮空炫斗手游《镇魔之剑》封测送好礼,浮空炫斗手游《镇魔之剑》封测送好礼浮空炫斗手游《镇魔之剑》封测送好礼</p>
                        </div>
                    </li>
                    <li><a href="" target="_blank" title="口袋部队" class="pic"><img src="http://www.96u.com/uploads/allimg/151024/1580-1510240914050-L.jpg" alt="口袋部队"><span class="down">下载</span></a>
                        <div class="text">
                            <a href="" target="_blank" title="口袋部队" class="title">口袋部队</a>
                            <p>射击游戏</p>
                            <p>10-12 | 234.5M</p>
                            <p>版本：v23.3</p>
                            <p class="info">浮空炫斗手游《镇魔之剑》封测送好礼浮空炫斗手游《镇魔之剑》封测送好礼浮空炫斗手游《镇魔之剑》封测送好礼,浮空炫斗手游《镇魔之剑》封测送好礼浮空炫斗手游《镇魔之剑》封测送好礼</p>
                        </div>
                    </li>
                </ul>
                <div class="page">
                    <a class="first" href="">首页</a>
                    <a class="prev" href="">上一页</a>
                    <a class="num" href="">9</a>
                    <a class="num" href="">10</a>
                    <a class="num" href="">11</a>
                    <span class="current">12</span>
                    <a class="num" href="">13</a>
                    <a class="num" href="">14</a>
                    <a class="num" href="">15</a>
                    <a class="num" href="">16</a>
                    <a class="end" href="">...149</a>
                    <a class="next" href="">下一页</a>
                </div>
            </div>
            <div class="fr cata-r">
                <div class="down-box dis-bot">
                    <div class="mid-tit"><h3>安卓游戏</h3><a href="" target="_blank" class="more">更多</a></div>
                    <ul class="downUl1">
                        <li><a href="" target="_blank">全部</a></li><li><a href="" target="_blank">角色扮演</a></li><li><a href="" target="_blank">动作游戏</a></li>
                        <li><a href="" target="_blank">冒险解谜</a></li><li><a href="" target="_blank">体育运动</a></li><li><a href="" target="_blank">益智休闲</a></li>
                        <li><a href="" target="_blank">棋牌游戏</a></li><li><a href="" target="_blank">模拟经营</a></li><li><a href="" target="_blank">策略塔防</a></li>
                        <li><a href="" target="_blank">养成游戏</a></li><li><a href="" target="_blank">射击游戏</a></li><li><a href="" target="_blank">格斗游戏</a></li>
                        <li><a href="" target="_blank">飞行游戏</a></li><li><a href="" target="_blank">竞速游戏</a></li><li><a href="" target="_blank">音乐舞蹈</a></li>
                    </ul>
                </div>
                <div class="down-box dis-bot">
                    <div class="mid-tit"><h3>安卓游戏推荐</h3></div>
                    <ul class="downUl2">
                        <li><a href="" target="_blank" title="太极熊猫2"><img src="http://www.96u.com/uploads/allimg/151024/1580-1510240914050-L.jpg" alt="太极熊猫2"></a><div class="text"><a href="" target="_blank" title="太极熊猫2">太极熊猫2</a><p class="star star0"></p><p class="cata">格斗游戏</p></div></li>
                        <li><a href="" target="_blank" title="太极熊猫2"><img src="http://www.96u.com/uploads/allimg/151024/1580-1510240914050-L.jpg" alt="太极熊猫2"></a><div class="text"><a href="" target="_blank" title="太极熊猫2">太极熊猫2</a><p class="star star1"></p><p class="cata">格斗游戏</p></div></li>
                        <li><a href="" target="_blank" title="太极熊猫2"><img src="http://www.96u.com/uploads/allimg/151024/1580-1510240914050-L.jpg" alt="太极熊猫2"></a><div class="text"><a href="" target="_blank" title="太极熊猫2">太极熊猫2</a><p class="star star2"></p><p class="cata">格斗游戏</p></div></li>
                        <li><a href="" target="_blank" title="太极熊猫2"><img src="http://www.96u.com/uploads/allimg/151024/1580-1510240914050-L.jpg" alt="太极熊猫2"></a><div class="text"><a href="" target="_blank" title="太极熊猫2">太极熊猫2</a><p class="star star3"></p><p class="cata">格斗游戏</p></div></li>
                        <li><a href="" target="_blank" title="太极熊猫2"><img src="http://www.96u.com/uploads/allimg/151024/1580-1510240914050-L.jpg" alt="太极熊猫2"></a><div class="text"><a href="" target="_blank" title="太极熊猫2">太极熊猫2</a><p class="star star4"></p><p class="cata">格斗游戏</p></div></li>
                        <li><a href="" target="_blank" title="太极熊猫2"><img src="http://www.96u.com/uploads/allimg/151024/1580-1510240914050-L.jpg" alt="太极熊猫2"></a><div class="text"><a href="" target="_blank" title="太极熊猫2">太极熊猫2</a><p class="star star5"></p><p class="cata">格斗游戏</p></div></li>
                        <li><a href="" target="_blank" title="太极熊猫2"><img src="http://www.96u.com/uploads/allimg/151024/1580-1510240914050-L.jpg" alt="太极熊猫2"></a><div class="text"><a href="" target="_blank" title="太极熊猫2">太极熊猫2</a><p class="star star4"></p><p class="cata">格斗游戏</p></div></li>
                        <li><a href="" target="_blank" title="太极熊猫2"><img src="http://www.96u.com/uploads/allimg/151024/1580-1510240914050-L.jpg" alt="太极熊猫2"></a><div class="text"><a href="" target="_blank" title="太极熊猫2">太极熊猫2</a><p class="star star5"></p><p class="cata">格斗游戏</p></div></li>
                    </ul>
                </div>
                <div class="down-box dis-bot rank-cont">
                    <div class="mid-tit"><h3>热门手游排行榜</h3></div>
                     <ul class="rank-ul">
                    <li class="active"><em></em>
                        <a href="" target="_blank" class="title" title="我的世界 移动版">我的世界 移动版</a>
                        <div class="game-cont">
                            <a href="" target="" title="我的世界 移动版"><img src="http://www.96u.com/uploads/allimg/151024/1580-1510241134300-L.jpg" alt="我的世界 移动版"></a>
                            <div class="text">
                                <a href="" target="">我的世界 移动版</a>
                                <span class="star star0"></span>
                                <span class="cata">养成游戏</span>
                            </div>
                            <a href="" target="_blank" class="down">下载</a>
                        </div>
                    </li>
                    <li><em></em>
                        <a href="" target="_blank" class="title" title="我的世界 移动版">我的世界 移动版</a>
                        <div class="game-cont">
                            <a href="" target="" title="我的世界 移动版"><img src="http://www.96u.com/uploads/allimg/151024/1580-1510241134300-L.jpg" alt="我的世界 移动版"></a>
                            <div class="text">
                                <a href="" target="">我的世界 移动版</a>
                                <span class="star star1"></span>
                                <span class="cata">养成游戏</span>
                            </div>
                            <a href="" target="_blank" class="down">下载</a>
                        </div>
                    </li>
                    <li><em></em>
                        <a href="" target="_blank" class="title" title="我的世界 移动版">我的世界 移动版</a>
                        <div class="game-cont">
                            <a href="" target="" title="我的世界 移动版"><img src="http://www.96u.com/uploads/allimg/151024/1580-1510241134300-L.jpg" alt="我的世界 移动版"></a>
                            <div class="text">
                                <a href="" target="">我的世界 移动版</a>
                                <span class="star star2"></span>
                                <span class="cata">养成游戏</span>
                            </div>
                            <a href="" target="_blank" class="down">下载</a>
                        </div>
                    </li>
                    <li><em></em>
                        <a href="" target="_blank" class="title" title="我的世界 移动版">我的世界 移动版</a>
                        <div class="game-cont">
                            <a href="" target="" title="我的世界 移动版"><img src="http://www.96u.com/uploads/allimg/151024/1580-1510241134300-L.jpg" alt="我的世界 移动版"></a>
                            <div class="text">
                                <a href="" target="">我的世界 移动版</a>
                                <span class="star star3"></span>
                                <span class="cata">养成游戏</span>
                            </div>
                            <a href="" target="_blank" class="down">下载</a>
                        </div>
                    </li>
                    <li><em></em>
                        <a href="" target="_blank" class="title" title="我的世界 移动版">我的世界 移动版</a>
                        <div class="game-cont">
                            <a href="" target="" title="我的世界 移动版"><img src="http://www.96u.com/uploads/allimg/151024/1580-1510241134300-L.jpg" alt="我的世界 移动版"></a>
                            <div class="text">
                                <a href="" target="">我的世界 移动版</a>
                                <span class="star star4"></span>
                                <span class="cata">养成游戏</span>
                            </div>
                            <a href="" target="_blank" class="down">下载</a>
                        </div>
                    </li>
                    <li><em></em>
                        <a href="" target="_blank" class="title" title="我的世界 移动版">我的世界 移动版</a>
                        <div class="game-cont">
                            <a href="" target="" title="我的世界 移动版"><img src="http://www.96u.com/uploads/allimg/151024/1580-1510241134300-L.jpg" alt="我的世界 移动版"></a>
                            <div class="text">
                                <a href="" target="">我的世界 移动版</a>
                                <span class="star star5"></span>
                                <span class="cata">养成游戏</span>
                            </div>
                            <a href="" target="_blank" class="down">下载</a>
                        </div>
                    </li>
                    <li><em></em>
                        <a href="" target="_blank" class="title" title="我的世界 移动版">我的世界 移动版</a>
                        <div class="game-cont">
                            <a href="" target="" title="我的世界 移动版"><img src="http://www.96u.com/uploads/allimg/151024/1580-1510241134300-L.jpg" alt="我的世界 移动版"></a>
                            <div class="text">
                                <a href="" target="">我的世界 移动版</a>
                                <span class="star "></span>
                                <span class="cata">养成游戏</span>
                            </div>
                            <a href="" target="_blank" class="down">下载</a>
                        </div>
                    </li>
                    <li><em></em>
                        <a href="" target="_blank" class="title" title="我的世界 移动版">我的世界 移动版</a>
                        <div class="game-cont">
                            <a href="" target="" title="我的世界 移动版"><img src="http://www.96u.com/uploads/allimg/151024/1580-1510241134300-L.jpg" alt="我的世界 移动版"></a>
                            <div class="text">
                                <a href="" target="">我的世界 移动版</a>
                                <span class="star star3"></span>
                                <span class="cata">养成游戏</span>
                            </div>
                            <a href="" target="_blank" class="down">下载</a>
                        </div>
                    </li>
                    <li><em></em>
                        <a href="" target="_blank" class="title" title="我的世界 移动版">我的世界 移动版</a>
                        <div class="game-cont">
                            <a href="" target="" title="我的世界 移动版"><img src="http://www.96u.com/uploads/allimg/151024/1580-1510241134300-L.jpg" alt="我的世界 移动版"></a>
                            <div class="text">
                                <a href="" target="">我的世界 移动版</a>
                                <span class="star star3"></span>
                                <span class="cata">养成游戏</span>
                            </div>
                            <a href="" target="_blank" class="down">下载</a>
                        </div>
                    </li>
                    <li><em></em>
                        <a href="" target="_blank" class="title" title="我的世界 移动版">我的世界 移动版</a>
                        <div class="game-cont">
                            <a href="" target="" title="我的世界 移动版"><img src="http://www.96u.com/uploads/allimg/151024/1580-1510241134300-L.jpg" alt="我的世界 移动版"></a>
                            <div class="text">
                                <a href="" target="">我的世界 移动版</a>
                                <span class="star star1"></span>
                                <span class="cata">养成游戏</span>
                            </div>
                            <a href="" target="_blank" class="down">下载</a>
                        </div>
                    </li>
                </ul>
                </div>








            </div>
        </div>

    </div>
</div>
</block>
