<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>K页面</title>
<link rel="stylesheet" type="text/css" href="/public/home/7230/css/base.css" />
<link rel="stylesheet" type="text/css" href="/public/home/7230/css/kpage.css />
</head>
<body>
<div id="head">
    <div id="top">
        <img src="images/logo.jpg">
        <form action="/search.asp" method="get" id="Search_form" name="Search_form" target="_blank" class="">
           <input type="text" name="keyword" id="searchBox" autocomplete="off" class="" value="输入你想搜索的游戏...">
           <button type="submit" id="searchBtn" class="btn-submit"></button>
        </form>
    </div>
    <div id="nav">
        <ul>
            <li><a href="" target="_blank">首页</a></li>
            <li>资讯
                 <span>
                      <a href="" target="_blank">新游</a>
                      <a href="" target="_blank">活动</a>
                      <a href="" target="_blank">业界</a>
                 </span>
            </li>
            <li>攻略
                 <span>
                      <a href="" target="_blank">网游攻略</a>
                      <a href="" target="_blank">单机攻略</a>
                 </span>
            </li>
            <li>下载
                 <span>
                      <a href="" target="_blank">游戏</a>
                      <a href="" target="_blank">软件</a>
                      <a href="" target="_blank">推荐列表</a>
                      <a href="" target="_blank">筛选</a>
                 </span>
            </li>
            <li>原创
                 <span>
                      <a href="" target="_blank">逗你玩</a>
                      <a href="" target="_blank">评测</a>
                      <a href="" target="_blank">周报</a>
                      <a href="" target="_blank">月报</a>
                 </span>
            </li>
            <li class="ztright">礼包
                 <span>
                      <a href="" target="_blank">新手卡</a>
                      <a href="" target="_blank">激活码</a>
                      <a href="" target="_blank">预定</a>
                      <a href="" target="_blank">内容页</a>
                 </span>
            </li>
            <li class="ztright">测试表
                 <span>
                      <a href="" target="_blank">开测表</a>
                      <a href="" target="_blank">开服表</a>
                 </span>
            </li>
            <li class="ztright">专题
                 <span>
                      <a href="" target="_blank">专区</a>
                      <a href="" target="_blank">合辑</a>
                      <a href="" target="_blank">厂商</a>
                      <a href="" target="_blank">机型</a>
                 </span>
            </li>
            <li class="ztright">排行
                 <span>
                      <a href="" target="_blank">媒体库</a>
                      <a href="" target="_blank">图片库</a>
                 </span>
            </li>
        </ul>
    </div>
    <p id="nav2"></p>
</div>
<div style=" clear:both"></div>
<!-----head-END----->
<div id="kpage">
    <p class="page-nav">当前位置：<a href="">首页</a><a href="">专题</a> 游戏合集</p>
    <div id="banner">
        <img src="images/pic4.jpg">
        <p>
            <b>这是转区可修改的标题</b>
            <i class="info">数据库积分卡浪费浪费家乐福开发贷款方式减肥的事了咖款方式减肥的事了咖款方式减肥的事了咖啡减肥的事了放假了交流交流看了看米兰昆德拉刚看了个考虑考虑可怜的狂蜂浪蝶开发力度...</i>
            <i class="more"><a href="" target="_blank">更多合集>></a></i>
        </p>
    </div>
    <ul class="klb">
        <li>
            <p><a href="" target="_blank" class="pic"><img src="images/pic3.jpg"></a><span><a href="" target="_blank">这是游戏的标题</a><i class="star4 star"></i><i>300M</i><a href="" class="down">下载</a></span></p>
            <b>这是哟IU系的简介，就是东风科技弗雷斯科发了多少看来封建时代封疆大吏克利夫兰是否考虑到索福克勒斯都快放假了都快疯了的开始范克里夫考虑到了康师傅离开对方离开大风大浪法律的反垄断法...</b>
        </li>
        <li>
            <p><a href="" target="_blank" class="pic"><img src="images/pic3.jpg"></a><span><a href="" target="_blank">这是游戏的标题</a><i class="star4 star"></i><i>300M</i><a href="" class="down">下载</a></span></p>
            <b>这是哟IU系的简介，就是东风科技弗雷斯科发了多少看来封建时代封疆大吏克利夫兰是否考虑到索福克勒斯都快放假了都快疯了的开始范克里夫考虑到了康师傅离开对方离开大风大浪法律的反垄断法...</b>
        </li>
        <li>
            <p><a href="" target="_blank" class="pic"><img src="images/pic3.jpg"></a><span><a href="" target="_blank">这是游戏的标题</a><i class="star4 star"></i><i>300M</i><a href="" class="down">下载</a></span></p>
            <b>这是哟IU系的简介，就是东风科技弗雷斯科发了多少看来封建时代封疆大吏克利夫兰是否考虑到索福克勒斯都快放假了都快疯了的开始范克里夫考虑到了康师傅离开对方离开大风大浪法律的反垄断法...</b>
        </li>
        <li>
            <p><a href="" target="_blank" class="pic"><img src="images/pic3.jpg"></a><span><a href="" target="_blank">这是游戏的标题</a><i class="star4 star"></i><i>300M</i><a href="" class="down">下载</a></span></p>
            <b>这是哟IU系的简介，就是东风科技弗雷斯科发了多少看来封建时代封疆大吏克利夫兰是否考虑到索福克勒斯都快放假了都快疯了的开始范克里夫考虑到了康师傅离开对方离开大风大浪法律的反垄断法...</b>
        </li>
        <li>
            <p><a href="" target="_blank" class="pic"><img src="images/pic3.jpg"></a><span><a href="" target="_blank">这是游戏的标题</a><i class="star4 star"></i><i>300M</i><a href="" class="down">下载</a></span></p>
            <b>这是哟IU系的简介，就是东风科技弗雷斯科发了多少看来封建时代封疆大吏克利夫兰是否考虑到索福克勒斯都快放假了都快疯了的开始范克里夫考虑到了康师傅离开对方离开大风大浪法律的反垄断法...</b>
        </li>
        <li>
            <p><a href="" target="_blank" class="pic"><img src="images/pic3.jpg"></a><span><a href="" target="_blank">这是游戏的标题</a><i class="star4 star"></i><i>300M</i><a href="" class="down">下载</a></span></p>
            <b>这是哟IU系的简介，就是东风科技弗雷斯科发了多少看来封建时代封疆大吏克利夫兰是否考虑到索福克勒斯都快放假了都快疯了的开始范克里夫考虑到了康师傅离开对方离开大风大浪法律的反垄断法...</b>
        </li>
        <li>
            <p><a href="" target="_blank" class="pic"><img src="images/pic3.jpg"></a><span><a href="" target="_blank">这是游戏的标题</a><i class="star4 star"></i><i>300M</i><a href="" class="down">下载</a></span></p>
            <b>这是哟IU系的简介，就是东风科技弗雷斯科发了多少看来封建时代封疆大吏克利夫兰是否考虑到索福克勒斯都快放假了都快疯了的开始范克里夫考虑到了康师傅离开对方离开大风大浪法律的反垄断法...</b>
        </li>
        <li>
            <p><a href="" target="_blank" class="pic"><img src="images/pic3.jpg"></a><span><a href="" target="_blank">这是游戏的标题</a><i class="star4 star"></i><i>300M</i><a href="" class="down">下载</a></span></p>
            <b>这是哟IU系的简介，就是东风科技弗雷斯科发了多少看来封建时代封疆大吏克利夫兰是否考虑到索福克勒斯都快放假了都快疯了的开始范克里夫考虑到了康师傅离开对方离开大风大浪法律的反垄断法...</b>
        </li>
    </ul>
    <!----底部轮播---->
    <div id="lunbo">
        <p class="title"><i></i>推荐合集<a href="" target="_blank" class="more"></a></p>
        <div class="lbmain">
            <span class="prev"></span>
            <div class="lunbo-m">
                <ul>
                    <li><a href="" target="_blank"><img src="images/pic1.jpg"></a><a href="" target="_blank" class="title">这是游戏的标题1</a></li>
                    <li><a href="" target="_blank"><img src="images/pic1.jpg"></a><a href="" target="_blank" class="title">这是游戏的标题2</a></li>
                    <li><a href="" target="_blank"><img src="images/pic1.jpg"></a><a href="" target="_blank" class="title">这是游戏的标题3</a></li>
                    <li><a href="" target="_blank"><img src="images/pic1.jpg"></a><a href="" target="_blank" class="title">这是游戏的标题4</a></li>
                    <li><a href="" target="_blank"><img src="images/pic1.jpg"></a><a href="" target="_blank" class="title">这是游戏的标题5</a></li>
                    <li><a href="" target="_blank"><img src="images/pic1.jpg"></a><a href="" target="_blank" class="title">这是游戏的标题6</a></li>
                    <li><a href="" target="_blank"><img src="images/pic1.jpg"></a><a href="" target="_blank" class="title">这是游戏的标题7</a></li>
                    <li><a href="" target="_blank"><img src="images/pic1.jpg"></a><a href="" target="_blank" class="title">这是游戏的标题8</a></li>
                    <li><a href="" target="_blank"><img src="images/pic1.jpg"></a><a href="" target="_blank" class="title">这是游戏的标题9</a></li>
                    <li><a href="" target="_blank"><img src="images/pic1.jpg"></a><a href="" target="_blank" class="title">这是游戏的标题10</a></li>
                    
                </ul>
            </div>
            <span class="next"></span>
        </div>
    </div>
</div>
<div style="clear:both"></div>
<div id="footer">
    <div class="foot-top">
        <ul>
            <li class="zx"><i>资讯</i><a href="" target="_blank">新游</a><a href="" target="_blank">活动</a><a href="" target="_blank">业界</a></li>
            <li class="lm"><i>栏目</i><a href="" target="_blank">周游世界</a><a href="" target="_blank">周游世界</a><a href="" target="_blank">周游世界</a><a href="" target="_blank">专辑</a><a href="" target="_blank">专区</a></li>
            <li class="cp"><i>产品</i><a href="" target="_blank">周游世界</a><a href="" target="_blank">周游世界</a><a href="" target="_blank">周游世界</a><a href="" target="_blank">专辑</a><a href="" target="_blank">专区</a></li>
            <li class="hz"><i>合作</i><a href="" target="_blank">周游世界</a><a href="" target="_blank">周游世界</a><a href="" target="_blank">周游世界</a></li>
            <li class="fx">
                <a href="" class="logo"></a>
                <form action="/search.asp" method="get" id="Search_form" name="Search_form" target="_blank" class="">
                   <input type="text" name="keyword" id="searchBox" autocomplete="off" class="" value="输入你想搜索的游戏...">
                   <button type="submit" id="searchBtn" class="btn-submit"></button>
                </form>
                <span class="fxan">
                    <!-- JiaThis Button BEGIN -->
                    <div class="jiathis_style_32x32">
                        <a class="jiathis_button_qzone"></a>
                        <a class="jiathis_button_tsina"></a>
                        <a class="jiathis_button_tqq"></a>
                        <a class="jiathis_button_weixin"></a>
                        <a class="jiathis_button_renren"></a>
                        <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                    </div>
                    <!-- JiaThis Button END -->
                </span>
            </li>
        </ul>
    </div>
    <div class="foot-bottom">
        <span>
            <b>友情链接：</b>
            <a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a>
            <a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a>
            <a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a>
            <a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a>
            <a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a><a href="" target="_blank">手游排行榜</a>
            <a href="" target="_blank">手游排行榜</a>
            <p><a href="" target="_blank">关于本站</a>|<a href="" target="_blank">免责声明</a>|<a href="" target="_blank">网站合作</a>|<a href="" target="_blank">友情链接</a></p>
            <p>Copyright © 2012 7230手机门户(www.7230.com).All Right severed 备案编号：湘ICP备14002623号</p>
        </span>
    </div>
</div>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/news.js"></script>
<!--<script type="text/javascript" src="js/iepngfix_tilebg.js"></script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>-->
</body>
</html>
