<div style=" clear:both"></div>
<div id="footer">
    <div class="main">
        <a href="http://www.anfensi.com" class="logo_b"><img src="__PUBLIC__/Home/afs/images/logo2.jpg"></a>
        <div>
            <p><a href="http://www.anfensi.com" target="_blank">好玩的手游</a>┊
            <a href="http://www.anfensi.com/shouyou/" target="_blank">手机网游</a>┊
	           <a href="http://www.anfensi.com/top/" target="_blank">手游排行榜</a>┊
			<a href="http://www.anfensi.com/360weishi/" rel="nofollow" target="_blank">手机卫士</a>┊<a rel="nofollow" href="http://www.anfensi.com/zhushou/" target="_blank">手机助手</a>┊
			<a href="http://www.anfensi.com/about.html" rel="nofollow" target="_blank">关于我们</a>┊<a rel="nofollow" href="http://www.anfensi.com/contactus.html" target="_blank">联系我们</a>┊
			<a href="http://www.anfensi.com/sitemap.html" target="_blank">网站地图</a>
            <p>Copyright © anfensi.com All rights reserved. 湘ICP备15016493号-1</p>
        </div>
    </div>
</div>
<script type="text/javascript" src="__PUBLIC__/static/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/afs/js/anfans.js"></script>
