<script language="javascript"> window.  = '{:C("DYNAMIC_SERVER_URL")}';</script>
<div id="top">
    <div class="top-main">
        <p class="left"><a href="http://m.anfensi.com">手机版</a></p>
        <ul>
            <li><a href="http://www.anfensi.com/top/">手游排行榜</a></li>
            <li><a href="http://www.anfensi.com/top/2014/">手游排行榜2015</a></li>
            <li><a href="http://www.anfensi.com/top/danji/">手机单机游戏排行榜</a></li>
            <li><a href="http://www.anfensi.com/top/android/">安卓游戏排行榜</a></li>
            <li><a href="http://www.anfensi.com/top/japan/">日本游戏排行榜</a></li>
            <li><a href="http://www.anfensi.com/top/kapai/">卡牌手游排行榜</a></li>
            <li><a href="{:C('PACKAGE_SLD')}">游戏礼包</a></li>
            <li><a href="http://www.anfensi.com/zuixin/">最新软件</a></li>
        </ul>
    </div>
</div>