<extend name="Home@dongdong/Widget/common/common" />


<block name="style">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/dongdong/gw/css/help.css"/>
</block>

<block name="body">

    <div id="main">
        <div class="help_left">
            <ul class="help_nav">
                <li><p><em>+</em>安装卸载</p>
                    <ul class="mm">
                        <li><i class="cur">安装</i></li>
                        <li><i>升级</i></li>
                        <li><i>卸载</i></li>
                    </ul>
                </li>
                <li><p><em>+</em>开始使用</p>
                    <ul class="mm">
                        <li><i>引擎安装</i></li>
                        <li><i>应用安装</i></li>
                    </ul>
                </li>
                <li><p><em>+</em>高级功能</p>
                    <ul class="mm">
                        <li><i>基本设置</i></li>
                        <li><i>分辨率和内存设置</i></li>
                        <li><i>添加共享文件夹</i></li>
                        <li><i>IMEI修改</i></li>
                        <li><i>一键Root</i></li>
                    </ul>
                </li>
                <li><p><em>+</em>常见问题</p>
                    <ul class="mm">
                        <li><i>游戏问题</i></li>
                        <li><i>模拟器问题</i></li>
                    </ul>
                </li>
                <li><p><em>+</em>问题反馈</p>
                    <ul class="mm">
                        <li><i>反馈方式</i></li>
                    </ul>
                </li>
                <li><p><em>+</em>官方交流</p>
                    <ul class="mm">
                        <li><i>交流方式</i></li>
                        <li><i>关于我们</i></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="help_right">
            <div class="neir">
                <ul class="current">
                    <li><a>如何安装东东助手？</a>
                        <div>
                            1.东东助手官网（ <a href = "http://www.idongdong.com/zs">http://www.idongdong.com/zs</a> ）下载东东助手运行即可安装。<br>
                            建议选择安装到C盘以外且剩余空间大于 8G 的磁盘。<br>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li><a>如何升级东东助手？</a>
                        <div>
                            如何获取最新的版本<br>
                            1.助手会在启动的时候自动检测更新，提示更新时选 “是“ 即可。<br>
                            2.东东助手官网（ <a href = "http://www.idongdong.com/zs">http://www.idongdong.com/zs</a> ）下载最新版，手动安装即可<br>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li><a>如何卸载东东助手？</a>
                        <div>
                            方法一：<br>
                            1.开始菜单——>所有程序——>东东助手——>卸载东东助手<br>
                            2.在弹出的对话框中选择“是”即可。如图：<br>
                            <img src="__PUBLIC__/Home/dongdong/gw/images1/xzdd.jpg"/><br>
                            方法二：<br>
                            1.Win7:开始菜单——>按制面版——>程序<br>
                            XP:开始菜单——>按制面版——>添加删除程序——>更改或删除程序<br>
                            以Win7为例，打开控制面板找到程序如下图所示：<br>
                            <img src="__PUBLIC__/Home/dongdong/gw/images1/xzcx.jpg"/><br>
                            2.找到东东助手右击鼠标选择“卸载/更改”，然后选“是”即可。如图：<br>
                            <img src="__PUBLIC__/Home/dongdong/gw/images1/xz.jpg"/><br>
                            注：卸载东东助手并不会卸载模拟器，如果要卸载模拟器请使用相同的方法
                        </div>
                    </li>
                </ul>
                <ul>
                    <li><a>安卓引擎的安装</a>
                        <div>
                            方法一：1.打开安装检测, 如果您没有安装模拟器，会出现下图所示的界面。<br>
                            <img src="__PUBLIC__/Home/dongdong/gw/images1/azyq.jpg"/><br>
                            点击“开始检测”，安装模拟器前先检测您的电脑环境如图：<br>
                            <img src="__PUBLIC__/Home/dongdong/gw/images1/azyq2.jpg"/><br>
                            2.检测通过后将自动下载安装合适模拟器，等待下载安装完成即可：<br>
                            <img src="__PUBLIC__/Home/dongdong/gw/images1/azyq3.jpg"/><br>
                            3.如果检测不通过，请进行修复，然后执行安装：<br>
                            <img src="__PUBLIC__/Home/dongdong/gw/images1/azyq4.jpg"/><br>
                            方法二：跳过检测直接在线安装，或都手动下载安装包进行安装。<br>
                            <img src="__PUBLIC__/Home/dongdong/gw/images1/azyq5.jpg"/><br>
                        </div>
                    </li>
                    <li><a>安卓引擎卸载</a>
                        <div>
                            方法一：可以在开始在菜单中卸载模拟器，选择开始——>bluestacks——>卸载bluestacks——>在弹出的对话框中选择“是”即可卸载。<br>
                            方法二：可以点击重新检测进行模拟器的卸载。步骤如下图：<br>
                            <img src="__PUBLIC__/Home/dongdong/gw/images1/azyq5.jpg"/><br>
                            1.打开东东助手——>安装检测——>选择重新检测。<br>
                            <img src="__PUBLIC__/Home/dongdong/gw/images1/xzyq1.jpg"/><br>
                            2.选择”一键修复”即会弹出确定卸载安卓模拟器对话框，选择”是”卸载模拟器即可。<br>
                            <img src="__PUBLIC__/Home/dongdong/gw/images1/xzyq1.jpg"/><br>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li><a>如何下载应用？</a>
                        <div>
                            1.打开东东助手，在左边选择应用下载选择你喜欢的应用下载即可，或者还可以点击分类标签搜索你喜欢的游戏应用<br>
                            <img src="__PUBLIC__/Home/dongdong/gw/images1/xzyy.jpg"/><br>
                            2.可以单击应用名称查看应用信息点击安装<br>
                            <img src="__PUBLIC__/Home/dongdong/gw/images1/ckyy.jpg"/><br>
                            单击安装后，东东助手将在线下载安装。安装完成后可以点启动直接在模拟器中运行。<br>
                            <img src="__PUBLIC__/Home/dongdong/gw/images1/qdyy.jpg"/><br>
                        </div>
                    </li>
                    <li><a>如何安装本地应用？</a>
                        <div>
                            1.选择我的应用  安装本地应用  找到本地应用存放位置单击打开<br>
                            <img src="__PUBLIC__/Home/dongdong/gw/images1/azyy.jpg"/><br>
                            2.东东助手会自动将你选择的本地应用安装到模拟器上。<br>
                        </div>
                    </li>
                    <li><a>如何卸载已装应用</a>
                        <div>
                            单击卸载后，东东助手将立即卸载。卸载完成后模拟器中将没有该应用。<br>
                            <img src="__PUBLIC__/Home/dongdong/gw/images1/xzyy2.jpg"/><br>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li><a>基本设置</a>
                        <div>
                            打开东东助手，选择模拟器设置——>基本设置。此处可以更改是否开机启动模拟器。选中则不会开机启动引擎，可以加块开机速度。如图：<br>
                            <img src="__PUBLIC__/Home/dongdong/gw/images1/sz2.jpg"/><br>
                            注：因为该操作涉及到系统操作,部分杀毒软件可能会有提示， 属正常现象。<br>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li><a>分辨率和内存设置</a>
                        <div>
                            分辨率是指引擎启动后的大小，以像素为单位，可以设为不大于显示器分辨率的任意值。您可以根据个人喜好和实际情况来设置。我们建议您设为800 *600（可用一键宽屏来设置）
                            如图：<br>
                            <img src="__PUBLIC__/Home/dongdong/gw/images1/sz1.jpg"/><br>
                            部分应用如“智行火车票”、“PC6市场” 可能使用竖屏更合适（可用一键竖屏来设置），此时引擎看上去就像是Adroid手机 如下图：<br>
                            <img src="__PUBLIC__/Home/dongdong/gw/images1/sz3.jpg"/><br>
                            修改分辨虑需要重新启动引擎方可生效，请按提示操作即可。<br>
                            内存：引擎占用的内存，此项要根据您电脑配置大小来设置一个合适值。我们建议设置如下：<br>
                            <table width="100%" border="1" align="center" cellpadding="80" cellspacing="2">
                                <tr>
                                    <td>电脑内存</td>
                                    <td>1G以下</td>
                                    <td>1G</td>
                                    <td>2G</td>
                                    <td>2G以上</td>
                                </tr>
                                <tr>
                                    <td>推荐大小</td>
                                    <td>40%</td>
                                    <td>512M</td>
                                    <td>768M~1024M</td>
                                    <td>1024或更大</td>
                                </tr>
                            </table>

                            默认为768M 如果您的电脑内存不大建议您把虚拟内存设大点。请根据您的实际情况进行调整。合适大小的内存有助于引擎和电脑的流畅运行<br>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li><a>添加共享文件夹</a>
                        <div>
                            通过共享文件夹可以使您能从引擎方便的访问电脑上的文件和文件夹
                            步骤如下：<br>
                            1.输入一个显示名称，表示该文件夹在引擎中显示的名称如test<br>
                            2.点“选择”选择一个要共享的文件夹如图:<br>
                            <img src="__PUBLIC__/Home/dongdong/gw/images1/sz4.jpg"/><br>
                            3.点“确定添加”，弹出如下提示：<br>
                            <img src="__PUBLIC__/Home/dongdong/gw/images1/sz5.jpg"/><br>
                            选择“是”重启引擎生效，在引擎中可以通过Root Explorer来看到 如下：<br>
                            <img src="__PUBLIC__/Home/dongdong/gw/images1/sz6.jpg"/><br>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li><a>IMEI修改</a>
                        <div>
                            此处可修改引擎的IMEI号，IMEI（International Mobile Equipment Identity）是移动设备国际身份码的缩写，每一台设备都具有一个唯一的IMEI值。<br>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li><a>一键Root</a>
                        <div>
                            让您的引擎就像是一台经过Root的手机设备一样。Root有可能让您的引擎不能正常运行，请谨慎操作。<br>
                            Root前请使用数据备份和还原功能对数据进行备份，否则您安装的应用和数据会丢失哦。<br>
                            若Root后出现无法启动的情况，请使用重新检测功能进行修复。<br>
                            <img src="__PUBLIC__/Home/dongdong/gw/images1/sz7.jpg"/><br>
                            注：东东助手给您装的引擎已经进行Root，无需再次进行ROOT <br>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li><a>游戏闪退与程序异常</a>
                        <div>
                            1.下载的游戏有模拟器不兼容。可以去东东手游官网去下载您所需的游戏。<br>
                            2.模拟器内存不够。可以用东东助手将模拟器内存进行扩大。一般模拟器默认为768M 如果您的电脑内存不大建议您把虚拟内存设大点。请根据您的实际情况进行调整。<br>
                        </div>
                    </li>
                    <li><a>东东助手没有需要的游戏版本</a>
                        <div>
                            如果玩家在东东助手中没有找到自己的心仪游戏或版本，可以自己从网络上下载所需游戏或版本，用安装本地应用来安装游戏到模拟器，但因应用不同，东东无法保证本地安装游戏的兼容性，如果出现不能玩的情况，请加东东官方群（399788576）提问测试<br>
                        </div>
                    </li>
                    <li><a>游戏授权失败或者一直在登陆</a>
                        <div>
                            1.玩QQ或者微信的游戏出现授权失败或者一直登陆中的可以在东东的应用市场中找到微信或者手机QQ下载一个安装到东东里面然后再登陆即可<br>

                        </div>
                    </li>
                </ul>
                <ul>
                    <li><a>模拟器启动失败</a>
                        <div>
                            1.模拟器安装包损坏，用东东检测工具进行检测修复安装。（详细请查看本页面右侧开始使用中的引擎安装）；<br>
                            2.系统需要的组件误删。用东东助手安装检测功能，重新检测安装，东东将自动下载所需组件。<br>
                        </div>
                    </li>
                    <li><a>模拟器黑屏或界面不动</a>
                        <div>
                            1.游戏无响应导致模拟器卡顿。可以尝试重启模拟器。<br>
                            2.检查显卡是否符合要求（需要显卡支持OPENGL2.1以上，intel主板的集成显卡无法使用东东助手（HD Graphics系列）除外<br>
                            3.打开游戏后如果模拟器正常进入了但是游戏画面不出现一直卡在一个蓝色界面的话证明是此游戏和模拟器不兼容所致（如果是集成显卡可以尝试增加独立显卡）<br>
                        </div>
                    </li>
                    <li><a>其他设置</a>
                        <div>
                            1.东东助手的模拟器暂时无法使用电脑摄像头所以相关软件无法使用<br>
                            2.如果玩游戏的过程中游戏卡，推荐关闭游戏内部的声音后再试试<br>
                            3.一般玩游戏卡是因为电脑配置原因，模拟器对电脑的处理器和内存要求较高东东手游的模拟器配置需求是intel双核/四核3.0G以上，4G内存 AMD四核以上3.0G，4G内存如果比上述配置低的出现卡顿是正常现象（安卓引擎界面有每个模拟器的推荐配置）<br>
                            4.个别游戏是因为游戏优化问题出现卡顿比如：天天富翁，神雕侠侣等，另外3D游戏对配置需求更高<br>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li><a>反馈方式</a>
                        <div>
                            1.可以点击右上方提供的问题反馈页提交您遇到的问题。<br>
                            2.还可以在线提问在东东助手官方群 106192391（本群为东东助手官方群，有任何有关东东助手的问题都可以找群中GM来解答）<br>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li><a>交流方式</a>
                        <div>
                            可以加入东东手游官方群进行提问交流，有GM在线解答您的问题，如果您有什么好的建议与意见，都可以在群里提出，我们都将实时记录和采纳。<br>
                            东东助手官方群： 106192391<br>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li><a>关于我们</a>
                        <div>
                            东东助手是于2014年9月8日推出的一个专为第三方智能安卓引擎提供管理的免费应用程序，是国内最完美的安卓引擎管理软件。<br>

                            安卓引擎支持微信、陌陌等日常生活应用，同时支持天天酷跑、我叫MT等手机游戏，可以将手机游戏一键安装到电脑上。您还可以通过东东手游网（应用中心）一键下载安装APP应用到电脑。<br>

                            东东手游网（应用中心）提供海量免费资源，为您提供更加安全便捷的下载安装渠道，省去了您上网搜索下载添加的步聚，是您电脑运行手机应用的完美解决方案。<br>

                            东东助手官网：<a href="http://www.idongdong.com/zs" target="_blank">http://www.idongdong.com/zs</a><br>

                            东东手游网：<a href="http://www.idongdong.com" target="_blank">http://www.idongdong.com</a><br>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>

</block>



<block name="script">
    <script type="text/javascript" src="__PUBLIC__/Home/dongdong/gw/js/help_rz.js"></script>
</block>