<volist name="fields[$key]" id="field">
<if condition="$field['is_show'] == 1 || $field['is_show'] == 3">
<div class="form-item cf">
<eq name="field.name" value="company_id">
    <label class="item-label">
        <div  class="fl">厂商标签</div>
        <div class="search-form fl check-tips">
            <div class="sleft tags_combotree_search company_id_search">
                <input type="text" name="company_title" class="search-input" value="" placeholder="请输入标签名称" data-type="company" data-category="">
                <a class="sch-btn" href="javascript:;" ><i class="btn-search"></i></a>
                <div class="ajax-rs-list">
                    <ul class="hidden"></ul>
                </div>
            </div>
        </div>
    </label>
    <script type="text/javascript">
        //初始化对象
        $('.company_id_search .sch-btn').click(function(){
            // 搜索
            var keywords = encodeURI($('.company_id_search :text').val());
            var type = $('.company_id_search :text').attr('data-type');
            $.ajax({
                url: 'admin.php?s=/company/getTagsSearch/keywords/'+keywords,
                type: 'GET',
                dataType: 'json',
                success:function(data) {
                    ul = $('.company_id_search .ajax-rs-list ul');
                    if(data){
                        data = eval(data);
                        var str = '';
                        var m = data.length>20 ? 20 : data.length;   // 最多20条
                        for (var i = m - 1; i >= 0; i--) {
                            str += '<li><a href="javascript:;" value="' + data[i]['id'] + '">' + data[i]['name'] + '</a></li>';
                        };
                        // 加载LI数据
                        ul.attr('class','').html(str);
                        // 注册事件
                        ul.find('li').on('click', function(event) {
                            $("select[name='company_id']").val($(this).find('a').attr("value"));
                            ul.attr('class','hidden').html('');

                        });
                    }else{
                        ul.attr('class','hidden').html('');
                    }
                }
            });
        });
        $("input").focus(function(){
            ul = $('.company_id_search .ajax-rs-list ul');
            ul.attr('class','hidden').html('');
        });
    </script>
    <else/>
        <eq name="field.name" value="package_id">
            <label class="item-label">
                <div  class="fl">所属公司</div>
                <div class="search-form fl check-tips">
                    <div class="sleft tags_combotree_search package_id_search">
                        <input type="text" name="package_title" class="search-input" value="" placeholder="请输入公司名称" data-type="package" data-category="">
                        <a class="sch-btn" href="javascript:;" ><i class="btn-search"></i></a>
                        <div class="ajax-rs-list">
                            <ul class="hidden"></ul>
                        </div>
                    </div>
                </div>
            </label>
            <script type="text/javascript">
                //初始化对象
                $('.package_id_search .sch-btn').click(function(){
                    // 搜索
                    var keywords = encodeURI($('.package_id_search :text').val());
                    var type = $('.package_id_search :text').attr('data-type');
                    $.ajax({
                        url: 'admin.php?s=/api/getPackageTitle/keywords/'+keywords,
                        type: 'GET',
                        dataType: 'json',
                        success:function(data) {
                            ul = $('.package_id_search .ajax-rs-list ul');
                            if(data){
                                data = eval(data);
                                var str = '';
                                var m = data.length>20 ? 20 : data.length;   // 最多20条
                                for (var i = m - 1; i >= 0; i--) {
                                    str += '<li><a href="javascript:;" value="' + data[i]['id'] + '">' + data[i]['title'] + '</a></li>';
                                };
                                // 加载LI数据
                                ul.attr('class','').html(str);
                                // 注册事件
                                ul.find('li').on('click', function(event) {
                                    $("select[name='package_id']").val($(this).find('a').attr("value"));
                                    ul.attr('class','hidden').html('');

                                });
                            }else{
                                ul.attr('class','hidden').html('');
                            }
                        }
                    });
                });
                $("input").focus(function(){
                    ul = $('.package_id_search .ajax-rs-list ul');
                    ul.attr('class','hidden').html('');
                });
            </script>

            <else/>

            <label class="item-label">{$field['title']}<span class="check-tips"><notempty name="field['remark']">（{$field['remark']}）</notempty></span></label>
        </eq>
</eq>
<!--label class="item-label">{$field['title']}<span class="check-tips"><notempty name="field['remark']">（{$field['remark']}）</notempty></span></label-->
<div class="controls">
<switch name="field.type">
<case value="num">
    <input type="text" class="text input-mid" name="{$field.name}" value="{$data[$field['name']]}" >
</case>
<case value="string">
    <input type="text" class="text input-large" name="{$field.name}" value="{$data[$field['name']]}">
</case>
<case value="stringForConfig">
    <div class="stringForConfig">
        <input type="text" class="text input-large" name="{$field.name}" value="{$data[$field['name']]}">
        <volist name=":C($field['extra'])" id="vo">
            <a href="javascript:;" style="margin:0 5px">{$vo}</a>
        </volist>
    </div>
</case>
    <case  value="play_sp" >
        <div class="play_sp">
        <input type="text" class="text input-large " name="{$field.name}" value="{$data[$field['name']]}">
        <span   class="btn btn-return shipingb" >点击浏览视频</span>
        <div class="div"  style="float: right;display:none">
        </div>
        </div>
    </case>
<case value="textarea">
    <label class="textarea input-large">
        <textarea name="{$field.name}">{$data[$field['name']]}</textarea>
    </label>
</case>
<case value="date">
    <input type="text" name="{$field.name}" class="text date" value="{$data[$field['name']]|date='Y-m-d',###}" placeholder="请选择日期" />
</case>
<case value="datetime">
    <input type="text" name="{$field.name}" class="text time" value="{$data[$field['name']]|time_format}" placeholder="请选择时间" />
</case>
<case value="bool">
    <select name="{$field.name}">
        <volist name=":parse_field_attr($field['extra'])" id="vo">
            <option value="{$key}" <eq name="data[$field['name']]" value="$key">selected</eq>>{$vo}</option>
        </volist>
    </select>
</case>
<case value="select">
    <select name="{$field.name}" onchange="template(this)">
        <volist name=":parse_field_attr($field['extra'])" id="vo">
            <option value="{$key}" <eq name="data[$field['name']]" value="$key">selected</eq>>{$vo}</option>
        </volist>
    </select>
</case>
<case value="idForTable">
    <select name="{$field.name}" onchange="template(this)">
        <volist name=":parse_field_idForTable($field['extra'])" id="vo">
            <option value="{$key}" <eq name="data[$field['name']]" value="$key">selected</eq>>{$vo}</option>
        </volist>
    </select>
</case>
<case value="radio">
    <volist name=":parse_field_attr($field['extra'])" id="vo">
        <label class="radio">
            <input type="radio" value="{$key}" name="{$field.name}" <eq name="data[$field['name']]" value="$key">checked="checked"</eq>>{$vo}
        </label>
    </volist>
</case>
<case value="checkbox">
    <volist name=":parse_field_attr($field['extra'])" id="vo">
        <label class="checkbox">
            <input type="checkbox" value="{$key}" name="{$field.name}[]" <if condition="check_document_position($data[$field['name']],$key)">checked="checked"</if>>{$vo}
        </label>
    </volist>
</case>
<case value="editor">
    <div class="controls">
        <input type="file" id="upload_picture_{$field.name}">
    </div>
    <script type="text/javascript">
        function insert_img_{$field.name}(id)
        {
            var src = $("#"+id).parent().parent().parent().find('img').attr('src');
            editor_{$field.name}.insertHtml('<img src="'+src+'"/>');
            var t = $("#"+id).offset().top;
            $(window).animate({scrollTop:t},500);
        }
        function insert_thumb_{$field.name}(tid)
        {
            var thumb_src =  $("#"+tid).parent().parent().parent().find('img').attr('src');
            var model_id = $("input[name='model_id']").val();
            $.ajax({
                dataType:"jsonp",
                jsonp:"callback",
                jsonpCallback:"insertThumbImg",
                url: "{:U('SetThumb/insertThumbImg',array('session_id',session_id()))}",
                data: {src : thumb_src , model_id : model_id},
                success: function(data){
                    if(data){
                        var id  = 'cover_id_'+data.field;
                        $("#"+id).parent().find('.upload-img-box').html(
                                '<div class="upload-pre-item"><img src="' + thumb_src + '"/><div class="close"></div></div>'
                        );
                        window.multiclose.close();
                        $("#"+id).val(data.value);
                        var t = $("#"+id).offset().top;
                        $(window).animate({scrollTop:t},500);
                        alert('插入缩略图成功！');
                    }
                    else
                    {
                        alert('插入缩略图失败！');
                    }
                }
            });
        }
        //上传图片
        /* 初始化上传插件 */
        $("#upload_picture_{$field.name}").uploadify({
            "multi" : true,
            "height"          : 30,
            "swf"             : "__STATIC__/uploadify/uploadify.swf",
            "fileObjName"     : "download",
            "buttonText"      : "图片资源上传（可多选）",
            "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id(),'session_name'=>'upload_picture_'.$field['name']))}",
            "width"           : 170,
            'removeTimeout'      : 1,
            'fileTypeExts'   : '*.jpg; *.png; *.gif;',
            "onUploadSuccess" : uploadPicture{$field.name},
        'onFallback' : function() {
            alert('未检测到兼容版本的Flash.');
        }
        });
        function uploadPicture{$field.name}(file, data){
            var data = $.parseJSON(data);
            var src = '';
            if(data.status){
                //修改表单值
                var cover_id = $("#cover_id_{$field.name}").val();
                if(cover_id){
                    $("#cover_id_{$field.name}").val(cover_id + ',' + data.id);
                }else{
                    $("#cover_id_{$field.name}").val(data.id);
                }
                //添加图片区
                src = data.url || '__ROOT__' + data.path;
                var pobj = $(".upload-img-box-{$field.name}");
                flag=pobj.find('li').length;
                pobj.html(pobj.html() + '<li><img src="' + src + '"/><div class="close"></div><div style=""><span><a href="javascript:void(0);" id="multi_img_insert'+flag+'" onclick="insert_img_{$field.name}(\'multi_img_insert'+flag+'\')">插入</a> | <a href="javascript:void(0);" id="thumb_img_insert'+flag+'" onclick="insert_thumb_{$field.name}(\'thumb_img_insert'+flag+'\')">设置为缩略图</a></span></div></li>');
                //加载删除事件
                window.editormulticlose.close();
            } else {
                updateAlert(data.info);
                setTimeout(function(){
                    $('#top-alert').find('button').click();
                    $(that).removeClass('disabled').prop('disabled',false);
                },1500);
            }
        }
    </script>
    <label class="textarea" style="width: 1920px;">
        <div class="textarea-div"> <textarea name="{$field.name}">{$data[$field['name']]}</textarea></div>
        <div class="multi-img-box">
           <ul class="upload-img-box-{$field.name} ">
           </ul>
        </div>
        {:hook('adminArticleEdit', array('name'=>$field['name'],'value'=>$data[$field['name']]))}
    </label>
</case>
<case value="picture">
    <div class="controls">
        <input type="file" id="upload_picture_{$field.name}">
        <input type="hidden" name="{$field.name}" id="cover_id_{$field.name}" value="{$data[$field['name']]}"/>
        <div class="upload-img-box">
            <notempty name="data[$field['name']]">
                <div class="upload-pre-item"><img src="{$data[$field['name']]|get_cover='path'}"/><div class="close"></div></div>
            </notempty>
        </div>
    </div>
    <script type="text/javascript">
        //上传图片
        /* 初始化上传插件 */
        $("#upload_picture_{$field.name}").uploadify({
            "height"          : 30,
            "swf"             : "__STATIC__/uploadify/uploadify.swf",
            "fileObjName"     : "download",
            "buttonText"      : "上传图片",
            "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
            "width"           : 120,
            'removeTimeout'      : 1,
            'fileTypeExts'   : '*.jpg; *.png; *.gif;',
            "onUploadSuccess" : uploadPicture{$field.name},
        'onFallback' : function() {
            alert('未检测到兼容版本的Flash.');
        }
        });
        function uploadPicture{$field.name}(file, data){
            var data = $.parseJSON(data);
            var src = '';
            if(data.status){
                $("#cover_id_{$field.name}").val(data.id);
                src = data.url || '__ROOT__' + data.path
                $("#cover_id_{$field.name}").parent().find('.upload-img-box').html(
                        '<div class="upload-pre-item"><img src="' + src + '"/><div class="close"></div></div>'
                );
                //加载删除事件
                window.multiclose.close();
            } else {
                updateAlert(data.info);
                setTimeout(function(){
                    $('#top-alert').find('button').click();
                    $(that).removeClass('disabled').prop('disabled',false);
                },1500);
            }
        }
    </script>
</case>
<case value="multipicture">
    <div class="controls">
        <input type="file" id="upload_picture_{$field.name}">
        <input type="hidden" name="{$field.name}" id="cover_id_{$field.name}" value="{$data[$field['name']]}"/>
        <div class="upload-img-box">
            <notempty name="data[$field['name']]">
                <volist name=":explode(',',$data[$field['name']])" id="vo">
                    <div class="upload-pre-item"><img src="{$vo|get_cover='path'}"/><div class="close"></div></div>
                </volist>
            </notempty>
        </div>
    </div>
    <script type="text/javascript">
        //上传图片
        /* 初始化上传插件 */
        $("#upload_picture_{$field.name}").uploadify({
            "multi" : true,
            "height"          : 30,
            "swf"             : "__STATIC__/uploadify/uploadify.swf",
            "fileObjName"     : "download",
            "buttonText"      : "多图上传",
            "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
            "width"           : 120,
            'removeTimeout'      : 1,
            'fileTypeExts'   : '*.jpg; *.png; *.gif;',
            "onUploadSuccess" : uploadPicture{$field.name},
        'onFallback' : function() {
            alert('未检测到兼容版本的Flash.');
        }
        });
        function uploadPicture{$field.name}(file, data){
            var data = $.parseJSON(data);
            var src = '';
            if(data.status){
                //修改表单值
                var cover_id = $("#cover_id_{$field.name}").val();
                if(cover_id){
                    $("#cover_id_{$field.name}").val(cover_id + ',' + data.id);
                }else{
                    $("#cover_id_{$field.name}").val(data.id);
                }
                //添加图片区
                src = data.url || '__ROOT__' + data.path;
                var pobj = $("#cover_id_{$field.name}").parent().find('.upload-img-box');
                pobj.html(pobj.html() + '<div class="upload-pre-item"><img src="' + src + '"/><div class="close"></div></div>') ;
                //加载删除事件
                window.multiclose.close();
            } else {
                updateAlert(data.info);
                setTimeout(function(){
                    $('#top-alert').find('button').click();
                    $(that).removeClass('disabled').prop('disabled',false);
                },1500);
            }
        }
    </script>
</case>
<case value="file">
    <div class="controls">
        <input type="file" id="upload_file_{$field.name}">
        <input type="hidden" name="{$field.name}" value="{$data[$field['name']]}"/>
        <div class="upload-img-box">
            <present name="data[$field['name']]">
                <div class="upload-pre-file"><if condition="$data[$field['name']] gt 0 "><div class="close"></div></if><span class="upload_icon_all"></span>{$data[$field['name']]|get_table_field=###,'id','name','File'}</div>
            </present>
        </div>
    </div>
    <script type="text/javascript">
        //上传图片
        /* 初始化上传插件 */
        $("#upload_file_{$field.name}").uploadify({
            "height"          : 30,
            "swf"             : "__STATIC__/uploadify/uploadify.swf",
            "fileObjName"     : "download",
            "buttonText"      : "上传附件",
            "uploader"        : "{:U('File/upload',array('session_id'=>session_id()))}",
            "width"           : 120,
            'removeTimeout'      : 1,
            "onUploadSuccess" : uploadFile{$field.name},
        'onFallback' : function() {
            alert('未检测到兼容版本的Flash.');
        }
        });
        function uploadFile{$field.name}(file, data){
            var data = $.parseJSON(data);
            if(data.status){
                var name = "{$field.name}";
                $("input[name="+name+"]").val(data.id);
                $("input[name="+name+"]").parent().find('.upload-img-box').html(
                        "<div class=\"upload-pre-file\"><div class=\"close\"></div><span class=\"upload_icon_all\"></span>" + data.name + "</div>"
                );
                //加载删除事件
                window.fileclose.close();
            } else {
                updateAlert(data.info);
                setTimeout(function(){
                    $('#top-alert').find('button').click();
                    $(that).removeClass('disabled').prop('disabled',false);
                },1500);
            }
        }
    </script>
</case>
<case value="multifile">
    <div class="controls">
        <input type="file" id="upload_file_{$field.name}">
        <input type="hidden" name="{$field.name}" value="{$data[$field['name']]}"/>
        <div class="upload-img-box">
            <notempty name="data[$field['name']]">
                <volist name=":explode(',',$data[$field['name']])" id="vo">
                    <div class="upload-pre-item">
                        <div class="file">
                            <span class="upload_icon_all"></span>{$vo|get_table_field=###,'id','name','File'}
                        </div>
                        <div class="close"></div>
                    </div>
                </volist>
            </notempty>
        </div>
    </div>
    <script type="text/javascript">
        //上传图片
        /* 初始化上传插件 */
        $("#upload_file_{$field.name}").uploadify({
            "height"          : 30,
            "swf"             : "__STATIC__/uploadify/uploadify.swf",
            "fileObjName"     : "download",
            "buttonText"      : "上传附件",
            "uploader"        : "{:U('File/upload',array('session_id'=>session_id()))}",
            "width"           : 120,
            'removeTimeout'      : 1,
            "onUploadSuccess" : uploadFile{$field.name},
        'onFallback' : function() {
            alert('未检测到兼容版本的Flash.');
        }
        });
        function uploadFile{$field.name}(file, data){
            var data = $.parseJSON(data);
            var src = '';
            if(data.status){
                //修改表单值
                var name = "{$field.name}";
                var name_val = $("input[name="+name+"]").val();
                if(name_val){
                    $("input[name="+name+"]").val(name_val + ',' + data.id);
                }else{
                    $("input[name="+name+"]").val(data.id);
                }
                //添加文件区
                src = data.url || '__ROOT__' + data.path;
                var pobj = $("input[name="+name+"]").parent().find('.upload-img-box');
                pobj.html(pobj.html() +  "<div class=\"upload-pre-item\"><div class=\"file\"><span class=\"upload_icon_all\"></span>" + data.name + "</div><div class=\"close\"></div></div>") ;
                //加载删除事件
                window.multiclose.close();
            } else {
                updateAlert(data.info);
                setTimeout(function(){
                    $('#top-alert').find('button').click();
                    $(that).removeClass('disabled').prop('disabled',false);
                },1500);
            }
        }
    </script>
</case>
<default/>
<input type="text" class="text input-large" name="{$field.name}" value="{$data[$field['name']]}">
</switch>
</div>
</div>
</if>
</volist>
<script type="text/javascript">
    function get_city(province)
    {
        $.ajax({
            type: "GET",
            url: "/admin.php?s=/api/getCity",
            dataType:"json",
            async:false,
            data: {province_id:province},
            success: function(data){
                var option='<option value="0" selected>无</option>';
                for(var i in data){
                    //console.dir(obj.parentNode);
                    option+='<option value="'+data[i].id+'">'+data[i].name+'</option>';
                }
                $("select[name='city_id']").html(option);

            }
        });
    }
    function get_area(city)
    {
        $.ajax({
            type: "GET",
            url: "/admin.php?s=/api/getArea",
            dataType:"json",
            async:false,
            data: {city_id:city},
            success: function(data){
                var option='<option value="0" selected>无</option>';
                for(var i in data){
                    //console.dir(obj.parentNode);
                    option+='<option value="'+data[i].id+'">'+data[i].name+'</option>';
                }
                $("select[name='area_id']").html(option);

            }
        });
    }
    function template(obj){
        if('layout'==obj.name){
            $.ajax({
                type: "GET",
                url: "/admin.php?s=/api/getLayout",
                dataType:"json",
                data: {fun:obj.options[obj.selectedIndex].value},
                success: function(data){
                    //$('#response').html(data);
                    editor_content.html(data.content);
                    $('.dragable',editor_content.edit.iframe.get(0).contentDocument.body).bind('click',function(e){
                        $('.edit',editor_content.edit.iframe.get(0).contentDocument.body).remove();
                        editor_content.loadPlugin('widget', function() {});
                    });
                }
            });
        }
        else if('province_id' == obj.name){  //为省份id变动时

                if($("select[name='city_id']"))
                {
                   var province = obj.options[obj.selectedIndex].value;
                    get_city(province);
                }
              if($("select[name='area_id']"))
              {
                  var option='<option value="0" selected>无</option>';
                  $("select[name='area_id']").html(option);
              }
        }
        else if('city_id' == obj.name){  //为省份id变动时
            if($("select[name='area_id']"))
            {
                var city = obj.options[obj.selectedIndex].value;
                get_area(city)
            }
        }
    }

    <present name="data['province_id']">
        var province = {$data['province_id']};
        get_city(province);
        <present name="data['city_id']">
        var city = {$data['city_id']};
        $("select[name='city_id']").val(city);
        get_area(city);
        var area = {$data['area_id']};
        $("select[name='area_id']").val(area);
        </present>
    </present>
</script>



<script type="text/javascript">
    $(function()
            {
                $(".play_sp span").bind("click",function()
                        {
                            var wei=   $(".play_sp span").index(this) ;
                            $(".div").eq(wei).empty().slideToggle();
                            var urla= $(".play_sp input").eq(wei).val();
                            $(".div").eq(wei).append("<object classid='"+"clsid:D27CDB6E-AE6D-11cf-96B8-444553540000'" +"codebase='"+"http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0'"+ 'width="680"'+ 'height="520">'
                                    +"<param name='movie' value='"+ urla+ "'/>"
                                    +"<param name='quality' value='high'/>"
                                    +"<param name='wmode' value='transparent'/>"
                                    +"<param value='true' name='allowFullScreen'/>"
                                    +"<embed src="+urla+"  wmode='transparent' quality='high' pluginspage='http://www.macromedia.com/go/getflashplayer' type='application/x-shockwave-flash' width='680' height='520'  allowfullscreen='true'/>"
                                    +"</object>");
                        }
                )
            }
    )






</script>